{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}激活{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-activate.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">激活账户</h2>
        <form method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="user icon"></i>
                        {{ form.name(placeholder='姓名') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="key icon"></i>
                        {{ form.activation_code(placeholder='激活码') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password(placeholder='密码') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password2(placeholder='确认密码') }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="inline field">
                        <div class="ui checkbox">
                            {{ form.eula() }}
                            {{ form.eula.label() }}
                        </div>
                    </div>
                    <div class="field">
                        <span>已经激活？</span>
                        <a class="link loading-trigger" href="{{ url_for('auth.login') }}">登录账户</a>
                    </div>
                </div>
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
                {{ macros.auth_message_widget() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-activate.js') }}"></script>
{% endblock %}