{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}激活{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_auth.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">激活账户</h2>
        <form id="activate" action="{{ url_for('auth.activate') }}" method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                {{ form.hidden_tag() }}
                {% with email_errors = form.email.errors %}
                {% if email_errors %}
                <div class="field error">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% else %}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="key icon"></i>
                        {{ form.activation_code(placeholder='激活码') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password(placeholder='新密码') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password2(placeholder='确认密码') }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="inline required field">
                        <div class="ui checkbox">
                            {{ form.accept_tos() }}
                            {{ form.accept_tos.label() }}
                        </div>
                    </div>
                    <div class="field">
                        <span>已经激活？</span>
                        <a class="link loading-trigger" href="{{ url_for('auth.login') }}">登录账户</a>
                    </div>
                </div>
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
                {{ macros.auth_message_widget() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.ui.checkbox').checkbox();

$(document)
    .ready(function () {
        $('#activate')
            .form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入您的电子邮箱地址'
                            },
                            {
                                type: 'email',
                                prompt: '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    },
                    activation_code: {
                        identifier: 'activation_code',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入您的激活码'
                            },
                            {
                                type: 'length[6]',
                                prompt: '激活码长度至少为6位'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请设置您的密码'
                            },
                            {
                                type: 'length[6]',
                                prompt: '密码长度至少为6位'
                            }
                        ]
                    },
                    password2: {
                        identifier: 'password2',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请再次输入您的密码'
                            },
                            {
                                type: 'match[password]',
                                prompt: '两次设置的密码不一致'
                            }
                        ]
                    },
                    accept_tos: {
                        identifier: 'accept_tos',
                        rules: [
                            {
                                type: 'checked',
                                prompt: '请同意云英语服务条款'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}