{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}修改密码{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_auth.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">修改密码</h2>
        <form id="change-password" action="{{ url_for('auth.change_password') }}" method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.old_password(placeholder='旧密码') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password(placeholder='新密码') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password2(placeholder='确认新密码') }}
                    </div>
                </div>
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
                {{ macros.auth_message_widget() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$(document)
    .ready(function() {
        $('#change-password')
            .form({
                onSuccess: submitForm,
                fields: {
                    old_password: {
                        identifier: 'old_password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请设输入您的旧密码'
                            },
                            {
                                type: 'length[6]',
                                prompt: '密码长度至少为6位'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请设置您的新密码'
                            },
                            {
                                type: 'different[old_password]',
                                prompt: '新密码与旧密码相同'
                            },
                            {
                                type: 'length[6]',
                                prompt: '密码长度至少为6位'
                            }
                        ]
                    },
                    password2: {
                        identifier: 'password2',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请再次输入您的新密码'
                            },
                            {
                                type: 'match[password]',
                                prompt: '两次设置的新密码不一致'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}