{% extends "base.html" %}

{% block title %}修改密码{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-change-password.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">修改密码</h2>
        <form method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.old_password(placeholder='旧密码') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password(placeholder='新密码') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password2(placeholder='确认新密码') }}
                    </div>
                </div>
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="ui flask negative message">
                    <ul class="list">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-change-password.js') }}"></script>
{% endblock %}