{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-login.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">登录账户</h2>
        <form class="ui inverted form">
            <div class="ui inverted segment">
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        <input type="text" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="ui fluid huge inverted submit button"><i class="sign in icon"></i> 登录</div>
                <div class="ui error message"></div>
                <div class="ui message">账户尚未激活？<a href="#">去激活</a></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-login.js') }}"></script>
{% endblock %}