{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-login.css') }}">
{% endblock %}

{% block following_menu_auth %}
{% endblock %}

{% block sidebar_menu_auth %}
{% endblock %}

{% block menu_auth %}
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">登录账户</h2>
        <form method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password(placeholder='密码') }}
                    </div>
                </div>
                <div class="three fields">
                    <div class="inline field">
                        <div class="ui large checkbox">
                            {{ form.remember_me() }}
                            {{ form.remember_me.label() }}
                        </div>
                    </div>
                    <div class="field">
                        <a class="link" href="#">重设密码</a>
                    </div>
                    <div class="field">
                        <a class="link" href="#">激活账户</a>
                    </div>
                </div>
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-login.js') }}"></script>
{% endblock %}