{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}登录{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-login.css') }}">
{% endblock %}

{% block following_menu_auth %}
<a class="right item" href="{{ url_for('auth.activate') }}"><i class="lightning icon"></i> 激活</a>
{% endblock %}

{% block sidebar_menu_auth %}
<a class="right item" href="{{ url_for('auth.activate') }}"><i class="lightning icon"></i> 激活</a>
{% endblock %}

{% block menu_auth %}
<a class="right item" href="{{ url_for('auth.activate') }}"><i class="lightning icon"></i> 激活</a>
{% endblock %}

{% block page_masthead %}
{{ super() }}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">登录账户</h2>
        <form method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                {{ form.hidden_tag() }}
                {% with email_errors = form.email.errors %}
                {% if email_errors %}
                <div class="field error">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% else %}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="lock icon"></i>
                        {{ form.password(placeholder='密码') }}
                    </div>
                </div>
                <div class="three fields">
                    <div class="inline field">
                        <div class="ui checkbox">
                            {{ form.remember_me() }}
                            {{ form.remember_me.label() }}
                        </div>
                    </div>
                    <div class="field">
                        <a class="link loading-trigger" href="{{ url_for('auth.reset_password_request') }}">忘记密码</a>
                    </div>
                    <div class="field">
                        <a class="link loading-trigger" href="{{ url_for('auth.activate') }}">激活账户</a>
                    </div>
                </div>
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
                {% with errors = form.email.errors %}
                {% if errors %}
                <div class="ui flask negative message">
                    <ul class="list">
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
                {{ macros.auth_message_widget() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-login.js') }}"></script>
{% endblock %}