{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}重置密码{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment .ui.grid {
    height: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.masthead.segment .column {
    max-width: 450px;
}
.masthead.segment .ui.inverted.form .ui.inverted.segment div.fields a.link {
    color: rgba(255,255,255,.5);
}
.masthead.segment .ui.inverted.form .ui.inverted.segment div.fields a.link:active,
.masthead.segment .ui.inverted.form .ui.inverted.segment div.fields a.link:hover {
    color: #fff;
}
.masthead.segment .ui.inverted.form .ui.inverted.segment .ui.flask.message {
    display: block;
}

@media only screen and (max-width: 767px) {
    .masthead.segment .ui.grid {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .masthead.segment .ui.inverted.form .ui.inverted.segment div.fields {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">重置密码</h2>
        <form id="reset-password-request" method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                {{ form.hidden_tag() }}
                {% with email_errors = form.email.errors %}
                {% if email_errors %}
                <div class="field error">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% else %}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
                {% with errors = form.email.errors %}
                {% if errors %}
                <div class="ui flask negative message">
                    <ul class="list">
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
                {{ macros.auth_message_widget() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$(document)
    .ready(function() {
        $('#reset-password-request')
            .form({
                onSuccess: submitForm,
                fields: {
                    email: {
                        identifier  : 'email',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入您的电子邮箱地址'
                            },
                            {
                                type   : 'email',
                                prompt : '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}