{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}重置密码{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-reset-password-request.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">重置密码</h2>
        <form method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                {{ form.hidden_tag() }}
                {% with email_errors = form.email.errors %}
                {% if email_errors %}
                <div class="field error">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% else %}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
                {% with errors = form.email.errors %}
                {% if errors %}
                <div class="ui flask negative message">
                    <ul class="list">
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
                {{ macros.auth_message_widget() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-reset-password-request.js') }}"></script>
{% endblock %}