{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}重置密码{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_auth.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui inverted header">重置密码</h2>
        <form id="reset-password-request" action="{{ url_for('auth.reset_password_request') }}" method="POST" class="ui inverted form">
            <div class="ui inverted segment">
                {{ form.hidden_tag() }}
                {% with email_errors = form.email.errors %}
                {% if email_errors %}
                <div class="field error">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% else %}
                <div class="field">
                    <div class="ui large left icon input">
                        <i class="at icon"></i>
                        {{ form.email(placeholder='邮箱') }}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <div class="field">
                    {{ form.submit(class='ui fluid huge inverted submit button') }}
                </div>
                <div class="ui error message"></div>
                {{ macros.form_validation_error_widget(form) }}
                {{ macros.auth_message_widget() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$(document)
    .ready(function () {
        $('#reset-password-request')
            .form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入您的电子邮箱地址'
                            },
                            {
                                type: 'email',
                                prompt: '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}