{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}确认邮箱{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_unconfirmed.html' %}
{% endblock %}

{% block page_masthead %}
{{ super() }}
<div class="ui text container">
    <h1 class="ui inverted header">确认邮箱</h1>
    <h2>请点击确认邮件中的链接以确认邮箱，或者</h2>
    <div class="ui buttons">
        <a class="ui inverted yellow basic button loading-trigger" href="{{ url_for('auth.resend_confirmation') }}"><i class="repeat icon"></i>重发邮件</a>
        <a class="ui inverted yellow basic button loading-trigger" href="{{ url_for('auth.change_email_request') }}"><i class="edit icon"></i>修改邮箱</a>
    </div>
    {{ macros.message_widget() }}
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;
</script>
{% endblock %}