{% extends "base.html" %}

{% block title %}确认邮箱{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-unconfirmed.css') }}">
{% endblock %}

{% block page_masthead %}
{{ super() }}
<div class="ui text container">
    <h1 class="ui inverted header">确认邮箱</h1>
    <h2>请点击确认邮件中的链接以确认邮箱，或者</h2>
    <a class="ui huge inverted yellow basic button" href="{{ url_for('auth.resend_confirmation') }}"><i class="send icon"></i> 重发确认邮件</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-unconfirmed.js') }}"></script>
{% endblock %}