{% extends "base.html" %}

{% block title %}访客分析{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-analytics.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="line chart icon"></i> 访客分析</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div id="visit-summary" class="echart-container"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/macarons.js') }}"></script>
<script>
    var analyticsAPIurl = 'https://dev.y-english.org/analytics/?callback=?';
    var analyticsToken = '{{ analytics_token }}';
</script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-analytics.js') }}"></script>
{% endblock %}
