{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}通知管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/editor/wangEditor.min.css') }}">
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="announcement icon"></i>通知管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="announcement icon"></i>通知列表</h3>
                <div id="new-announcement-trigger" class="ui right floated positive circular icon button popup-item" data-content="新建通知" data-position="top center" data-variation="inverted"><i class="add icon"></i></div>
                <div id="new-announcement-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建通知</div>
                    <div class="content">
                        <form id="new-announcement" action="{{ url_for('manage.announcement') }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="twelve wide required field">
                                    {{ form.title.label() }}
                                    {{ form.title(placeholder='通知标题') }}
                                </div>
                                <div class="four wide required field">
                                    {{ form.announcement_type.label() }}
                                    {{ form.announcement_type(class='ui dropdown') }}
                                </div>
                            </div>
                            <div class="required field">
                                {{ form.body.label() }}
                                {{ form.body(placeholder='通知内容') }}
                            </div>
                            <div class="ui segment">
                                <div class="inline field">
                                    <div class="ui toggle checkbox">
                                        {{ form.show() }}
                                        {{ form.show.label() }}
                                    </div>
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div class="ui secondary stackable menu">
                    <a class="item active loading-trigger" href="{{ url_for('manage.announcement', page=pagination.page) }}">全部</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>通知标题</th>
                            <th>通知内容</th>
                            <th>通知类型</th>
                            <th>发布状态</th>
                            <th>上次操作</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for announcement in announcements %}
                        <tr class="top aligned">
                            <td>{{ announcement.title }}</td>
                            <td>{{ announcement.body_html | safe }}</td>
                            <td class="single line">{{ announcement.type.name }}</td>
                            {% if announcement.show %}<td class="active">发布中</td>{% else %}<td>未发布</td>{% endif %}
                            <td class="single line">
                                <div class="popup-trigger" data-variation="inverted">{{ moment(announcement.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(announcement.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td class="single line">{{ macros.user_popup(announcement.modified_by, announcement.modified_by.id == current_user.id) }}</td>
                            <td>
                                <div class="ui mini icon buttons">
                                    {% if announcement.show %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.retract_announcement', id=announcement.id, next=url_for('manage.announcement', page=pagination.page)) }}" title="撤回"><i class="undo icon"></i></a>
                                    {% else %}
                                    <a class="ui primary button loading-trigger" href="{{ url_for('manage.publish_announcement', id=announcement.id, next=url_for('manage.announcement', page=pagination.page)) }}" title="发布"><i class="send icon"></i></a>
                                    {% endif %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.edit_announcement', id=announcement.id, next=url_for('manage.announcement', page=pagination.page)) }}"><i class="edit icon"></i></a>
                                    <div id="delete-trigger-{{ announcement.id }}" class="ui negative button"><i class="trash outline icon"></i></div>
                                </div>
                                <div id="delete-modal-{{ announcement.id }}" class="ui modal">
                                    <div class="header"><i class="warning sign icon"></i>确定要删除通知“{{ announcement.title }}”？</div>
                                    <div class="actions">
                                        <a class="ui negative left labeled icon button loading-trigger" href="{{ url_for('manage.delete_announcement', id=announcement.id, next=url_for('manage.announcement', page=pagination.page)) }}"><i class="trash outline icon"></i>删除</a>
                                        <div id="delete-hide-trigger-{{ announcement.id }}" class="ui black button">保留</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.announcement') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/editor/wangEditor.min.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$('.ui.sortable.table').tablesort();

{% for announcement in announcements %}
$('#delete-trigger-{{ announcement.id }}')
    .on('click', function() {
        $('#delete-modal-{{ announcement.id }}').modal({ autofocus: false }).modal('show');
    })
;
$('#delete-hide-trigger-{{ announcement.id }}')
    .on('click', function() {
        $('#delete-modal-{{ announcement.id }}').modal('hide');
    })
;
{% endfor %}

$('#new-announcement-trigger')
    .on('click', function() {
        $('#new-announcement-modal').modal({ autofocus: false }).modal('show');
    })
;

$(document)
    .ready(function() {
        $('#new-announcement')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    title: {
                        identifier: 'title',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入通知标题'
                            }
                        ]
                    },
                    announcement_type: {
                        identifier: 'announcement_type',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择通知类型'
                            }
                        ]
                    },
                    body: {
                        identifier: 'body',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入通知内容'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

// editor
var editor = new wangEditor('body');
editor.config.menus = [
    'source',
    '|',
    'bold',
    'underline',
    'italic',
    'strikethrough',
    'forecolor',
    '|',
    'quote',
    'unorderlist',
    'orderlist',
    '|',
    'eraser',
    'undo',
    'redo',
 ];
editor.create();
</script>
{% endblock %}