{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}作业记录{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="file text icon"></i>{{ assignment.alias }}</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="file text outline icon"></i>作业记录</h3>
                <div id="new-score-trigger" class="ui right floated positive circular icon button popup-item" data-content="新建作业记录" data-position="top center" data-variation="inverted"><i class="add icon"></i></div>
                <div id="new-score-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建作业记录</div>
                    <div class="content">
                        <form id="new-score" action="{{ url_for('manage.assignment_score', id=assignment.id) }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="required field">
                                {{ form.email.label() }}
                                <div class="ui fluid search">
                                    {{ form.email(placeholder='输入姓名/邮箱查询', class='prompt') }}
                                    <div class="results"></div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ form.assignment.label() }}
                                    {{ form.assignment(class='ui dropdown') }}
                                </div>
                                <div class="eight wide required field">
                                    {{ form.grade.label() }}
                                    {{ form.grade(class='ui dropdown') }}
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div class="ui secondary stackable menu">
                    <a class="item active loading-trigger" href="{{ url_for('manage.assignment_score', id=assignment.id, page=pagination.page) }}">全部</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.assignment') }}">作业列表</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>学生</th>
                            <th>作业</th>
                            <th>成绩</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in scores %}
                        <tr>
                            <td class="single line">{{ macros.user_popup_gender(score.user, score.user.id == current_user.id) }}</td>
                            <td>{{ score.assignment.name }}</td>
                            <td>{{ score.grade.name }}</td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(score.created_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(score.created_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(score.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(score.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td class="single line">{{ macros.user_popup(score.modified_by, score.modified_by.id == current_user.id) }}</td>
                            <td>
                                <div class="ui mini icon buttons">
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.edit_assignment_score', id=score.id) }}"><i class="edit icon"></i></a>
                                    <div id="delete-trigger-{{ score.id }}" class="ui negative button"><i class="trash outline icon"></i></div>
                                </div>
                                <div id="delete-modal-{{ score.id }}" class="ui modal">
                                    <div class="header"><i class="warning sign icon"></i>确定要删除作业记录“{{ score.alias }}”？</div>
                                    <div class="actions">
                                        <a class="ui negative left labeled icon button loading-trigger" href="{{ url_for('manage.delete_assignment_score', id=score.id) }}"><i class="trash outline icon"></i>删除</a>
                                        <div id="delete-hide-trigger-{{ score.id }}" class="ui black button">保留</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.assignment_score', id=assignment.id) }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$('.ui.sortable.table').tablesort();

{% for score in scores %}
$('#delete-trigger-{{ score.id }}')
    .on('click', function() {
        $('#delete-modal-{{ score.id }}').modal({ autofocus: false }).modal('show');
    })
;
$('#delete-hide-trigger-{{ score.id }}')
    .on('click', function() {
        $('#delete-modal-{{ score.id }}').modal('hide');
    })
;
{% endfor %}

$('#new-score-trigger')
    .on('click', function() {
        $('#new-score-modal').modal({ autofocus: false }).modal('show');
    })
;

$(document)
    .ready(function() {
        $('#new-score')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入用户邮箱'
                            },
                            {
                                type: 'email',
                                prompt: '请输入有效的用户邮箱'
                            }
                        ]
                    },
                    assignment: {
                        identifier: 'assignment',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择作业'
                            }
                        ]
                    },
                    grade: {
                        identifier: 'grade',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择作业成绩'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

$('.ui.search')
    .search({
        apiSettings: {
            url: "{% if current_user.is_developer %}{{ url_for('manage.suggest_email_dev') }}{% else %}{{ url_for('manage.suggest_email') }}{% endif %}?keyword={query}"
        },
        showNoResults: false
    })
;
</script>
{% endblock %}