{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}作业管理{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="file text icon"></i>作业管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="file text outline icon"></i>作业列表</h3>
                <div id="new-score-trigger" class="ui right floated positive circular icon button" data-content="新建作业记录" data-position="top center" data-variation="inverted"><i class="add icon"></i></div>
                <div id="new-score-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建作业记录</div>
                    <div class="content">
                        <form id="new-score" action="{{ url_for('manage.assignment') }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="required field">
                                {{ form.email.label() }}
                                <div class="ui fluid search">
                                    {{ form.email(placeholder='输入姓名/邮箱查询', class='prompt') }}
                                    <div class="results"></div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ form.assignment.label() }}
                                    {{ form.assignment(class='ui dropdown') }}
                                </div>
                                <div class="eight wide required field">
                                    {{ form.grade.label() }}
                                    {{ form.grade(class='ui dropdown') }}
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_vb_assignments %}active {% endif %}loading-trigger" href="{{ url_for('manage.vb_assignments') }}">VB作业</a>
                    <a class="item {% if show_y_gre_assignments %}active {% endif %}loading-trigger" href="{{ url_for('manage.y_gre_assignments') }}">Y-GRE作业</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>作业名称</th>
                            <th>类型</th>
                            <th>从属课程</th>
                            <th>完成记录</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in assignments %}
                        <tr>
                            <td>{{ assignment.name }}</td>
                            <td>{{ assignment.lesson.type.name }}</td>
                            <td>{{ assignment.lesson.name }}</td>
                            <td>{% if assignment.finished_by_alias.count() %}<a class="score loading-trigger" href="{{ url_for('manage.assignment_score', id=assignment.id, next=url_for('manage.assignment', page=pagination.page)) }}" data-content="查看{{ assignment.finished_by_alias.count() }}条作业记录" data-position="top center" data-variation="inverted">{{ assignment.finished_by_alias.count() }} 条</a>{% else %}0 条{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.assignment') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.sortable.table').tablesort();

$('td a.score.loading-trigger').popup();

$('#new-score-trigger').popup();
$('#new-score-trigger')
    .on('click', function() {
        $('#new-score-modal').modal({ autofocus: false }).modal('show');
    })
;

$(document)
    .ready(function() {
        $('#new-score')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入用户邮箱'
                            },
                            {
                                type: 'email',
                                prompt: '请输入有效的用户邮箱'
                            }
                        ]
                    },
                    assignment: {
                        identifier: 'assignment',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择作业'
                            }
                        ]
                    },
                    grade: {
                        identifier: 'grade',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择作业成绩'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

$('.ui.search')
    .search({
        apiSettings: {
            url: "{{ url_for('manage.suggest_email_all') }}?keyword={query}"
        },
        showNoResults: false
    })
;
</script>
{% endblock %}