{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}预约管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-booking.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="calendar icon"></i> 预约管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div id="bookings" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header">预约记录</h3>
                <div class="ui tabular menu">
                    {% if show_today %}
                    <a class="item active" href="{{ url_for('manage.today_booking') }}#bookings">当日预约记录</a>
                    <a class="item" href="{{ url_for('manage.future_booking') }}#bookings">未来预约记录</a>
                    <a class="item" href="{{ url_for('manage.history_booking') }}#bookings">历史预约记录</a>
                    {% endif %}
                    {% if show_future %}
                    <a class="item" href="{{ url_for('manage.today_booking') }}#bookings">当日预约记录</a>
                    <a class="item active" href="{{ url_for('manage.future_booking') }}#bookings">未来预约记录</a>
                    <a class="item" href="{{ url_for('manage.history_booking') }}#bookings">历史预约记录</a>
                    {% endif %}
                    {% if show_history %}
                    <a class="item" href="{{ url_for('manage.today_booking') }}#bookings">当日预约记录</a>
                    <a class="item" href="{{ url_for('manage.future_booking') }}#bookings">未来预约记录</a>
                    <a class="item active" href="{{ url_for('manage.history_booking') }}#bookings">历史预约记录</a>
                    {% endif %}
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>用户</th>
                            <th>课程</th>
                            <th>时段</th>
                            <th>状态</th>
                            <th>操作时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ moment(booking.schedule.date).format('YYYY-M-D ddd') }}</td>
                            <td>{{ booking.user.name }}（{{ booking.user.email }}）</td>
                            <td>{{ booking.schedule.period.type.name }}</td>
                            <td>
                                {% if booking.schedule.unstarted %}
                                <div class="ui teal label">{{ booking.schedule.time_state }}</div>
                                {% endif %}
                                {% if booking.schedule.started %}
                                <div class="ui red label">{{ booking.schedule.time_state }}</div>
                                {% endif %}
                                {% if booking.schedule.ended %}
                                <div class="ui label">{{ booking.schedule.time_state }}</div>
                                {% endif %}
                                {{ moment(booking.schedule.period.start_time_utc).format('H:mm') }} - {{ moment(booking.schedule.period.end_time_utc).format('H:mm') }}
                            </td>
                            <td>
                                {% if booking.valid %}
                                <i class="checked calendar icon"></i>
                                {% endif %}
                                {% if booking.waited %}
                                <i class="wait icon"></i>
                                {% endif %}
                                {% if booking.canceled %}
                                <i class="remove from calendar icon"></i>
                                {% endif %}
                                {% if booking.kept %}
                                <i class="smile icon"></i>
                                {% endif %}
                                {% if booking.late %}
                                <i class="meh icon"></i>
                                {% endif %}
                                {% if booking.missed %}
                                <i class="frown icon"></i>
                                {% endif %}
                                {% if booking.invalid %}
                                <i class="delete icon"></i>
                                {% endif %}
                                {{ booking.state.name }}
                                {% if booking.schedule.full %}
                                <div class="ui red label">{{ booking.schedule.occupied_quota }} / {{ booking.schedule.quota }}</div>
                                {% else %}
                                <div class="ui label">{{ booking.schedule.occupied_quota }} / {{ booking.schedule.quota }}</div>
                                {% endif %}
                            </td>
                            <td>{{ moment(booking.timestamp).format('YYYY-M-D H:mm:ss') }}</td>
                            <td>
                                <div class="ui simple dropdown button">
                                    <i class="wrench icon"></i>
                                    操作
                                    <div class="menu">
                                    {% if booking.schedule.unstarted %}
                                        {% if booking.valid %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_canceled', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="remove from calendar icon"></i> 取消</a>
                                        {% endif %}
                                        {% if booking.waited %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_canceled', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="remove from calendar icon"></i> 取消</a>
                                        {% endif %}
                                        {% if booking.canceled %}
                                        {% if booking.schedule.full %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_wait', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="wait icon"></i> 候选</a>
                                        {% else %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_valid', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="add to calendar icon"></i> 预约</a>
                                        {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if booking.schedule.started %}
                                        {% if not booking.kept %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_kept', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="smile icon"></i> 赴约</a>
                                        {% endif %}
                                        {% if not booking.late %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_late', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="meh icon"></i> 迟到</a>
                                        {% endif %}
                                        {% if not booking.missed %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_missed', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="frown icon"></i> 爽约</a>
                                        {% endif %}
                                        {% if not booking.invalid %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_invalid', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="frown icon"></i> 失效</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if booking.schedule.ended %}
                                        {% if not booking.kept %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_kept', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="smile icon"></i> 赴约</a>
                                        {% endif %}
                                        {% if not booking.late %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_late', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="meh icon"></i> 迟到</a>
                                        {% endif %}
                                        {% if not booking.missed %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_missed', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="frown icon"></i> 爽约</a>
                                        {% endif %}
                                        {% if not booking.invalid %}
                                        <a class="item" href="{{ url_for('manage.set_booking_state_invalid', user_id=booking.user_id, schedule_id=booking.schedule_id, page=pagination.page) }}"><i class="delete calendar icon"></i> 失效</a>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'manage.booking') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-booking.js') }}"></script>
{% endblock %}
