{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}预约管理{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="calendar icon"></i>预约管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="checked calendar icon"></i>预约记录</h3>
                <a id="batch-mark-trigger" class="ui right floated positive circular icon button loading-trigger" href="{{ url_for('manage.set_booking_state_missed_all', next=url_for('manage.booking', page=pagination.page)) }}" data-content="批量标记爽约/失效" data-position="top center" data-variation="inverted"><i class="repeat icon"></i></a>
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_today_booking %}active {% endif %}loading-trigger" href="{{ url_for('manage.today_booking') }}">当日记录</a>
                    <a class="item {% if show_future_booking %}active {% endif %}loading-trigger" href="{{ url_for('manage.future_booking') }}">未来记录</a>
                    <a class="item {% if show_history_booking %}active {% endif %}loading-trigger" href="{{ url_for('manage.history_booking') }}">历史记录</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>用户</th>
                            <th>课程</th>
                            {% if show_history_booking %}
                            {% else %}
                            <th>进度</th>
                            {% endif %}
                            <th>时段</th>
                            <th>状态</th>
                            <th>操作时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ moment(booking.schedule.date).format('YYYY-M-D ddd') }}</td>
                            <td>{{ macros.user_popup(booking.user, booking.user.id == current_user.id) }}</td>
                            <td>{{ booking.schedule.period.type.name }}</td>
                            {% if show_history_booking %}
                            {% else %}
                            <td>
                                {{ booking.user.last_punch.section.alias2 }}
                                {% if current_user.can('管理学习进度') %}
                                <a class="ui mini icon button loading-trigger" href="{{ url_for('manage.edit_punch_step_1', user_id=booking.user.id, next=url_for('manage.booking', page=pagination.page)) }}"><i class="refresh icon"></i></a>
                                {% endif %}
                            </td>
                            {% endif %}
                            <td>
                                {% if booking.schedule.unstarted %}
                                <div class="ui teal label">{{ booking.schedule.time_state }}</div>
                                {% endif %}
                                {% if booking.schedule.started %}
                                <div class="ui red label">{{ booking.schedule.time_state }}</div>
                                {% endif %}
                                {% if booking.schedule.ended %}
                                <div class="ui label">{{ booking.schedule.time_state }}</div>
                                {% endif %}
                                {{ moment(booking.schedule.period.start_time_utc).format('H:mm') }} - {{ moment(booking.schedule.period.end_time_utc).format('H:mm') }}
                                {% if booking.schedule.full %}
                                <div class="ui red label">{{ booking.schedule.occupied_quota }} / {{ booking.schedule.quota }}</div>
                                {% else %}
                                <div class="ui label">{{ booking.schedule.occupied_quota }} / {{ booking.schedule.quota }}</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if booking.valid %}
                                <i class="checked calendar icon"></i>
                                {% endif %}
                                {% if booking.waited %}
                                <i class="wait icon"></i>
                                {% endif %}
                                {% if booking.canceled %}
                                <i class="remove from calendar icon"></i>
                                {% endif %}
                                {% if booking.kept %}
                                <i class="smile icon"></i>
                                {% endif %}
                                {% if booking.late %}
                                <i class="meh icon"></i>
                                {% endif %}
                                {% if booking.missed %}
                                <i class="frown icon"></i>
                                {% endif %}
                                {% if booking.invalid %}
                                <i class="delete calendar icon"></i>
                                {% endif %}
                                {{ booking.state.name }}
                                {% if booking.valid %}
                                <a id="booking-qr-code-click-{{ booking.user_id }}-{{ booking.schedule_id }}"><i class="large qrcode icon"></i></a>
                                <div id="booking-qr-code-{{ booking.user_id }}-{{ booking.schedule_id }}" class="ui flowing popup top left transition hidden">
                                    <img class="ui small image" src="{{ qrcode(booking.token) }}">
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(booking.timestamp).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(booking.timestamp).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>
                                {% if booking.schedule.unstarted %}
                                {% if booking.kept %}
                                <div class="ui mini button disabled"><i class="ban icon"></i>无</div>
                                {% endif %}
                                {% if booking.valid or booking.waited %}
                                <a class="ui mini button loading-trigger" href="{{ url_for('manage.set_booking_state_canceled', user_id=booking.user_id, schedule_id=booking.schedule_id, next=url_for('manage.booking', page=pagination.page)) }}"><i class="remove from calendar icon"></i>取消</a>
                                {% endif %}
                                {% if booking.canceled %}
                                {% if booking.schedule.full %}
                                <a class="ui mini button loading-trigger" href="{{ url_for('manage.set_booking_state_wait', user_id=booking.user_id, schedule_id=booking.schedule_id, next=url_for('manage.booking', page=pagination.page)) }}"><i class="wait icon"></i>候选</a>
                                {% else %}
                                <a class="ui mini button loading-trigger" href="{{ url_for('manage.set_booking_state_valid', user_id=booking.user_id, schedule_id=booking.schedule_id, next=url_for('manage.booking', page=pagination.page)) }}"><i class="add to calendar icon"></i>预约</a>
                                {% endif %}
                                {% endif %}
                                {% else %}
                                <div class="ui simple dropdown mini button">
                                    <i class="wrench icon"></i>
                                    操作
                                    <div class="menu">
                                        {% if not booking.kept %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_booking_state_kept', user_id=booking.user_id, schedule_id=booking.schedule_id, next=url_for('manage.booking', page=pagination.page)) }}"><i class="smile icon"></i>赴约</a>
                                        {% endif %}
                                        {% if not booking.late %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_booking_state_late', user_id=booking.user_id, schedule_id=booking.schedule_id, next=url_for('manage.booking', page=pagination.page)) }}"><i class="meh icon"></i>迟到</a>
                                        {% endif %}
                                        {% if not booking.missed %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_booking_state_missed', user_id=booking.user_id, schedule_id=booking.schedule_id, next=url_for('manage.booking', page=pagination.page)) }}"><i class="frown icon"></i>爽约</a>
                                        {% endif %}
                                        {% if not booking.invalid %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_booking_state_invalid', user_id=booking.user_id, schedule_id=booking.schedule_id, next=url_for('manage.booking', page=pagination.page)) }}"><i class="delete calendar icon"></i>失效</a>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.booking') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('table').tablesort();

$('#batch-mark-trigger').popup();

{% for booking in bookings %}
$('#booking-qr-code-click-{{ booking.user_id }}-{{ booking.schedule_id }}')
    .popup({
        popup: $('#booking-qr-code-{{ booking.user_id }}-{{ booking.schedule_id }}'),
        on: 'click'
    })
;
{% endfor %}
</script>
{% endblock %}