{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}班级管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.table .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.form .ui.flask.message {
    display: block;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="student icon"></i>班级管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="student icon"></i>班级列表</h3>
                <div id="new-course-trigger" class="ui right floated positive circular icon button" data-content="新建班级" data-position="top center" data-variation="inverted"><i class="add icon"></i></div>
                <div id="new-course-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建班级</div>
                    <div class="content">
                        <form id="new-course" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ form.name.label() }}
                                    {{ form.name(placeholder='班级名称') }}
                                </div>
                                <div class="eight wide required field">
                                    {{ form.course_type.label() }}
                                    {{ form.course_type(class='ui dropdown') }}
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="inline field">
                                    <div class="ui toggle checkbox">
                                        {{ form.show() }}
                                        {{ form.show.label() }}
                                    </div>
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_vb_courses %}active {% endif %}loading-trigger" href="{{ url_for('manage.vb_courses') }}">VB班</a>
                    <a class="item {% if show_y_gre_courses %}active {% endif %}loading-trigger" href="{{ url_for('manage.y_gre_courses') }}">Y-GRE班</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>班级</th>
                            <th>类型</th>
                            <th>人数</th>
                            <th>可选状态</th>
                            <th>上次操作</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td>{{ course.type.name }}</td>
                            <td>{% if course.valid_registrations.count() %}<a class="user loading-trigger" href="{{ url_for('manage.course_user', id=course.id, next=url_for('manage.course', page=pagination.page)) }}" data-content="查看班级用户" data-position="top center" data-variation="inverted">{{ course.valid_registrations.count() }} 人</a>{% else %}0 人{% endif %}</td>
                            {% if course.show %}<td class="active">可选</td>{% else %}<td>不可选</td>{% endif %}
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(course.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(course.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ macros.user_popup(course.modified_by) }}</td>
                            <td>
                                <div class="ui mini icon buttons">
                                    {% if course.show %}
                                    <a class="ui grey button loading-trigger" href="{{ url_for('manage.toggle_course_show', id=course.id, next=url_for('manage.course', page=pagination.page)) }}"><i class="unhide icon"></i></a>
                                    {% else %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.toggle_course_show', id=course.id, next=url_for('manage.course', page=pagination.page)) }}"><i class="hide icon"></i></a>
                                    {% endif %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.edit_course', id=course.id, next=url_for('manage.course', page=pagination.page)) }}"><i class="edit icon"></i></a>
                                    <div id="delete-trigger-{{ course.id }}" class="ui negative button"><i class="trash outline icon"></i></div>
                                </div>
                                <div id="delete-modal-{{ course.id }}" class="ui modal">
                                    <div class="header"><i class="warning sign icon"></i>确定要删除班级“{{ course.name }}”？</div>
                                    <div class="actions">
                                        <a class="ui negative left labeled icon button loading-trigger" href="{{ url_for('manage.delete_course', id=course.id, next=url_for('manage.course', page=pagination.page)) }}"><i class="trash outline icon"></i>删除</a>
                                        <div id="delete-hide-trigger-{{ course.id }}" class="ui black button">保留</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.course') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$('table').tablesort();

$('td a.user.loading-trigger').popup();

{% for course in courses %}
$('#delete-trigger-{{ course.id }}')
    .on('click', function() {
        $('#delete-modal-{{ course.id }}').modal({ autofocus: false }).modal('show');
    })
;
$('#delete-hide-trigger-{{ course.id }}')
    .on('click', function() {
        $('#delete-modal-{{ course.id }}').modal('hide');
    })
;
{% endfor %}

$('#new-course-trigger').popup();
$('#new-course-trigger')
    .on('click', function() {
        $('#new-course-modal').modal({ autofocus: false }).modal('show');
    })
;

$(document)
    .ready(function() {
        $('#new-course')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入班级名称'
                            }
                        ]
                    },
                    course_type: {
                        identifier: 'course_type',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择班级类型'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}