{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}新建普通用户{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.form .ui.flask.message {
    display: block;
}
.ui.vertical.stripe .ui.form .ui.button.cancel {
    margin-left: 5px;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="add user icon"></i> 新建普通用户</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <form id="create-user" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <h4 class="ui dividing header">基本信息</h4>
                    <div class="fields">
                        <div class="five wide field">
                            {{ form.name.label() }}
                            {{ form.name(placeholder='姓名') }}
                        </div>
                        <div class="three wide field">
                            {{ form.gender.label() }}
                            {{ form.gender(class='ui dropdown') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.id_number.label() }}
                            {{ form.id_number(placeholder='身份证号') }}
                        </div>
                    </div>
                    <h4 class="ui dividing header">联系方式</h4>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.email.label() }}
                            {{ form.email(placeholder='邮箱') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.mobile.label() }}
                            {{ form.mobile(placeholder='移动电话') }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.address.label() }}
                        {{ form.address(placeholder='联系地址') }}
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.qq.label() }}
                            {{ form.qq(placeholder='QQ') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.wechat.label() }}
                            {{ form.wechat(placeholder='微信') }}
                        </div>
                    </div>
                    <h4 class="ui dividing header">紧急联系人</h4>
                    <div class="fields">
                        <div class="five wide field">
                            {{ form.emergency_contact_name.label() }}
                            {{ form.emergency_contact_name(placeholder='姓名') }}
                        </div>
                        <div class="three wide field">
                            {{ form.emergency_contact_relationship.label() }}
                            {{ form.emergency_contact_relationship(class='ui dropdown') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.emergency_contact_mobile.label() }}
                            {{ form.emergency_contact_mobile(placeholder='如：手机') }}
                        </div>
                    </div>
                    <h4 class="ui dividing header">报名信息</h4>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.purposes.label() }}
                            {{ form.purposes(class='ui search dropdown') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.referrers.label() }}
                            {{ form.referrers(class='ui search dropdown') }}
                        </div>
                    </div>
                    <h4 class="ui dividing header">研修信息</h4>
                    <div class="fields">
                        <div class="three wide field">
                            {{ form.role.label() }}
                            {{ form.role(class='ui dropdown') }}
                        </div>
                        <div class="three wide field">
                            {{ form.vb_course.label() }}
                            {{ form.vb_course(class='ui dropdown') }}
                        </div>
                        <div class="three wide field">
                            {{ form.y_gre_course.label() }}
                            {{ form.y_gre_course(class='ui dropdown') }}
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button cancel loading-trigger" href="{{ request.args.get('next') or url_for('manage.user') }}">取消</a>
                    <div class="ui error message"></div>
                    {% with email_errors = form.email.errors %}
                    {% if email_errors %}
                    <div class="ui flask negative message">
                        <ul class="list">
                            {% for error in email_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('select.dropdown')
    .dropdown()
;

$(document)
    .ready(function() {
        $('#create-user')
            .form({
                onSuccess: submitForm,
                fields: {
                    name: {
                        identifier  : 'name',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请填写用户姓名'
                            }
                        ]
                    },
                    email: {
                        identifier  : 'email',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入您的电子邮箱地址'
                            },
                            {
                                type   : 'email',
                                prompt : '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    },
                    role: {
                        identifier  : 'role',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请选择用户组'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}