{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}新建学生用户{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/{{ Version.SemanticUICalendar }}/calendar.min.css" />
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="add user icon"></i>新建学生用户</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui fluid ordered steps">
                    <div class="active step">
                        <div class="content">
                            <div class="title">填写资料</div>
                            <div class="description">用户资料、报名信息</div>
                        </div>
                    </div>
                    <div class="disabled step">
                        <div class="content">
                            <div class="title">确认信息</div>
                            <div class="description">接待信息、服务条款</div>
                        </div>
                    </div>
                </div>
                <form id="create-user" action="{{ url_for('manage.create_user') }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="ui blue dividing header">基本信息</div>
                    <div class="fields">
                        <div class="four wide required field">
                            {{ form.name.label() }}
                            {{ form.name(placeholder='姓名') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.id_type.label() }}
                            {{ form.id_type(class='ui dropdown') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.id_number.label() }}
                            {{ form.id_number(placeholder='证件编号') }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="four wide required field">
                            {{ form.gender.label() }}
                            {{ form.gender(class='ui dropdown') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.birthdate.label() }}
                            <div class="ui date calendar">
                                <div class="ui left icon input">
                                    <i class="birthday icon"></i>
                                    {{ form.birthdate(placeholder='格式：YYYY-MM-DD') }}
                                </div>
                            </div>
                        </div>
                        <div class="eight wide field">
                            {{ form.residence.label() }}
                            {{ form.residence(placeholder='归属地（自动生成）', readonly='') }}
                        </div>
                    </div>
                    <div class="ui blue dividing header">联系方式</div>
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.email.label() }}
                            {{ form.email(placeholder='用于登录系统、接收通知') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.mobile.label() }}
                            {{ form.mobile(placeholder='移动电话') }}
                        </div>
                    </div>
                    <div class="required field">
                        {{ form.address.label() }}
                        {{ form.address(placeholder='联系地址') }}
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.qq.label() }}
                            {{ form.qq(placeholder='QQ号') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.wechat.label() }}
                            {{ form.wechat(placeholder='微信号/手机号') }}
                        </div>
                    </div>
                    <div class="ui orange dividing header">紧急联系人</div>
                    <div class="fields">
                        <div class="six wide required field">
                            {{ form.emergency_contact_name.label() }}
                            {{ form.emergency_contact_name(placeholder='紧急联系人') }}
                        </div>
                        <div class="two wide required field">
                            {{ form.emergency_contact_relationship.label() }}
                            {{ form.emergency_contact_relationship(class='ui compact dropdown') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.emergency_contact_mobile.label() }}
                            {{ form.emergency_contact_mobile(placeholder='移动电话') }}
                        </div>
                    </div>
                    <div class="ui blue dividing header">教育经历</div>
                    <div class="fields">
                        <div class="fourteen wide field">
                            {{ form.high_school.label() }}
                            {{ form.high_school(placeholder='毕业高中') }}
                        </div>
                        <div class="two wide field">
                            {{ form.high_school_year.label() }}
                            <div class="ui year calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.high_school_year(placeholder='YYYY') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            {{ form.bachelor_school.label() }}
                            {{ form.bachelor_school(placeholder='本科学校') }}
                        </div>
                        <div class="four wide field">
                            {{ form.bachelor_major.label() }}
                            {{ form.bachelor_major(placeholder='院系（专业）') }}
                        </div>
                        <div class="two wide field">
                            {{ form.bachelor_gpa.label() }}
                            {{ form.bachelor_gpa(placeholder='GPA') }}
                        </div>
                        <div class="two wide field">
                            {{ form.bachelor_full_gpa.label() }}
                            {{ form.bachelor_full_gpa(placeholder='GPA满分') }}
                        </div>
                        <div class="two wide field">
                            {{ form.bachelor_year.label() }}
                            <div class="ui year calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.bachelor_year(placeholder='YYYY') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            {{ form.master_school.label() }}
                            {{ form.master_school(placeholder='研究生学校（硕士）') }}
                        </div>
                        <div class="four wide field">
                            {{ form.master_major.label() }}
                            {{ form.master_major(placeholder='院系（专业）') }}
                        </div>
                        <div class="two wide field">
                            {{ form.master_gpa.label() }}
                            {{ form.master_gpa(placeholder='GPA') }}
                        </div>
                        <div class="two wide field">
                            {{ form.master_full_gpa.label() }}
                            {{ form.master_full_gpa(placeholder='GPA满分') }}
                        </div>
                        <div class="two wide field">
                            {{ form.master_year.label() }}
                            <div class="ui year calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.master_year(placeholder='YYYY') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            {{ form.doctor_school.label() }}
                            {{ form.doctor_school(placeholder='研究生学校（博士）') }}
                        </div>
                        <div class="four wide field">
                            {{ form.doctor_major.label() }}
                            {{ form.doctor_major(placeholder='院系（专业）') }}
                        </div>
                        <div class="two wide field">
                            {{ form.doctor_gpa.label() }}
                            {{ form.doctor_gpa(placeholder='GPA') }}
                        </div>
                        <div class="two wide field">
                            {{ form.doctor_full_gpa.label() }}
                            {{ form.doctor_full_gpa(placeholder='GPA满分') }}
                        </div>
                        <div class="two wide field">
                            {{ form.doctor_year.label() }}
                            <div class="ui year calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.doctor_year(placeholder='YYYY') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue dividing header">工作经历</div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.employer_1.label() }}
                            {{ form.employer_1(placeholder='工作单位') }}
                        </div>
                        <div class="six wide field">
                            {{ form.position_1.label() }}
                            {{ form.position_1(placeholder='职务') }}
                        </div>
                        <div class="two wide field">
                            {{ form.job_year_1.label() }}
                            <div class="ui year calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.job_year_1(placeholder='YYYY') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.employer_2.label() }}
                            {{ form.employer_2(placeholder='工作单位') }}
                        </div>
                        <div class="six wide field">
                            {{ form.position_2.label() }}
                            {{ form.position_2(placeholder='职务') }}
                        </div>
                        <div class="two wide field">
                            {{ form.job_year_2.label() }}
                            <div class="ui year calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.job_year_2(placeholder='YYYY') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue dividing header">既往成绩</div>
                    <div class="fields">
                        <div class="four wide field">
                            {{ form.cee_total.label() }}
                            {{ form.cee_total(placeholder='高考总分') }}
                        </div>
                        <div class="four wide field">
                            {{ form.cee_total_full.label() }}
                            {{ form.cee_total_full(placeholder='高考总分满分') }}
                        </div>
                        <div class="two wide field">
                            {{ form.cee_math.label() }}
                            {{ form.cee_math(placeholder='高考数学') }}
                        </div>
                        <div class="two wide field">
                            {{ form.cee_math_full.label() }}
                            {{ form.cee_math_full(placeholder='高考数学满分') }}
                        </div>
                        <div class="two wide field">
                            {{ form.cee_english.label() }}
                            {{ form.cee_english(placeholder='高考英语') }}
                        </div>
                        <div class="two wide field">
                            {{ form.cee_english_full.label() }}
                            {{ form.cee_english_full(placeholder='高考英语满分') }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.cet_4.label() }}
                            {{ form.cet_4(placeholder='大学英语四级') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.cet_6.label() }}
                            {{ form.cet_6(placeholder='大学英语六级') }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.tem_4.label() }}
                            {{ form.tem_4(placeholder='专业英语四级') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.tem_8.label() }}
                            {{ form.tem_8(placeholder='专业英语八级') }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.competition.label() }}
                        {{ form.competition(placeholder='竞赛成绩') }}
                    </div>
                    <div class="field">
                        {{ form.other_score.label() }}
                        {{ form.other_score(placeholder='其它成绩') }}
                    </div>
                    <div class="ui teal dividing header">报名信息</div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.purposes.label() }}
                            {{ form.purposes(class='ui dropdown') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.other_purpose.label() }}
                            {{ form.other_purpose(placeholder='其它研修目的') }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.referrers.label() }}
                            {{ form.referrers(class='ui dropdown') }}
                        </div>
                        <div class="four wide field">
                            {{ form.other_referrer.label() }}
                            {{ form.other_referrer(placeholder='其它了解渠道') }}
                        </div>
                        <div class="four wide field">
                            {{ form.inviter_email.label() }}
                            <div class="ui fluid search">
                                {{ form.inviter_email(placeholder='输入推荐人姓名/邮箱查询', class='prompt') }}
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.application_aim.label() }}
                            {{ form.application_aim(placeholder='申请方向') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.application_agency.label() }}
                            {{ form.application_agency(placeholder='留学中介') }}
                        </div>
                    </div>
                    <div class="required field">
                        {{ form.products.label() }}
                        {{ form.products(class='ui dropdown') }}
                    </div>
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.role.label() }}
                            {{ form.role(class='ui dropdown') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.vb_course.label() }}
                            {{ form.vb_course(class='ui dropdown') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.y_gre_course.label() }}
                            {{ form.y_gre_course(class='ui dropdown') }}
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.user') }}">取消</a>
                    {{ macros.form_validation_error_widget(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/{{ Version.SemanticUICalendar }}/calendar.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/IDValidator/IDValidator.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/IDValidator/GB2260.min.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

{{ macros.date_picker_js_snippet() }}

{{ macros.year_picker_js_snippet() }}

var Validator = new IDValidator(GB2260);
$(document)
    .ready(function() {
        $.fn.form.settings.rules.idNumber = function(value) {
            if ($('#id_type').parent().dropdown('get text') === '身份证') {
                if (Validator.isValid(value, 18)) {
                    if (Validator.getInfo(value, 18).sex === 1) {
                        $('#create-user').form('set values', { gender: '1' });
                    } else {
                        $('#create-user').form('set values', { gender: '2' });
                    };
                    $('#create-user').form('set values', {
                        birthdate: Validator.getInfo(value, 18).birth,
                        residence: Validator.getInfo(value, 18).addr
                    });
                    return true;
                } else {
                    return false;
                };
            } else {
                return true;
            };
        };
        $.fn.form.settings.rules.bachelorGPAwithinLimit = function(value) {
            if ($('#bachelor_full_gpa').val() === '') {
                return true;
            } else {
                return (Number(value) <= Number($('#bachelor_full_gpa').val()));
            };
        };
        $.fn.form.settings.rules.masterGPAwithinLimit = function(value) {
            if ($('#master_full_gpa').val() === '') {
                return true
            } else {
                return (Number(value) <= Number($('#master_full_gpa').val()));
            };
        };
        $.fn.form.settings.rules.doctorGPAwithinLimit = function(value) {
            if ($('#doctor_full_gpa').val() === '') {
                return true
            } else {
                return (Number(value) <= Number($('#doctor_full_gpa').val()));
            };
        };
        $.fn.form.settings.rules.ceeTotalWithinLimit = function(value) {
            if ($('#cee_total_full').val() === '') {
                return true
            } else {
                return (Number(value) <= Number($('#cee_total_full').val()));
            };
        };
        $.fn.form.settings.rules.ceeMathWithinLimit = function(value) {
            if ($('#cee_math_full').val() === '') {
                return true
            } else {
                return (Number(value) <= Number($('#cee_math_full').val()));
            };
        };
        $.fn.form.settings.rules.ceeEnglishWithinLimit = function(value) {
            if ($('#cee_english_full').val() === '') {
                return true
            } else {
                return (Number(value) <= Number($('#cee_english_full').val()));
            };
        };
        $('#create-user')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写用户姓名'
                            }
                        ]
                    },
                    id_type: {
                        identifier: 'id_type',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择证件类型'
                            }
                        ]
                    },
                    id_number: {
                        identifier: 'id_number',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写证件编号'
                            },
                            {
                                type: 'minLength[6]',
                                prompt: '证件编号长度过短'
                            },
                            {
                                type: 'idNumber',
                                prompt: '请输入一个有效的证件编号'
                            }
                        ]
                    },
                    gender: {
                        identifier: 'gender',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择性别'
                            }
                        ]
                    },
                    birthdate: {
                        identifier: 'birthdate',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写出生日期'
                            },
                            {
                                type: 'regExp[/(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)/]',
                                prompt: '请填写一个有效的出生日期'
                            }
                        ]
                    },
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写电子邮箱地址'
                            },
                            {
                                type: 'email',
                                prompt: '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    },
                    mobile: {
                        identifier: 'mobile',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写移动电话号码'
                            },
                            {
                                type: 'integer',
                                prompt: '请输入一个有效的移动电话号码'
                            },
                            {
                                type: 'exactLength[11]',
                                prompt: '移动电话号码位数有误'
                            }
                        ]
                    },
                    address: {
                        identifier: 'address',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写联系地址'
                            }
                        ]
                    },
                    qq: {
                        identifier: 'qq',
                        optional: true,
                        rules: [
                            {
                                type: 'integer',
                                prompt: '请输入一个有效的QQ号码'
                            }
                        ]
                    },
                    wechat: {
                        identifier: 'wechat',
                        optional: true,
                        rules: [
                            {
                                type: 'regExp[/^[A-Za-z0-9_-]{6,20}$/]',
                                prompt: '请输入一个有效的微信号/手机号'
                            }
                        ]
                    },
                    emergency_contact_name: {
                        identifier: 'emergency_contact_name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写紧急联系人姓名'
                            }
                        ]
                    },
                    emergency_contact_relationship: {
                        identifier: 'emergency_contact_relationship',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择紧急联系人关系'
                            }
                        ]
                    },
                    emergency_contact_mobile: {
                        identifier: 'emergency_contact_mobile',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写紧急联系人移动电话号码'
                            },
                            {
                                type: 'integer',
                                prompt: '请输入一个有效的紧急联系人移动电话号码'
                            },
                            {
                                type: 'exactLength[11]',
                                prompt: '紧急联系人移动电话号码位数有误'
                            }
                        ]
                    },
                    high_school_year: {
                        identifier: 'high_school_year',
                        depends: 'high_school',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择入学年份'
                            }
                        ]
                    },
                    bachelor_year: {
                        identifier: 'bachelor_year',
                        depends: 'bachelor_school',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择入学年份'
                            }
                        ]
                    },
                    bachelor_major: {
                        identifier: 'bachelor_major',
                        depends: 'bachelor_school',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写院系（专业）'
                            }
                        ]
                    },
                    bachelor_gpa: {
                        identifier: 'bachelor_gpa',
                        depends: 'bachelor_school',
                        optional: true,
                        rules: [
                            {
                                type: 'number',
                                prompt: '请填写一个有效的GPA'
                            },
                            {
                                type: 'bachelorGPAwithinLimit',
                                prompt: '本科GPA数值超过满分'
                            }
                        ]
                    },
                    bachelor_full_gpa: {
                        identifier: 'bachelor_full_gpa',
                        depends: 'bachelor_gpa',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写GPA满分'
                            },
                            {
                                type: 'number',
                                prompt: '请填写一个有效的GPA满分'
                            }
                        ]
                    },
                    master_year: {
                        identifier: 'master_year',
                        depends: 'master_school',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择入学年份'
                            }
                        ]
                    },
                    master_major: {
                        identifier: 'master_major',
                        depends: 'master_school',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写院系（专业）'
                            }
                        ]
                    },
                    master_gpa: {
                        identifier: 'master_gpa',
                        depends: 'master_school',
                        optional: true,
                        rules: [
                            {
                                type: 'number',
                                prompt: '请填写一个有效的GPA'
                            },
                            {
                                type: 'masterGPAwithinLimit',
                                prompt: '硕士GPA数值超过满分'
                            }
                        ]
                    },
                    master_full_gpa: {
                        identifier: 'master_full_gpa',
                        depends: 'master_gpa',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写GPA满分'
                            },
                            {
                                type: 'number',
                                prompt: '请填写一个有效的GPA满分'
                            }
                        ]
                    },
                    doctor_year: {
                        identifier: 'doctor_year',
                        depends: 'doctor_school',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择入学年份'
                            }
                        ]
                    },
                    doctor_major: {
                        identifier: 'doctor_major',
                        depends: 'doctor_school',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写院系（专业）'
                            }
                        ]
                    },
                    doctor_gpa: {
                        identifier: 'doctor_gpa',
                        depends: 'doctor_school',
                        optional: true,
                        rules: [
                            {
                                type: 'number',
                                prompt: '请填写一个有效的GPA'
                            },
                            {
                                type: 'doctorGPAwithinLimit',
                                prompt: '博士GPA数值超过满分'
                            }
                        ]
                    },
                    doctor_full_gpa: {
                        identifier: 'doctor_full_gpa',
                        depends: 'doctor_gpa',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写GPA满分'
                            },
                            {
                                type: 'number',
                                prompt: '请填写一个有效的GPA满分'
                            }
                        ]
                    },
                    position_1: {
                        identifier: 'position_1',
                        depends: 'employer_1',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写职务'
                            }
                        ]
                    },
                    job_year_1: {
                        identifier: 'job_year_1',
                        depends: 'employer_1',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择入职年份'
                            }
                        ]
                    },
                    position_2: {
                        identifier: 'position_2',
                        depends: 'employer_2',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写职务'
                            }
                        ]
                    },
                    job_year_2: {
                        identifier: 'job_year_2',
                        depends: 'employer_2',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择入职年份'
                            }
                        ]
                    },
                    cee_total: {
                        identifier: 'cee_total',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            },
                            {
                                type: 'ceeTotalWithinLimit',
                                prompt: '分数值超过满分'
                            }
                        ]
                    },
                    cee_total_full: {
                        identifier: 'cee_total_full',
                        depends: 'cee_total',
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            }
                        ]
                    },
                    cee_math: {
                        identifier: 'cee_math',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            },
                            {
                                type: 'ceeMathWithinLimit',
                                prompt: '分数值超过满分'
                            }
                        ]
                    },
                    cee_math_full: {
                        identifier: 'cee_math_full',
                        depends: 'cee_math',
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            }
                        ]
                    },
                    cee_english: {
                        identifier: 'cee_english',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            },
                            {
                                type: 'ceeEnglishWithinLimit',
                                prompt: '分数值超过满分'
                            }
                        ]
                    },
                    cee_english_full: {
                        identifier: 'cee_english_full',
                        depends: 'cee_english',
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            }
                        ]
                    },
                    cet_4: {
                        identifier: 'cet_4',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            }
                        ]
                    },
                    cet_6: {
                        identifier: 'cet_6',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            }
                        ]
                    },
                    tem_4: {
                        identifier: 'tem_4',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            }
                        ]
                    },
                    tem_8: {
                        identifier: 'tem_8',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[0..]',
                                prompt: '请填写一个有效的分数'
                            }
                        ]
                    },
                    inviter_email: {
                        identifier: 'inviter_email',
                        optional: true,
                        rules: [
                            {
                                type: 'email',
                                prompt: '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    },
                    products: {
                        identifier: 'products',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择研修产品'
                            }
                        ]
                    },
                    role: {
                        identifier: 'role',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择研修类别'
                            }
                        ]
                    },
                    vb_course: {
                        identifier: 'vb_course',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择VB班'
                            }
                        ]
                    },
                    y_gre_course: {
                        identifier: 'y_gre_course',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择Y-GRE班'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

$('.ui.search')
    .search({
        apiSettings: {
            url: "{% if current_user.is_developer %}{{ url_for('manage.suggest_email_dev') }}{% else %}{{ url_for('manage.suggest_email') }}{% endif %}?keyword={query}"
        },
        showNoResults: false
    })
;
</script>
{% endblock %}