{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}新建学生用户{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.form .ui.flask.message {
    display: block;
}
.ui.vertical.stripe .ui.form .ui.button.cancel {
    margin-left: 5px;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="add user icon"></i> 新建学生用户</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui fluid ordered steps">
                    <div class="completed step">
                        <div class="content">
                            <div class="title">填写资料</div>
                            <div class="description">用户资料、报名信息</div>
                        </div>
                    </div>
                    <div class="active step">
                        <div class="content">
                            <div class="title">确认信息</div>
                            <div class="description">接待信息、服务条款</div>
                        </div>
                    </div>
                </div>
                <h4 class="ui blue dividing header">基本信息</h4>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">姓名</div>
                            <div class="description">{{ user.name }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">性别</div>
                            <div class="description">{{ user.gender.name }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">生日</div>
                            <div class="description">{{ moment(user.birthdate).format('YYYY年M月D日') }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">身份证号</div>
                            <div class="description">{{ user.id_number }}</div>
                        </div>
                    </div>
                </div>
                <h4 class="ui blue dividing header">联系方式</h4>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">电子邮箱</div>
                            <div class="description">{{ user.email }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">移动电话</div>
                            <div class="description">
                                {% if user.mobile %}
                                {{ user.mobile }}
                                {% else %}
                                无
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">联系地址</div>
                            <div class="description">
                                {% if user.address %}
                                {{ user.address }}
                                {% else %}
                                无
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">QQ</div>
                            <div class="description">
                                {% if user.qq %}
                                {{ user.qq }}
                                {% else %}
                                无
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">微信</div>
                            <div class="description">
                                {% if user.wechat %}
                                {{ user.wechat }}
                                {% else %}
                                无
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="ui orange dividing header">紧急联系人</h4>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">姓名</div>
                            <div class="description">
                                {% if user.emergency_contact_name %}
                                {{ user.emergency_contact_name }}
                                {% else %}
                                无
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">关系</div>
                            <div class="description">
                                {% if user.emergency_contact_relationship_id %}
                                {{ user.relationship.name }}
                                {% else %}
                                无
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">联系方式</div>
                            <div class="description">
                                {% if user.emergency_contact_mobile %}
                                {{ user.emergency_contact_mobile }}
                                {% else %}
                                无
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="ui blue dividing header">教育经历</h4>
                {% if user.education_records.count() %}
                <div class="ui relaxed divided list">
                    {% for education_record in user.education_records %}
                    <div class="item">
                        <div class="right floated content">
                            <a class="ui mini button loading-trigger" href="{{ url_for('manage.remove_education_record', id=education_record.id, next=url_for('manage.create_user_confirm', id=user.id, next=request.args.get('next'))) }}">删除</a>
                        </div>
                        <div class="content">
                            <div class="header">{{ education_record.school }}</div>
                            <div class="description">
                                {{ education_record.type.name }}
                                &middot; {{ education_record.year }}级
                                {% if education_record.major %}
                                &middot; {{ education_record.major }}
                                {% endif %}
                                {% if education_record.gpa %}
                                &middot; GPA: {{ education_record.gpa }} / {{ education_record.full_gpa }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form id="new-education-record" method="POST" class="ui mini form">
                    {{ new_education_record_form.hidden_tag() }}
                    <div class="fields">
                        <div class="two wide field">
                            {{ new_education_record_form.education_type(class='ui compact dropdown') }}
                        </div>
                        <div class="four wide field">
                            {{ new_education_record_form.school(placeholder='学校') }}
                        </div>
                        <div class="three wide field">
                            {{ new_education_record_form.major(placeholder='院系（专业）') }}
                        </div>
                        <div class="two wide field">
                            {{ new_education_record_form.gpa(placeholder='GPA') }}
                        </div>
                        <div class="two wide field">
                            {{ new_education_record_form.full_gpa(placeholder='GPA满分') }}
                        </div>
                        <div class="two wide field">
                            {{ new_education_record_form.year(class='ui compact dropdown') }}
                        </div>
                        <div class="one wide field">
                            {{ new_education_record_form.submit(class='ui primary mini button') }}
                        </div>
                    </div>
                </form>
                <h4 class="ui blue dividing header">工作经历</h4>
                {% if user.employment_records.count() %}
                <div class="ui relaxed divided list">
                    {% for employment_record in user.employment_records %}
                    <div class="item">
                        <div class="right floated content">
                            <a class="ui mini button loading-trigger" href="{{ url_for('manage.remove_employment_record', id=employment_record.id, next=url_for('manage.create_user_confirm', id=user.id, next=request.args.get('next'))) }}">删除</a>
                        </div>
                        <div class="content">
                            <div class="header">{{ employment_record.employer }}</div>
                            <div class="description">{{ employment_record.position }} &middot; {{ employment_record.year }}年</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form id="new-employment-record" method="POST" class="ui mini form">
                    {{ new_employment_record_form.hidden_tag() }}
                    <div class="fields">
                        <div class="eight wide field">
                            {{ new_employment_record_form.employer(placeholder='工作单位') }}
                        </div>
                        <div class="five wide field">
                            {{ new_employment_record_form.position(placeholder='职务') }}
                        </div>
                        <div class="two wide field">
                            {{ new_employment_record_form.year(class='ui compact dropdown') }}
                        </div>
                        <div class="one wide field">
                            {{ new_employment_record_form.submit(class='ui primary mini button') }}
                        </div>
                    </div>
                </form>
                <h4 class="ui blue dividing header">既往成绩</h4>
                {% if user.previous_achievements.count() %}
                <div class="ui relaxed divided list">
                    {% for previous_achievement in user.previous_achievements %}
                    <div class="item">
                        <div class="right floated content">
                            <a class="ui mini button loading-trigger" href="{{ url_for('manage.remove_previous_achievement', id=previous_achievement.id, next=url_for('manage.create_user_confirm', id=user.id, next=request.args.get('next'))) }}">删除</a>
                        </div>
                        <div class="content">
                            <div class="header">{{ previous_achievement.type.name }}</div>
                            <div class="description">
                                {% if previous_achievement.score %}
                                {{ previous_achievement.score }}分
                                {% elif previous_achievement.remark %}
                                {{ previous_achievement.remark }}
                                {% else %}
                                无
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form id="new-previous-achievement" method="POST" class="ui mini form">
                    {{ new_previous_achievement_form.hidden_tag() }}
                    <div class="fields">
                        <div class="three wide field">
                            {{ new_previous_achievement_form.previous_achievement_type(class='ui dropdown') }}
                        </div>
                        <div class="twelve wide field">
                            {{ new_previous_achievement_form.achievement(placeholder='成绩') }}
                        </div>
                        <div class="one wide field">
                            {{ new_previous_achievement_form.submit(class='ui primary mini button') }}
                        </div>
                    </div>
                </form>
                <h4 class="ui teal dividing header">报名信息</h4>
                {# <h4 class="ui grey dividing header">其它信息</h4> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('table')
    .tablesort()
;

$('select.dropdown')
    .dropdown()
;

$('.ui.checkbox')
    .checkbox()
;

$(document)
    .ready(function() {
        $.fn.form.settings.rules.exceptEducationType = function(value, educationType) {
            return ($('#new_education_record-education_type').dropdown('get text')[0] === educationType);
        };
        $.fn.form.settings.rules.overGPA = function(value) {
            return (Number(value) <= Number($('#new_education_record-full_gpa').val()));
        };
        $('#new-education-record')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    education_type: {
                        identifier: 'new_education_record-education_type',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择学历类型'
                            }
                        ]
                    },
                    school: {
                        identifier: 'new_education_record-school',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写学校'
                            }
                        ]
                    },
                    major: {
                        identifier: 'new_education_record-major',
                        rules: [
                            {
                                type: 'exceptEducationType[高中]',
                                prompt: '请填写学院（专业）'
                            }
                        ]
                    },
                    gpa: {
                        identifier: 'new_education_record-gpa',
                        optional: true,
                        rules: [
                            {
                                type: 'number',
                                prompt: '请填写一个有效的GPA'
                            },
                            {
                                type: 'overGPA',
                                prompt: 'GPA数值超过满分'
                            }
                        ]
                    },
                    full_gpa: {
                        identifier: 'new_education_record-full_gpa',
                        depends: 'new_education_record-gpa',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写GPA满分'
                            },
                            {
                                type: 'number',
                                prompt: '请填写一个有效的GPA满分'
                            }
                        ]
                    },
                    year: {
                        identifier: 'new_education_record-year',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择入学年份'
                            }
                        ]
                    },
                }
            })
        ;
        $('#new-employment-record')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    employer: {
                        identifier: 'new_employment_record-employer',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写工作单位'
                            }
                        ]
                    },
                    position: {
                        identifier: 'new_employment_record-position',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写职务'
                            }
                        ]
                    },
                    year: {
                        identifier: 'new_employment_record-year',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择入职年份'
                            }
                        ]
                    },
                }
            })
        ;
        $.fn.form.settings.rules.previousAchievement = function(value) {
            if (/^[0-9]*$/.test(value)) {
                return true;
            } else {
                return ($.inArray($('#new_previous_achievement-previous_achievement_type').dropdown('get text')[0], ['竞赛', '其它']) >= 0);
            };
        };
        $('#new-previous-achievement')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    previous_achievement_type: {
                        identifier: 'new_previous_achievement-previous_achievement_type',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择成绩类型'
                            }
                        ]
                    },
                    achievement: {
                        identifier: 'new_previous_achievement-achievement',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写成绩'
                            },
                            {
                                type: 'previousAchievement',
                                prompt: '成绩格式有误'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

$('.ui.search')
    .search({
        apiSettings: {
            url: '//' + window.location.hostname + ':' + window.location.port + '/manage/suggest/email/?keyword={query}'
        },
        showNoResults: false
    })
;
</script>
{% endblock %}