{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}新建学生用户{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.form .ui.flask.message {
    display: block;
}
.ui.vertical.stripe .ui.form .ui.button.cancel {
    margin-left: 5px;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="add user icon"></i> 新建学生用户</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui fluid ordered steps">
                    <div class="completed step">
                        <div class="content">
                            <div class="title">新建用户</div>
                            <div class="description">基本信息、联系方式</div>
                        </div>
                    </div>
                    <div class="active step">
                        <div class="content">
                            <div class="title">完善信息</div>
                            <div class="description">个人履历、研修信息</div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="content">
                            <div class="title">完成注册</div>
                            <div class="description">确认信息、服务条款</div>
                        </div>
                    </div>
                </div>
                <h4 class="ui blue dividing header">基本信息</h4>
                <div class="ui relaxed divided animated list">
                    <div class="item">
                        <i class="large user middle aligned icon"></i>
                        <div class="content">
                            <div class="header">姓名</div>
                            <div class="description">{{ user.name }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large hashtag middle aligned icon"></i>
                        <div class="content">
                            <div class="header">身份证号</div>
                            <div class="description">{{ user.id_number }}</div>
                        </div>
                    </div>
                </div>
                <h4 class="ui blue dividing header">联系方式</h4>
                <div class="ui relaxed divided animated list">
                    <div class="item">
                        <i class="large mail middle aligned icon"></i>
                        <div class="content">
                            <div class="header">电子邮箱</div>
                            <div class="description">{{ user.email }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large mobile middle aligned icon"></i>
                        <div class="content">
                            <div class="header">移动电话</div>
                            <div class="description">{{ user.mobile }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large marker middle aligned icon"></i>
                        <div class="content">
                            <div class="header">联系地址</div>
                            <div class="description">{{ user.address }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large qq middle aligned icon"></i>
                        <div class="content">
                            <div class="header">QQ</div>
                            <div class="description">
                                {% if user.qq %}
                                {{ user.qq }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large wechat middle aligned icon"></i>
                        <div class="content">
                            <div class="header">微信</div>
                            <div class="description">
                                {% if user.wechat %}
                                {{ user.wechat }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="ui orange dividing header">紧急联系人</h4>
                <div class="ui relaxed divided animated list">
                    <div class="item">
                        <i class="large user middle aligned icon"></i>
                        <div class="content">
                            <div class="header">姓名</div>
                            <div class="description">{{ user.emergency_contact_name }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large linkify middle aligned icon"></i>
                        <div class="content">
                            <div class="header">关系</div>
                            <div class="description">{{ user.relationship.name }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large mobile middle aligned icon"></i>
                        <div class="content">
                            <div class="header">联系方式</div>
                            <div class="description">{{ user.emergency_contact_mobile }}</div>
                        </div>
                    </div>
                </div>
                <h4 class="ui blue dividing header">教育经历</h4>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>学历</th>
                            <th>学校</th>
                            <th>院系（专业）</th>
                            <th>GPA</th>
                            <th>入学年份</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for education_record in user.education_records %}
                        <tr>
                            <td>{{ education_record.type.name }}</td>
                            <td>{{ education_record.school }}</td>
                            <td>
                                {% if education_record.major %}
                                {{ education_record.major }}
                                {% endif %}
                            </td>
                            <td>
                                {% if education_record.gpa %}
                                {{ education_record.gpa }} / {{ education_record.full_gpa }}
                                {% endif %}
                            </td>
                            <td>{{ education_record.year }}</td>
                            <td><a class="ui mini negative button" href="#"><i class="trash outline icon"></i> 删除</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form id="new-education-record" method="POST" class="ui form">
                    {{ new_education_record_form.hidden_tag() }}
                    <div class="fields">
                        <div class="two wide field">
                            {{ new_education_record_form.education_type(class='ui compact dropdown') }}
                        </div>
                        <div class="four wide field">
                            {{ new_education_record_form.school(placeholder='学校') }}
                        </div>
                        <div class="four wide field">
                            {{ new_education_record_form.major(placeholder='院系（专业）') }}
                        </div>
                        <div class="one wide field">
                            {{ new_education_record_form.gpa(placeholder='GPA') }}
                        </div>
                        <div class="one wide field">
                            {{ new_education_record_form.full_gpa(placeholder='满分') }}
                        </div>
                        <div class="two wide field">
                            {{ new_education_record_form.year(class='ui compact dropdown') }}
                        </div>
                        <div class="two wide field">
                            {{ new_education_record_form.submit(class='ui primary button') }}
                        </div>
                    </div>
                </form>
                <h4 class="ui blue dividing header">工作经历</h4>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>工作单位</th>
                            <th>职务</th>
                            <th>入职年份</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employment_record in user.employment_records %}
                        <tr>
                            <td>{{ employment_record.employer }}</td>
                            <td>{{ employment_record.position }}</td>
                            <td>{{ employment_record.year }}</td>
                            <td><a class="ui mini negative button" href="#"><i class="trash outline icon"></i> 删除</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form id="new-employment-record" method="POST" class="ui form">
                    {{ new_employment_record_form.hidden_tag() }}
                    <div class="fields">
                        <div class="six wide field">
                            {{ new_employment_record_form.employer(placeholder='工作单位') }}
                        </div>
                        <div class="six wide field">
                            {{ new_employment_record_form.position(placeholder='职务') }}
                        </div>
                        <div class="two wide field">
                            {{ new_employment_record_form.year(class='ui compact dropdown') }}
                        </div>
                        <div class="two wide field">
                            {{ new_employment_record_form.submit(class='ui primary button') }}
                        </div>
                    </div>
                </form>
                <h4 class="ui blue dividing header">既往成绩</h4>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>类型</th>
                            <th>成绩</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for previous_achievement in user.previous_achievements %}
                        <tr>
                            <td>{{ previous_achievement.type.name }}</td>
                            <td>
                                {% if previous_achievement.score %}
                                {{ previous_achievement.score }}
                                {% elif previous_achievement.remark %}
                                {{ previous_achievement.remark }}
                                {% endif %}
                            </td>
                            <td><a class="ui mini negative button" href="#"><i class="trash outline icon"></i> 删除</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form id="new-previous-achievement" method="POST" class="ui form">
                    {{ new_previous_achievement_form.hidden_tag() }}
                    <div class="fields">
                        <div class="four wide field">
                            {{ new_previous_achievement_form.previous_achievement_type(class='ui dropdown') }}
                        </div>
                        <div class="ten wide field">
                            {{ new_previous_achievement_form.achievement(placeholder='成绩') }}
                        </div>
                        <div class="two wide field">
                            {{ new_previous_achievement_form.submit(class='ui primary button') }}
                        </div>
                    </div>
                </form>
                <h4 class="ui teal dividing header">报名信息</h4>
                {# <h4 class="ui grey dividing header">其它信息</h4> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('table')
    .tablesort()
;

$('select.dropdown')
    .dropdown()
;

$('.ui.checkbox')
    .checkbox()
;

$(document)
    .ready(function() {
        $('#new_education_record')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写用户姓名'
                            }
                        ]
                    },
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写电子邮箱地址'
                            },
                            {
                                type: 'email',
                                prompt: '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    },
                    mobile: {
                        identifier: 'mobile',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写移动电话号码'
                            },
                            {
                                type: 'integer',
                                prompt: '请输入一个有效的移动电话号码'
                            },
                            {
                                type: 'exactLength[11]',
                                prompt: '移动电话号码位数有误'
                            }
                        ]
                    },
                    address: {
                        identifier: 'address',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写联系地址'
                            }
                        ]
                    },
                    emergency_contact_name: {
                        identifier: 'emergency_contact_name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写紧急联系人姓名'
                            }
                        ]
                    },
                    emergency_contact_relationship: {
                        identifier: 'emergency_contact_relationship',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择紧急联系人关系'
                            }
                        ]
                    },
                    emergency_contact_mobile: {
                        identifier: 'emergency_contact_mobile',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写紧急联系人移动电话号码'
                            },
                            {
                                type: 'integer',
                                prompt: '请输入一个有效的紧急联系人移动电话号码'
                            },
                            {
                                type: 'exactLength[11]',
                                prompt: '紧急联系人移动电话号码位数有误'
                            }
                        ]
                    },
                    role: {
                        identifier: 'role',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择研修类别'
                            }
                        ]
                    },
                    vb_course: {
                        identifier: 'vb_course',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择VB班'
                            }
                        ]
                    },
                    y_gre_course: {
                        identifier: 'y_gre_course',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择Y-GRE班'
                            }
                        ]
                    },
                    products: {
                        identifier: 'products',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择研修产品'
                            }
                        ]
                    },
                    receptionist_email: {
                        identifier: 'receptionist_email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写接待人电子邮箱地址'
                            },
                            {
                                type: 'email',
                                prompt: '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    },
                    disclaimer: {
                        identifier: 'disclaimer',
                        rules: [
                            {
                                type: 'checked',
                                prompt: '请确认用户同意服务条款'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

$('.ui.search')
    .search({
        apiSettings: {
            url: '//' + window.location.hostname + ':' + window.location.port + '/manage/suggest/email/?keyword={query}'
        },
        showNoResults: false
    })
;
</script>
{% endblock %}