{% extends "base.html" %}

{% block title %}删除iPad{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-delete-ipad.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="trash outline icon"></i> 删除iPad</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header">确定要删除序列号为<code>{{ ipad.serial }}</code>的iPad？</h3>
                <form id="delete-ipad" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    {{ form.submit(class='ui negative button') }}
                    <a class="ui button cancel" href="{{ url_for('manage.ipad') }}">取消</a>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-manage-delete-ipad.js') }}"></script>
{% endblock %}
