{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑班级信息{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑班级信息</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <form id="edit-course" action="{{ url_for('manage.edit_course', id=course.id, next=request.args.get('next')) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.name.label() }}
                            {{ form.name(placeholder='班级名称') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.course_type.label() }}
                            {{ form.course_type(class='ui dropdown') }}
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.show() }}
                                {{ form.show.label() }}
                            </div>
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.course') }}">取消</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$(document)
    .ready(function() {
        $('#edit-course')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入班级名称'
                            }
                        ]
                    },
                    course_type: {
                        identifier: 'course_type',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择班级类型'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}