{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑考试记录{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.table .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.form .ui.flask.message {
    display: block;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑考试记录</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="edit icon"></i>编辑{{ score.user.name_alias }}的考试记录</h3>
                <form id="edit-score" action="{{ url_for('manage.edit_test_score', test_type=test_type, id=score.id) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    {% if test_type == 'vb' %}
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.test.label() }}
                            {{ form.test(class='ui dropdown') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.score.label() }}
                            {{ form.score(placeholder='成绩') }}
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.retrieved() }}
                                {{ form.retrieved.label() }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if test_type == 'y_gre' %}
                    <div class="fields">
                        <div class="four wide required field">
                            {{ form.test.label() }}
                            {{ form.test(class='ui dropdown') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.v_score.label() }}
                            {{ form.v_score(placeholder='V成绩') }}
                        </div>
                        <div class="four wide field">
                            {{ form.q_score.label() }}
                            {{ form.q_score(placeholder='Q成绩') }}
                        </div>
                        <div class="four wide field">
                            {{ form.aw_score.label() }}
                            {{ form.aw_score(class='ui dropdown') }}
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.retrieved() }}
                                {{ form.retrieved.label() }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if test_type == 'toefl' %}
                    <div class="required field">
                        {{ form.test.label() }}
                        {{ form.test(class='ui dropdown') }}
                    </div>
                    <div class="fields">
                        <div class="four wide required field">
                            {{ form.total.label() }}
                            {{ form.total(placeholder='TOEFL总分') }}
                        </div>
                        <div class="three wide required field">
                            {{ form.reading.label() }}
                            {{ form.reading(placeholder='TOEFL阅读') }}
                        </div>
                        <div class="three wide required field">
                            {{ form.listening.label() }}
                            {{ form.listening(placeholder='TOEFL听力') }}
                        </div>
                        <div class="three wide required field">
                            {{ form.speaking.label() }}
                            {{ form.speaking(placeholder='TOEFL口语') }}
                        </div>
                        <div class="three wide required field">
                            {{ form.writing.label() }}
                            {{ form.writing(placeholder='TOEFL写作') }}
                        </div>
                    </div>
                    {% endif %}
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ url_for('manage.test_score', test_type=test_type, id=score.test.id) }}">取消</a>
                    {{ macros.form_validation_error_widget(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$(document)
    .ready(function() {
        {% if test_type == 'toefl' %}
        $.fn.form.settings.rules.toefl = function(value) {
            if (($('#reading').val() === '') || ($('#listening').val() === '') || ($('#speaking').val() === '') || ($('#writing').val() === '')) {
                return true;
            } else {
                return (Number(value) === Number($('#reading').val()) + Number($('#listening').val()) + Number($('#speaking').val()) + Number($('#writing').val()));
            };
        };
        {% endif %}
        $('#edit-score')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    {% if test_type == 'vb' %}
                    test: {
                        identifier: 'test',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择VB考试'
                            }
                        ]
                    },
                    score: {
                        identifier: 'score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写考试成绩'
                            },
                            {
                                type: 'number',
                                prompt: '请填写有效的考试成绩'
                            }
                        ]
                    }
                    {% endif %}
                    {% if test_type == 'y_gre' %}
                    test: {
                        identifier: 'test',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择Y-GRE考试'
                            }
                        ]
                    },
                    v_score: {
                        identifier: 'v_score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写考试成绩'
                            },
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Verbal Reasoning成绩'
                            }
                        ]
                    },
                    q_score: {
                        identifier: 'q_score',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Quantitative Reasoning成绩'
                            }
                        ]
                    }
                    {% endif %}
                    {% if test_type == 'toefl' %}
                    test: {
                        identifier: 'test',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择TOEFL考试'
                            }
                        ]
                    },
                    total: {
                        identifier: 'total',
                        rules: [
                            {
                                type: 'integer[0..120]',
                                prompt: '请填写一个有效的TOEFL成绩'
                            },
                            {
                                type: 'toefl',
                                prompt: 'TOEFL成绩有误'
                            }
                        ]
                    },
                    reading: {
                        identifier: 'reading',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL阅读成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL阅读成绩'
                            }
                        ]
                    },
                    listening: {
                        identifier: 'listening',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL听力成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL听力成绩'
                            }
                        ]
                    },
                    speaking: {
                        identifier: 'speaking',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL口语成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL口语成绩'
                            }
                        ]
                    },
                    writing: {
                        identifier: 'writing',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL写作成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL写作成绩'
                            }
                        ]
                    }
                    {% endif %}
                }
            })
        ;
    })
;
</script>
{% endblock %}