{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑iPad信息{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑iPad信息</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <form id="edit-ipad" action="{{ url_for('manage.edit_ipad', id=ipad.id, next=request.args.get('next')) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="four wide required field">
                            {{ form.alias.label() }}
                            {{ form.alias(placeholder='编号') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.serial.label() }}
                            {{ form.serial(placeholder='序列号') }}
                        </div>
                        <div class="two wide required field">
                            {{ form.capacity.label() }}
                            {{ form.capacity(class='ui compact dropdown') }}
                        </div>
                        <div class="two wide required field">
                            {{ form.room.label() }}
                            {{ form.room(class='ui compact dropdown') }}
                        </div>
                        <div class="two wide required field">
                            {{ form.video_playback.label() }}
                            <div class="ui right labeled input">
                                {{ form.video_playback(placeholder='10') }}
                                <div class="ui label">小时</div>
                            </div>
                        </div>
                        <div class="two wide required field">
                            {{ form.state.label() }}
                            {{ form.state(class='ui compact dropdown') }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.vb_lessons.label() }}
                            {{ form.vb_lessons(class='ui dropdown') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.y_gre_lessons.label() }}
                            {{ form.y_gre_lessons(class='ui dropdown') }}
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.ipad') }}">取消</a>
                    {{ macros.form_validation_error_widget(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$(document)
    .ready(function() {
        $('#edit-ipad')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    alias: {
                        identifier: 'alias',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写iPad编号'
                            }
                        ]
                    },
                    serial: {
                        identifier: 'serial',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写iPad序列号'
                            },
                            {
                                type: 'exactLength[12]',
                                prompt: 'iPad序列号必须为12位'
                            }
                        ]
                    },
                    capacity: {
                        identifier: 'capacity',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择容量'
                            }
                        ]
                    },
                    room: {
                        identifier: 'room',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择房间'
                            }
                        ]
                    },
                    video_playback: {
                        identifier: 'video_playback',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入满电量可播放视频时间（小时）'
                            },
                            {
                                type: 'number',
                                prompt: '满电量可播放视频时间必须为数字'
                            }
                        ]
                    },
                    state: {
                        identifier: 'state',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择状态'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}