{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑角色{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑角色</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <form id="edit-role" action="{{ url_for('manage.edit_role', id=role.id) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="required field">
                        {{ form.name.label() }}
                        {{ form.name(placeholder='角色名称') }}
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            {{ form.booking_permissions.label() }}
                            {{ form.booking_permissions(class='ui dropdown') }}
                        </div>
                        <div class="eight wide field">
                            {{ form.manage_permissions.label() }}
                            {{ form.manage_permissions(class='ui dropdown') }}
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.is_developer() }}
                                {{ form.is_developer.label() }}
                            </div>
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.role') }}">取消</a>
                    {{ macros.form_validation_error_widget(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$(document)
    .ready(function() {
        $('#edit-role')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入角色名称'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}