{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑考试记录{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/{{ Version.SemanticUICalendar }}/calendar.min.css" />
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑考试记录</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="edit icon"></i>编辑{{ score.user.name_alias }}的考试记录</h3>
                <form id="edit-score" action="{{ url_for('manage.edit_test_score', test_type=test_type, id=score.id) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    {% if test_type == 'vb' %}
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.test.label() }}
                            {{ form.test(class='ui dropdown') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.score.label() }}
                            {{ form.score(placeholder='成绩') }}
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.retrieved() }}
                                {{ form.retrieved.label() }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if test_type == 'y_gre' %}
                    <div class="fields">
                        <div class="four wide required field">
                            {{ form.test.label() }}
                            {{ form.test(class='ui dropdown') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.v_score.label() }}
                            {{ form.v_score(placeholder='V成绩') }}
                        </div>
                        <div class="four wide field">
                            {{ form.q_score.label() }}
                            {{ form.q_score(placeholder='Q成绩') }}
                        </div>
                        <div class="four wide field">
                            {{ form.aw_score.label() }}
                            {{ form.aw_score(class='ui dropdown') }}
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.retrieved() }}
                                {{ form.retrieved.label() }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if test_type == 'gre' %}
                    <div class="fields">
                        <div class="four wide required field">
                            {{ form.v_score.label() }}
                            {{ form.v_score(placeholder='V成绩') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.q_score.label() }}
                            {{ form.q_score(placeholder='Q成绩') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.aw_score.label() }}
                            {{ form.aw_score(class='ui dropdown') }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.test_date.label() }}
                            <div class="ui date calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.test_date(placeholder='格式：YYYY-MM-DD') }}
                                </div>
                            </div>
                        </div>
                        <div class="eight wide required field">
                            {{ form.score_label.label() }}
                            {{ form.score_label(class='ui dropdown') }}
                        </div>
                    </div>
                    {% endif %}
                    {% if test_type == 'toefl' %}
                    <div class="fields">
                        <div class="four wide required field">
                            {{ form.total.label() }}
                            {{ form.total(placeholder='TOEFL总分') }}
                        </div>
                        <div class="three wide required field">
                            {{ form.reading.label() }}
                            {{ form.reading(placeholder='TOEFL阅读') }}
                        </div>
                        <div class="three wide required field">
                            {{ form.listening.label() }}
                            {{ form.listening(placeholder='TOEFL听力') }}
                        </div>
                        <div class="three wide required field">
                            {{ form.speaking.label() }}
                            {{ form.speaking(placeholder='TOEFL口语') }}
                        </div>
                        <div class="three wide required field">
                            {{ form.writing.label() }}
                            {{ form.writing(placeholder='TOEFL写作') }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.test_date.label() }}
                            <div class="ui date calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.test_date(placeholder='格式：YYYY-MM-DD') }}
                                </div>
                            </div>
                        </div>
                        <div class="eight wide required field">
                            {{ form.score_label.label() }}
                            {{ form.score_label(class='ui dropdown') }}
                        </div>
                    </div>
                    {% endif %}
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ url_for('manage.test_score', test_type=test_type, id=score.test.id) }}">取消</a>
                    {{ macros.form_validation_error_widget(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/{{ Version.SemanticUICalendar }}/calendar.min.js"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

{% if test_type in ['gre', 'toefl'] %}{{ macros.date_picker_js_snippet() }}{% endif %}

$('.ui.checkbox').checkbox();

$(document)
    .ready(function() {
        {% if test_type == 'toefl' %}
        $.fn.form.settings.rules.toefl = function(value) {
            if (($('#reading').val() === '') || ($('#listening').val() === '') || ($('#speaking').val() === '') || ($('#writing').val() === '')) {
                return true;
            } else {
                return (Number(value) === Number($('#reading').val()) + Number($('#listening').val()) + Number($('#speaking').val()) + Number($('#writing').val()));
            };
        };
        {% endif %}
        $('#edit-score')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    {% if test_type == 'vb' %}
                    test: {
                        identifier: 'test',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择VB考试'
                            }
                        ]
                    },
                    score: {
                        identifier: 'score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写考试成绩'
                            },
                            {
                                type: 'number',
                                prompt: '请填写有效的考试成绩'
                            }
                        ]
                    }
                    {% endif %}
                    {% if test_type == 'y_gre' %}
                    test: {
                        identifier: 'test',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择Y-GRE考试'
                            }
                        ]
                    },
                    v_score: {
                        identifier: 'v_score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写考试成绩'
                            },
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Verbal Reasoning成绩'
                            }
                        ]
                    },
                    q_score: {
                        identifier: 'q_score',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Quantitative Reasoning成绩'
                            }
                        ]
                    }
                    {% endif %}
                    {% if test_type == 'gre' %}
                    v_score: {
                        identifier: 'v_score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写Verbal Reasoning成绩'
                            },
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Verbal Reasoning成绩'
                            }
                        ]
                    },
                    q_score: {
                        identifier: 'q_score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写Quantitative Reasoning成绩'
                            },
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Quantitative Reasoning成绩'
                            }
                        ]
                    },
                    aw_score: {
                        identifier: 'aw_score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择Analytical Writing成绩'
                            }
                        ]
                    },
                    test_date: {
                        identifier: 'test_date',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择GRE考试日期'
                            },
                            {
                                type: 'regExp[/(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)/]',
                                prompt: '请填写一个有效的TOEFL考试日期'
                            }
                        ]
                    },
                    score_label: {
                        identifier: 'score_label',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择成绩标签'
                            }
                        ]
                    }
                    {% endif %}
                    {% if test_type == 'toefl' %}
                    total: {
                        identifier: 'total',
                        rules: [
                            {
                                type: 'integer[0..120]',
                                prompt: '请填写一个有效的TOEFL成绩'
                            },
                            {
                                type: 'toefl',
                                prompt: 'TOEFL成绩有误'
                            }
                        ]
                    },
                    reading: {
                        identifier: 'reading',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL阅读成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL阅读成绩'
                            }
                        ]
                    },
                    listening: {
                        identifier: 'listening',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL听力成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL听力成绩'
                            }
                        ]
                    },
                    speaking: {
                        identifier: 'speaking',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL口语成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL口语成绩'
                            }
                        ]
                    },
                    writing: {
                        identifier: 'writing',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL写作成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL写作成绩'
                            }
                        ]
                    },
                    test_date: {
                        identifier: 'test_date',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择TOEFL考试日期'
                            },
                            {
                                type: 'regExp[/(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)/]',
                                prompt: '请填写一个有效的TOEFL考试日期'
                            }
                        ]
                    },
                    score_label: {
                        identifier: 'score_label',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择成绩标签'
                            }
                        ]
                    }
                    {% endif %}
                }
            })
        ;
    })
;
</script>
{% endblock %}