{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑作业记录{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑作业记录</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="edit icon"></i>编辑{{ score.user.name_alias }}的作业记录</h3>
                <form id="edit-score" action="{{ url_for('manage.edit_assignment_score', id=score.id) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.assignment.label() }}
                            {{ form.assignment(class='ui dropdown') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.grade.label() }}
                            {{ form.grade(class='ui dropdown') }}
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ url_for('manage.assignment_score', id=score.assignment.id) }}">取消</a>
                    {{ macros.form_validation_error_widget(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$(document)
    .ready(function() {
        $('#edit-score')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    assignment: {
                        identifier: 'assignment',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择作业'
                            }
                        ]
                    },
                    grade: {
                        identifier: 'grade',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择作业成绩'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}