{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}更新进度{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="refresh icon"></i>更新进度</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid vertical steps">
                            <div class="completed step">
                                <i class="book icon"></i>
                                <div class="content">
                                    <div class="title">课程进度信息：{{ section.alias3 }}</div>
                                </div>
                            </div>
                            <div class="completed step">
                                <i class="record icon"></i>
                                <div class="content">
                                    <div class="title">视频进度信息：{{ section.alias }}</div>
                                </div>
                            </div>
                            <div class="active step">
                                <i class="save icon"></i>
                                <div class="content">
                                    <div class="title">确认并保存</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui big list">
                            <div class="item">{{ user.name }}（{{ user.email }}）</div>
                            <div class="item">原先进度：{{ user.last_punch.section.alias2 }}</div>
                            <div class="item">更新进度：{{ section.alias2 }}</div>
                        </div>
                        <form id="confirm-punch" action="{{ url_for('manage.edit_punch_step_3', user_id=user.id, section_id=section.id) }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <a class="ui button loading-trigger" href="{{ url_for('manage.edit_punch_step_2', user_id=user.id, lesson_id=section.lesson.id, next=request.args.get('next')) }}">上一步</a>
                            {{ form.submit(class='ui primary button') }}
                            <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.user') }}">取消</a>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$(document)
    .ready(function() {
        $('#confirm-punch')
            .form({
                onSuccess: submitForm
            })
        ;
    })
;
</script>
{% endblock %}