{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑研修产品信息{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_manage.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑研修产品信息</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <form id="edit-product" action="{{ url_for('manage.edit_product', id=product.id) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.name.label() }}
                            {{ form.name(placeholder='研修产品名称') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.price.label() }}
                            <div class="ui left labeled input">
                                <div class="ui label"><i class="fa fa-cny"></i></div>
                                {{ form.price(placeholder='0') }}
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.available() }}
                                {{ form.available.label() }}
                            </div>
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.product') }}">取消</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$(document)
    .ready(function() {
        $('#edit-product')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入研修产品名称'
                            }
                        ]
                    },
                    price: {
                        identifier: 'price',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入研修产品单价'
                            },
                            {
                                type: 'number',
                                prompt: '请输入有效的产品单价'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}