{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}变更管理员权限{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-edit-auth-admin.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="bomb icon"></i> 变更管理员权限</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header">变更管理员权限</h3>
                <form id="edit-auth-admin" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="three wide field">
                            {{ form.name.label() }}
                            {{ form.name(placeholder='姓名') }}
                        </div>
                        <div class="four wide field disabled">
                            {{ form.email.label() }}
                            {{ form.email(placeholder='邮箱') }}
                        </div>
                        <div class="three wide field">
                            {{ form.role.label() }}
                            {{ form.role(class='ui dropdown') }}
                        </div>
                        <div class="three wide field">
                            {{ form.vb_course.label() }}
                            {{ form.vb_course(class='ui dropdown') }}
                        </div>
                        <div class="three wide field">
                            {{ form.y_gre_course.label() }}
                            {{ form.y_gre_course(class='ui dropdown') }}
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button cancel loading-trigger" href="{{ url_for('manage.auth_admin') }}">取消</a>
                    <div class="ui error message"></div>
                    {% with email_errors = form.email.errors %}
                    {% if email_errors %}
                    <div class="ui flask negative message">
                        <ul class="list">
                            {% for error in email_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-manage-edit-auth-admin.js') }}"></script>
{% endblock %}
