{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑{{ user.name }}的研修计划{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/{{ Version.SemanticUICalendar }}/calendar.min.css" />
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑{{ user.name }}的研修计划</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui blue dividing header">教育经历</div>
                {% with records = user.education_records %}{% if records.count() %}<div class="ui relaxed list">
                    {% for record in records %}
                    <div class="item">
                        <div class="right floated content">
                            <div class="description">{{ record.year }}级</div>
                        </div>
                        <div class="content">
                            <div class="header">{{ record.school }}</div>
                            <div class="description">{{ record.type.name }} &middot; {% if record.major %}{{ record.major }}{% endif %}{% if record.gpa %} &middot; GPA：{{ record.gpa_alias }}{% endif %}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>{% else %}<div>无</div>{% endif %}{% endwith %}
                <div class="ui blue dividing header">工作经历</div>
                {% with records = user.employment_records %}{% if records.count() %}<div class="ui relaxed list">
                    {% for record in records %}
                    <div class="item">
                        <div class="right floated content">
                            <div class="description">{{ record.year }}年</div>
                        </div>
                        <div class="content">
                            <div class="header">{{ record.employer }}</div>
                            <div class="description">{{ record.position }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>{% else %}<div>无</div>{% endif %}{% endwith %}
                <div class="ui blue dividing header">既往成绩</div>
                {% with scores = user.score_records %}{% if scores.count() %}<div class="ui relaxed list">
                    {% for score in scores %}
                    <div class="item">
                        <div class="content">
                            <div class="header">{{ score.type.name }}</div>
                            <div class="description">{{ score.score_alias }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>{% else %}<div>无</div>{% endif %}{% endwith %}
                <div class="ui blue dividing header">GRE成绩</div>
                {% with scores = user.gre_test_scores %}{% if scores.count() %}<div class="ui relaxed list">
                    {% for score in scores %}
                    <div class="item">
                        <div class="right floated content">
                            <div class="description">{{ score.test.date }}</div>
                        </div>
                        <div class="content">
                            <div class="header">{% if score.label %}<div class="ui {{ score.label.color.css_class }} horizontal label">{{ score.label.name }}</div>{% endif %}{{ score.alias2 }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>{% endif %}{% endwith %}
                <div class="ui blue dividing header">TOEFL成绩</div>
                {% with scores = user.toefl_test_scores %}{% if scores.count() %}<div class="ui relaxed list">
                    {% for score in scores %}
                    <div class="item">
                        <div class="right floated content">
                            <div class="description">{{ score.test.date }}</div>
                        </div>
                        <div class="content">
                            <div class="header">{% if score.label %}<div class="ui {{ score.label.color.css_class }} horizontal label">{{ score.label.name }}</div>{% endif %}{{ score.alias2 }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>{% endif %}{% endwith %}
                <form id="edit-study-plan" action="{{ url_for('manage.edit_study_plan', id=user.id, next=request.args.get('next')) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="ui blue dividing header">时间参数</div>
                    <div class="fields">
                        <div class="eight wide required field">
                            {{ form.speed.label() }}
                            {{ form.speed(placeholder='时间系数') }}
                        </div>
                        <div class="eight wide required field">
                            {{ form.deadline.label() }}
                            <div id="deadline-wrap" class="ui calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.deadline(placeholder='YYYY-MM-DD') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="ui positive left labeled icon button"><i class="rocket icon"></i>自动生成</a>
                    <div class="ui blue dividing header">VB</div>
                    <div class="field">
                        <label>总论</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-intro-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_intro_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-intro-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_intro_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_intro_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L1</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-1-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_1_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-1-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_1_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_1_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L2</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-2-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_2_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-2-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_2_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_2_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L3</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-3-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_3_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-3-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_3_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_3_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L4</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-4-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_4_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-4-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_4_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_4_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L5</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-5-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_5_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-5-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_5_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_5_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L6</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-6-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_6_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-6-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_6_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_6_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L7</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-7-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_7_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-7-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_7_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_7_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L8</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-8-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_8_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-8-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_8_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_8_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>L9</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="vb-9-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_9_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="vb-9-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.vb_9_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.vb_9_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    {% if user.can('预约Y-GRE课程') %}
                    <div class="ui teal dividing header">Y-GRE</div>
                    <div class="field">
                        <label>总论</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-intro-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_intro_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-intro-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_intro_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_intro_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>1st</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-1-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_1_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-1-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_1_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_1_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>2nd</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-2-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_2_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-2-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_2_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_2_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>3rd</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-3-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_3_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-3-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_3_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_3_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>4th</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-4-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_4_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-4-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_4_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_4_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>5th</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-5-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_5_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-5-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_5_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_5_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>6th</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-6-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_6_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-6-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_6_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_6_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>7th</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-7-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_7_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-7-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_7_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_7_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>8th</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-8-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_8_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-8-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_8_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_8_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>9th</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-9-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_9_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-9-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_9_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_9_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>临考</label>
                        <div class="fields">
                            <div class="three wide field">
                                <div id="y-gre-prep-start-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_prep_start_date(placeholder='开始：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="three wide field">
                                <div id="y-gre-prep-end-date" class="ui calendar">
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        {{ form.y_gre_prep_end_date(placeholder='结束：YYYY-MM-DD') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ten wide field">
                                {{ form.y_gre_prep_notate_bene(class='ui dropdown') }}
                            </div>
                        </div>
                    </div>
                    <div class="ui blue dividing header">预计GRE考试日期</div>
                    <div class="fields">
                        <div class="four wide field">
                            {{ form.gre_0_date.label() | safe }}
                            <div class="ui date calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.gre_0_date(placeholder='YYYY-MM-DD') }}
                                </div>
                            </div>
                        </div>
                        <div class="four wide field">
                            {{ form.gre_1_date.label() }}
                            <div class="ui date calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.gre_1_date(placeholder='YYYY-MM-DD') }}
                                </div>
                            </div>
                        </div>
                        <div class="four wide field">
                            {{ form.gre_2_date.label() }}
                            <div class="ui date calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.gre_2_date(placeholder='YYYY-MM-DD') }}
                                </div>
                            </div>
                        </div>
                        <div class="four wide field">
                            {{ form.gre_3_date.label() }}
                            <div class="ui date calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {{ form.gre_3_date(placeholder='YYYY-MM-DD') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="ui grey dividing header">其它信息</div>
                    <div class="required field">
                        {{ form.supervisor_email.label() }}
                        <div class="ui fluid search">
                            {{ form.supervisor_email(placeholder='输入设计人姓名/邮箱查询', class='prompt') }}
                            <div class="results"></div>
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('main.profile_overview', id=user.id) }}">取消</a>
                    {{ macros.form_validation_error_widget(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/{{ Version.SemanticUICalendar }}/calendar.min.js"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

{{ macros.date_picker_js_snippet() }}
{{ macros.date_picker_js_snippet(calendar_id='deadline-wrap', min_date=user.activated_at, max_date=user.due_time) }}
{{ macros.date_range_picker_js_snippet(start_id='vb-intro-start-date', end_id='vb-intro-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-1-start-date', end_id='vb-1-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-2-start-date', end_id='vb-2-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-3-start-date', end_id='vb-3-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-4-start-date', end_id='vb-4-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-5-start-date', end_id='vb-5-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-6-start-date', end_id='vb-6-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-7-start-date', end_id='vb-7-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-8-start-date', end_id='vb-8-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='vb-9-start-date', end_id='vb-9-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-intro-start-date', end_id='y-gre-intro-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-1-start-date', end_id='y-gre-1-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-2-start-date', end_id='y-gre-2-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-3-start-date', end_id='y-gre-3-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-4-start-date', end_id='y-gre-4-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-5-start-date', end_id='y-gre-5-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-6-start-date', end_id='y-gre-6-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-7-start-date', end_id='y-gre-7-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-8-start-date', end_id='y-gre-8-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-9-start-date', end_id='y-gre-9-end-date') }}
{{ macros.date_range_picker_js_snippet(start_id='y-gre-prep-start-date', end_id='y-gre-prep-end-date') }}

$(document)
    .ready(function() {
        $('#edit-study-plan')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    speed: {
                        identifier: 'speed',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写时间系数'
                            },
                            {
                                type: 'number',
                                prompt: '请填写一个有效的时间系数'
                            }
                        ]
                    },
                    deadline: {
                        identifier: 'deadline',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写DDL日期'
                            },
                            {
                                type: 'regExp[/(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)/]',
                                prompt: '请填写一个有效的DDL日期'
                            }
                        ]
                    },
                    supervisor_email: {
                        identifier: 'supervisor_email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写设计人邮箱'
                            },
                            {
                                type: 'email',
                                prompt: '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

$('.ui.search')
    .search({
        apiSettings: {
            url: "{% if current_user.is_developer %}{{ url_for('manage.suggest_email_dev') }}{% else %}{{ url_for('manage.suggest_email') }}{% endif %}?keyword={query}"
        },
        showNoResults: false
    })
;
</script>
{% endblock %}