{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}编辑通知{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/editor/wangEditor.min.css') }}">
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="edit icon"></i>编辑通知</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <form id="edit-announcement" action="{{ url_for('manage.edit_announcement', id=announcement.id) }}" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="twelve wide required field">
                            {{ form.title.label() }}
                            {{ form.title(placeholder='通知标题') }}
                        </div>
                        <div class="four wide required field">
                            {{ form.announcement_type.label() }}
                            {{ form.announcement_type(class='ui dropdown') }}
                        </div>
                    </div>
                    <div class="required field">
                        {{ form.body.label() }}
                        {{ form.body(placeholder='通知内容') }}
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <div class="ui toggle checkbox">
                                {{ form.show() }}
                                {{ form.show.label() }}
                            </div>
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.announcement') }}">取消</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/editor/wangEditor.min.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$(document)
    .ready(function() {
        $('#edit-announcement')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    title: {
                        identifier: 'title',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入通知标题'
                            }
                        ]
                    },
                    announcement_type: {
                        identifier: 'announcement_type',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择通知类型'
                            }
                        ]
                    },
                    body: {
                        identifier: 'body',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入通知内容'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

// editor
var editor = new wangEditor('body');
editor.config.menus = [
    'source',
    '|',
    'bold',
    'underline',
    'italic',
    'strikethrough',
    'forecolor',
    '|',
    'quote',
    'unorderlist',
    'orderlist',
    '|',
    'eraser',
    'undo',
    'redo',
 ];
editor.create();
</script>
{% endblock %}