{% extends "base.html" %}

{% block title %}检索用户{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-find-user.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="find icon"></i> 检索用户</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                {% if users %}
                <h3 class="header">检索结果</h3>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>邮箱</th>
                            <th>用户组</th>
                            <th>VB班</th>
                            <th>Y-GRE班</th>
                            <th>激活时间</th>
                            <th>上次登录</th>
                            {% if current_user.can(Permission.MANAGE_USER) %}
                            <th>操作</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>
                                {{ user.email }}
                                {% if user.confirmed %}
                                <i class="check circle icon"></i>
                                {% else %}
                                <i class="remove circle icon"></i>
                                {% endif %}
                            </td>
                            <td>{{ user.role.name }}</td>
                            <td>{{ user.vb_course.name }}</td>
                            <td>{{ user.y_gre_course.name }}</td>
                            <td>{{ moment(user.member_since).format('YYYY-M-D H:mm:ss') }}</td>
                            <td>{{ moment(user.last_seen).format('YYYY-M-D H:mm:ss') }}</td>
                            {% if current_user.can(Permission.MANAGE_USER) %}
                            <td>
                                <a class="ui mini button" href="{{ url_for('manage.edit_user', id=user.id) }}"><i class="edit icon"></i> 编辑</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h3 class="header">暂无检索结果</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header">检索用户</h3>
                <form id="find-user" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        {{ form.name_or_email.label() }}
                        {{ form.name_or_email(place_holder='输入姓名或者邮箱') }}
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-find-user.js') }}"></script>
{% endblock %}
