{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}iPad管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.table .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.form .ui.flask.message {
    display: block;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="tablet icon"></i>iPad管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="tablet icon"></i>iPad列表</h3>
                {% if current_user.can('管理iPad设备') %}
                <div id="new-ipad-trigger" class="ui right floated positive circular icon button" data-content="新建iPad" data-position="top center" data-variation="inverted"><i class="add icon"></i></div>
                <div id="new-ipad-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建iPad</div>
                    <div class="content">
                        <form id="new-ipad" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ form.alias.label() }}
                                    {{ form.alias(placeholder='编号') }}
                                </div>
                                <div class="eight wide required field">
                                    {{ form.serial.label() }}
                                    {{ form.serial(placeholder='序列号') }}
                                </div>
                            </div>
                            <div class="fields">
                                <div class="four wide required field">
                                    {{ form.capacity.label() }}
                                    {{ form.capacity(class='ui dropdown') }}
                                </div>
                                <div class="four wide required field">
                                    {{ form.room.label() }}
                                    {{ form.room(class='ui dropdown') }}
                                </div>
                                <div class="four wide required field">
                                    {{ form.video_playback.label() }}
                                    <div class="ui right labeled input">
                                        {{ form.video_playback(placeholder='0') }}
                                        <div class="ui basic label">小时</div>
                                    </div>
                                </div>
                                <div class="four wide required field">
                                    {{ form.state.label() }}
                                    {{ form.state(class='ui dropdown') }}
                                </div>
                            </div>
                            <div class="field">
                                {{ form.vb_lessons.label() }}
                                {{ form.vb_lessons(class='ui dropdown') }}
                            </div>
                            <div class="field">
                                {{ form.y_gre_lessons.label() }}
                                {{ form.y_gre_lessons(class='ui dropdown') }}
                            </div>
                            {{ form.submit(class='ui primary button') }}
                            {{ macros.form_validation_error_widget(form) }}
                        </form>
                    </div>
                </div>
                {% endif %}
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_ipad_all %}active {% endif %}loading-trigger" href="{{ url_for('manage.all_ipads') }}">全部</a>
                    <a class="item {% if show_ipad_maintain %}active {% endif %}loading-trigger" href="{{ url_for('manage.maintain_ipads') }}">维护 {% if maintain_num %}[{{ maintain_num }}]{% endif %}</a>
                    <a class="item {% if show_ipad_charge %}active {% endif %}loading-trigger" href="{{ url_for('manage.charge_ipads') }}">充电 {% if charge_num %}[{{ charge_num }}]{% endif %}</a>
                    <a class="item {% if show_ipad_1103 %}active {% endif %}loading-trigger" href="{{ url_for('manage.room_1103_ipads') }}">1103</a>
                    <a class="item {% if show_ipad_1707 %}active {% endif %}loading-trigger" href="{{ url_for('manage.room_1707_ipads') }}">1707</a>
                    <a class="item {% if show_ipad_others %}active {% endif %}loading-trigger" href="{{ url_for('manage.other_ipads') }}">其它</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>序列号</th>
                            <th>容量</th>
                            <th>额定电量</th>
                            <th>VB内容</th>
                            <th>Y-GRE内容</th>
                            <th>状态</th>
                            <th>上次操作</th>
                            <th>操作人</th>
                            {% if current_user.can('管理iPad设备') %}
                            <th>操作</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for ipad in ipads %}
                        <tr>
                            <td>{{ ipad.alias }}</td>
                            <td><code>{{ ipad.serial }}</code></td>
                            <td>{{ ipad.capacity.name }}</td>
                            <td>{{ ipad.video_playback_alias }}</td>
                            <td>{% with lessons = ipad.has_vb_lessons %}{% if lessons.count() %}{% for lesson in lessons %}<a class="ui blue circular label loading-trigger" href="{{ url_for('manage.filter_ipad', keyword=lesson.id) }}" data-content="筛选含有“{{ lesson.name }}”的iPad" data-position="top center" data-variation="inverted">{{ lesson.abbr }}</a>{% endfor %}{% else %}无{% endif %}{% endwith %}</td>
                            <td>{% with lessons = ipad.has_y_gre_lessons %}{% if lessons.count() %}{% for lesson in lessons %}<a class="ui teal circular label loading-trigger" href="{{ url_for('manage.filter_ipad', keyword=lesson.id) }}" data-content="筛选含有“{{ lesson.name }}”的iPad" data-position="top center" data-variation="inverted">{{ lesson.abbr }}</a>{% endfor %}{% else %}无{% endif %}{% endwith %}</td>
                            <td>
                                {% if ipad.state.name == '借出' %}
                                <div class="ui orange mini button" style="cursor: not-allowed;">
                                    <i class="upload icon"></i>
                                    {{ ipad.state.name }}
                                </div>
                                {% else %}
                                    {% if ipad.state.name == '待机' %}
                                <div class="ui simple dropdown mini button">
                                    <i class="clock icon"></i>
                                    {% endif %}
                                    {% if ipad.state.name == '候补' %}
                                <div class="ui grey simple dropdown mini button">
                                    <i class="cube icon"></i>
                                    {% endif %}
                                    {% if ipad.state.name == '维护' %}
                                <div class="ui red simple dropdown mini button">
                                    <i class="configure icon"></i>
                                    {% endif %}
                                    {% if ipad.state.name == '充电' %}
                                <div class="ui green simple dropdown mini button">
                                    <i class="plug icon"></i>
                                    {% endif %}
                                    {% if ipad.state.name == '退役' %}
                                <div class="ui olive simple dropdown mini button">
                                    <i class="recycle icon"></i>
                                    {% endif %}
                                    {{ ipad.state.name }}
                                    <div class="menu">
                                        {% if ipad.state.name != '待机' %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_ipad_state_standby', id=ipad.id, next=url_for('manage.ipad', page=pagination.page)) }}"><i class="clock icon"></i>待机</a>
                                        {% endif %}
                                        {% if ipad.state.name != '候补' and current_user.can('管理iPad设备') %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_ipad_state_candidate', id=ipad.id, next=url_for('manage.ipad', page=pagination.page)) }}"><i class="cube icon"></i>候补</a>
                                        {% endif %}
                                        {% if ipad.state.name != '维护' %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_ipad_state_maintain', id=ipad.id, next=url_for('manage.ipad', page=pagination.page)) }}"><i class="configure icon"></i>维护</a>
                                        {% endif %}
                                        {% if ipad.state.name != '充电' %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_ipad_state_charge', id=ipad.id, next=url_for('manage.ipad', page=pagination.page)) }}"><i class="plug icon"></i>充电</a>
                                        {% endif %}
                                        {% if ipad.state.name != '退役' and current_user.can('管理iPad设备') %}
                                        <a class="item loading-trigger" href="{{ url_for('manage.set_ipad_state_obsolete', id=ipad.id, next=url_for('manage.ipad', page=pagination.page)) }}"><i class="recycle icon"></i>退役</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(ipad.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(ipad.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ macros.user_popup(ipad.modified_by) }}</td>
                            {% if current_user.can('管理iPad设备') %}
                            <td>
                                <div class="ui mini buttons">
                                    <a class="ui icon button loading-trigger" href="{{ url_for('manage.edit_ipad', id=ipad.id, next=url_for('manage.ipad', page=pagination.page)) }}"><i class="edit icon"></i></a>
                                    <div id="delete-trigger-{{ ipad.id }}" class="ui negative icon button"><i class="trash outline icon"></i></div>
                                </div>
                                <div id="delete-modal-{{ ipad.id }}" class="ui modal">
                                    <div class="header"><i class="warning sign icon"></i>确定要删除序列号为<code>{{ ipad.serial }}</code>的iPad？</div>
                                    <div class="actions">
                                        <a class="ui negative left labeled icon button loading-trigger" href="{{ url_for('manage.delete_ipad', id=ipad.id, next=url_for('manage.ipad', page=pagination.page)) }}"><i class="trash outline icon"></i>删除</a>
                                        <div id="delete-hide-trigger-{{ ipad.id }}" class="ui black button">保留</div>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.ipad') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('table').tablesort();

$('td .ui.circular.label').popup();

{% if current_user.can('管理iPad设备') %}
{% for ipad in ipads %}
$('#delete-trigger-{{ ipad.id }}')
    .on('click', function() {
        $('#delete-modal-{{ ipad.id }}').modal({ autofocus: false }).modal('show');
    })
;
$('#delete-hide-trigger-{{ ipad.id }}')
    .on('click', function() {
        $('#delete-modal-{{ ipad.id }}').modal('hide');
    })
;
{% endfor %}

$('#new-ipad-trigger').popup();
$('#new-ipad-trigger')
    .on('click', function() {
        $('#new-ipad-modal').modal({ autofocus: false }).modal('show');
    })
;

$(document)
    .ready(function() {
        $('#new-ipad')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    alias: {
                        identifier: 'alias',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写iPad编号'
                            }
                        ]
                    },
                    serial: {
                        identifier: 'serial',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写iPad序列号'
                            },
                            {
                                type: 'exactLength[12]',
                                prompt: 'iPad序列号必须为12位'
                            }
                        ]
                    },
                    capacity: {
                        identifier: 'capacity',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择容量'
                            }
                        ]
                    },
                    room: {
                        identifier: 'room',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择房间'
                            }
                        ]
                    },
                    video_playback: {
                        identifier: 'video_playback',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入满电量可播放视频时间（小时）'
                            },
                            {
                                type: 'number',
                                prompt: '满电量可播放视频时间必须为数字'
                            }
                        ]
                    },
                    state: {
                        identifier: 'state',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择状态'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
{% endif %}
</script>
{% endblock %}