{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}iPad内容排布表{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="table icon"></i>iPad内容排布表</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th><i class="tablet icon"></i>iPad</th>
                            {% for lesson in lessons %}<th>{{ lesson.name }}</th>{% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for ipad in ipads %}
                        <tr{% if ipad.now_rented_by %} class="warning rented-ipad" data-content="{{ ipad.now_rented_by.name_alias }}" data-position="top left" data-variation="inverted"{% else %}{% if ipad.state.name != '待机' %} class="disabled"{% endif %}{% endif %}>
                            <td>{% if ipad.state.name == '待机' %}<i class="clock icon"></i>{% endif %}{% if ipad.state.name == '借出' %}<i class="orange upload icon"></i>{% endif %}{% if ipad.state.name == '候补' %}<i class="grey cube icon"></i>{% endif %}{% if ipad.state.name == '维护' %}<i class="red configure icon"></i>{% endif %}{% if ipad.state.name == '充电' %}<i class="green plug icon"></i>{% endif %}{% if ipad.state.name == '退役' %}<i class="olive recycle icon"></i>{% endif %}{{ ipad.alias }}</td>
                            {% for lesson in lessons %}{% if ipad_contents[ipad.id_str][lesson.id_str] %}<td>{{ lesson.name }}</td>{% else %}<td></td>{% endif %}{% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('table').tablesort();

$('tr.rented-ipad').popup();
</script>
{% endblock %}