{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}时段模板管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.table .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="tasks icon"></i>时段模板管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="tasks icon"></i>时段模板</h3>
                <div class="ui right floated positive circular pointing dropdown icon button">
                    <i class="add icon"></i>
                    <div class="menu">
                        <div id="new-period-trigger" class="item"><i class="green add circle icon"></i>新建时段模板</div>
                        <a class="item loading-trigger" href="{{ url_for('manage.schedule') }}"><i class="clock icon"></i>管理时段信息</a>
                    </div>
                </div>
                <div id="new-period-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建时段模板</div>
                    <div class="content">
                        <form id="new-period" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="four wide required field">
                                    {{ form.name.label() }}
                                    {{ form.name(placeholder='时段名称') }}
                                </div>
                                <div class="four wide required field">
                                    {{ form.start_time.label() }}
                                    {{ form.start_time(class='ui dropdown') }}
                                </div>
                                <div class="four wide required field">
                                    {{ form.end_time.label() }}
                                    {{ form.end_time(class='ui dropdown') }}
                                </div>
                                <div class="four wide required field">
                                    {{ form.period_type.label() }}
                                    {{ form.period_type(class='ui dropdown') }}
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="inline field">
                                    <div class="ui toggle checkbox">
                                        {{ form.show() }}
                                        {{ form.show.label() }}
                                    </div>
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div class="ui secondary stackable menu">
                    <a class="item active loading-trigger" href="{{ url_for('manage.period', page=pagination.page) }}">全部</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>时段名称</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>时段类型</th>
                            <th>可选状态</th>
                            <th>上次操作</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for period in periods %}
                        <tr>
                            <td>{{ period.name }}</td>
                            <td>{{ moment(period.start_time_utc).format('H:mm') }}</td>
                            <td>{{ moment(period.end_time_utc).format('H:mm') }}</td>
                            <td>{{ period.type.name }}</td>
                            {% if period.show %}
                            <td class="positive">可选</td>
                            {% else %}
                            <td>不可选</td>
                            {% endif %}
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(period.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(period.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ period.modified_by.name }}</td>
                            <td>
                                <div class="ui mini icon buttons">
                                    {% if period.show %}
                                    <a class="ui grey button loading-trigger" href="{{ url_for('manage.toggle_period_show', id=period.id, next=url_for('manage.period', page=pagination.page)) }}"><i class="unhide icon"></i></a>
                                    {% else %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.toggle_period_show', id=period.id, next=url_for('manage.period', page=pagination.page)) }}"><i class="hide icon"></i></a>
                                    {% endif %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.edit_period', id=period.id, next=url_for('manage.period', page=pagination.page)) }}"><i class="edit icon"></i></a>
                                    <div id="delete-trigger-{{ period.id }}" class="ui negative button"><i class="trash outline icon"></i></div>
                                </div>
                                <div id="delete-modal-{{ period.id }}" class="ui modal">
                                    <div class="header"><i class="warning sign icon"></i>确定要删除时段模板“{{ period.name }}”？</div>
                                    <div class="actions">
                                        <a class="ui negative left labeled icon button loading-trigger" href="{{ url_for('manage.delete_period', id=period.id, next=url_for('manage.period', page=pagination.page)) }}"><i class="trash outline icon"></i>删除</a>
                                        <div id="delete-hide-trigger-{{ period.id }}" class="ui black button">保留</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'manage.period') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$('table').tablesort();

{% for period in periods %}
$('#delete-trigger-{{ period.id }}')
    .on('click', function() {
        $('#delete-modal-{{ period.id }}').modal({ autofocus: false }).modal('show');
    })
;
$('#delete-hide-trigger-{{ period.id }}')
    .on('click', function() {
        $('#delete-modal-{{ period.id }}').modal('hide');
    })
;
{% endfor %}

$('#new-period-trigger')
    .on('click', function() {
        $('#new-period-modal').modal({ autofocus: false }).modal('show');
    })
;

$(document)
    .ready(function() {
        $('#new-period')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入时段名称'
                            }
                        ]
                    },
                    start_time: {
                        identifier: 'start_time',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择开始时间'
                            }
                        ]
                    },
                    end_time: {
                        identifier: 'end_time',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择结束时间'
                            }
                        ]
                    },
                    period_type: {
                        identifier: 'period_type',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择时段类型'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}