{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}产品购买记录{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="tag icon"></i>{{ product.name }}</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="shop icon"></i>产品购买记录</h3>
                <div class="ui secondary stackable menu">
                    <a class="item active loading-trigger" href="{{ url_for('manage.product_purchase', id=product.id, page=pagination.page) }}">全部</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.product') }}">产品列表</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>购买用户</th>
                            <th>单价</th>
                            <th>购买数量</th>
                            <th>总价</th>
                            <th>购买时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                        <tr>
                            <td>{{ macros.user_popup_gender(purchase.user, purchase.user.id == current_user.id) }}</td>
                            <td><i class="fitted yen icon"></i> {{ product.price_alias }}</td>
                            <td>{{ purchase.quantity }}</td>
                            <td><i class="fitted yen icon"></i> {{ purchase.total_alias }}</td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(purchase.timestamp).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(purchase.timestamp).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.product_purchase', id=product.id) }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('table').tablesort();
</script>
{% endblock %}