{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}产品管理{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="shop icon"></i>产品管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="shop icon"></i>产品列表</h3>
                <div id="new-product-trigger" class="ui right floated positive circular icon button" data-content="新建产品" data-position="top center" data-variation="inverted"><i class="add icon"></i></div>
                <div id="new-product-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建产品</div>
                    <div class="content">
                        <form id="new-product" action="{{ url_for('manage.product') }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ form.name.label() }}
                                    {{ form.name(placeholder='研修产品名称') }}
                                </div>
                                <div class="eight wide required field">
                                    {{ form.price.label() }}
                                    <div class="ui left labeled input">
                                        <div class="ui label"><i class="fa fa-cny"></i></div>
                                        {{ form.price(placeholder='0') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="inline field">
                                    <div class="ui toggle checkbox">
                                        {{ form.available() }}
                                        {{ form.available.label() }}
                                    </div>
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div class="ui secondary stackable menu">
                    <a class="item active loading-trigger" href="{{ url_for('manage.product', page=pagination.page) }}">全部</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>研修产品</th>
                            <th>单价</th>
                            <th>销量</th>
                            <th>可选状态</th>
                            <th>上次操作</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td><i class="fitted yen icon"></i> {{ product.price_alias }}</td>
                            <td>{% if product.sales_volume %}<a class="purchase loading-trigger" href="{{ url_for('manage.product_purchase', id=product.id) }}" data-content="查看购买记录" data-position="top center" data-variation="inverted">{{ product.sales_volume }}</a>{% else %}0{% endif %}</td>
                            <td{% if product.available %} class="active"{% endif %}>{% if product.available %}可选{% else %}不可选{% endif %}</td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(product.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(product.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td class="single line">{{ macros.user_popup(product.modified_by, product.modified_by.id == current_user.id) }}</td>
                            <td>
                                <div class="ui mini icon buttons">
                                    {% if product.available %}
                                    <a class="ui grey button loading-trigger" href="{{ url_for('manage.toggle_product_availability', id=product.id, next=url_for('manage.product', page=pagination.page)) }}"><i class="unhide icon"></i></a>
                                    {% else %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.toggle_product_availability', id=product.id, next=url_for('manage.product', page=pagination.page)) }}"><i class="hide icon"></i></a>
                                    {% endif %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.edit_product', id=product.id, next=url_for('manage.product', page=pagination.page)) }}"><i class="edit icon"></i></a>
                                    <div id="delete-trigger-{{ product.id }}" class="ui negative icon button"><i class="trash outline icon"></i></div>
                                </div>
                                <div id="delete-modal-{{ product.id }}" class="ui modal">
                                    <div class="header"><i class="warning sign icon"></i>确定要删除产品“{{ product.name }}”？</div>
                                    <div class="actions">
                                        <a class="ui negative left labeled icon button loading-trigger" href="{{ url_for('manage.delete_product', id=product.id, next=url_for('manage.product', page=pagination.page)) }}"><i class="trash outline icon"></i>删除</a>
                                        <div id="delete-hide-trigger-{{ product.id }}" class="ui black button">保留</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.product') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$('.ui.sortable.table').tablesort();

$('td .purchase.loading-trigger').popup();

{% for product in products %}
$('#delete-trigger-{{ product.id }}')
    .on('click', function() {
        $('#delete-modal-{{ product.id }}').modal({ autofocus: false }).modal('show');
    })
;
$('#delete-hide-trigger-{{ product.id }}')
    .on('click', function() {
        $('#delete-modal-{{ product.id }}').modal('hide');
    })
;
{% endfor %}

$('#new-product-trigger').popup();
$('#new-product-trigger')
    .on('click', function() {
        $('#new-product-modal').modal({ autofocus: false }).modal('show');
    })
;

$(document)
    .ready(function() {
        $('#new-product')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入研修产品名称'
                            }
                        ]
                    },
                    price: {
                        identifier: 'price',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入研修产品单价'
                            },
                            {
                                type: 'number',
                                prompt: '请输入有效的产品单价'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}