{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}iPad借阅管理{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="retweet icon"></i>iPad借阅管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="retweet icon"></i>iPad借阅记录</h3>
                <a id="rental-rent-trigger" class="ui right floated positive circular icon button loading-trigger" href="{{ url_for('manage.rental_rent_step_1', next=url_for('manage.rental', page=pagination.page)) }}" data-content="借出iPad" data-position="top center" data-variation="inverted"><i class="upload icon"></i></a>
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_today_rentals %}active {% endif %}loading-trigger" href="{{ url_for('manage.today_rentals') }}">当日记录</a>
                    <a class="item {% if show_today_rentals_1103 %}active {% endif %}loading-trigger" href="{{ url_for('manage.today_rentals_1103') }}">当日记录 [1103]</a>
                    <a class="item {% if show_today_rentals_1707 %}active {% endif %}loading-trigger" href="{{ url_for('manage.today_rentals_1707') }}">当日记录 [1707]</a>
                    <a class="item {% if show_history_rentals %}active {% endif %}loading-trigger" href="{{ url_for('manage.history_rentals') }}">历史记录</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>iPad</th>
                            <th>借阅时段</th>
                            <th>预约</th>
                            <th>超时</th>
                            <th>借出时间</th>
                            <th>借出经办人</th>
                            <th>归还时间</th>
                            <th>归还经办人</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rental in rentals %}
                        <tr>
                            <td class="single line">{{ macros.user_popup_gender(rental.user, rental.user.id == current_user.id) }}</td>
                            <td>{{ rental.ipad.alias }} [<code>{{ rental.ipad.serial }}</code>]</td>
                            <td>{{ rental.schedule.period.alias }}</td>
                            {% if rental.walk_in %}<td class="negative">未预约</td>{% else %}<td class="positive">有预约</td>{% endif %}
                            {% if rental.returned %}<td>N/A</td>{% else %}{% if rental.is_overtime %}<td class="negative">已超时</td>{% else %}<td class="positive">未超时</td>{% endif %}{% endif %}
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(rental.rent_time).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(rental.rent_time).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td class="single line">{{ macros.user_popup(rental.rent_agent, rental.rent_agent.id == current_user.id) }}</td>
                            {% if rental.returned %}
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(rental.return_time).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(rental.return_time).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td class="single line">{{ macros.user_popup(rental.return_agent, rental.return_agent.id == current_user.id) }}</td>
                            <td class="positive">归还</td>
                            <td><div class="ui mini button disabled"><i class="ban icon"></i>无</a></td>
                            {% else %}
                            <td>无</td>
                            <td>无</td>
                            <td class="negative">借出</td>
                            <td>
                                <div class="ui mini icon buttons">
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.rental_return_step_1', next=url_for('manage.rental', page=pagination.page)) }}"><i class="download icon"></i></a>
                                    <a class="ui orange button loading-trigger" href="{{ url_for('manage.rental_exchange_step_1', rental_id=rental.id, next=url_for('manage.rental', page=pagination.page)) }}"><i class="retweet icon"></i></a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.rental') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.sortable.table').tablesort();

$('#rental-rent-trigger').popup();
</script>
{% endblock %}