{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}iPad借阅管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-rental.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="exchange icon"></i> iPad借阅管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div id="rentals" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="center aligned row">
            <div class="column">
                <div class="ui large buttons">
                    <a class="ui primary labeled icon button" href="{{ url_for('manage.rental_rent_step_1') }}"><i class="upload icon"></i> 借出iPad</a>
                    <div class="or" data-text="或"></div>
                    <a class="ui positive right labeled icon button" href="{{ url_for('manage.rental_return_step_1') }}">回收iPad <i class="download icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="users" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header">iPad借阅记录</h3>
                <div class="ui tabular menu">
                    {% if show_today_rental %}
                    <a class="item active" href="{{ url_for('manage.rental_today') }}">当日记录</a>
                    <a class="item" href="{{ url_for('manage.rental_history') }}">历史记录</a>
                    {% endif %}
                    {% if show_history_rental %}
                    <a class="item" href="{{ url_for('manage.rental_today') }}">当日记录</a>
                    <a class="item active" href="{{ url_for('manage.rental_history') }}">历史记录</a>
                    {% endif %}
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>iPad</th>
                            <th>借出时间</th>
                            <th>借出经办人</th>
                            <th>归还时间</th>
                            <th>归还经办人</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rental in rentals %}
                        <tr>
                            <td>{{ rental.user.name }}</td>
                            <td>
                                {{ rental.ipad.alias }}
                                [<code>{{ rental.ipad.serial }}</code>]
                            </td>
                            <td>{{ moment(rental.rent_time).format('YYYY-M-D H:mm:ss') }}</td>
                            <td>{{ rental.rent_agent.name }}</td>
                            <td>{{ moment(rental.return_time).format('YYYY-M-D H:mm:ss') }}</td>
                            <td>{{ rental.return_agent.name }}</td>
                            {% if rental.returned %}
                            <td class="positive">归还</td>
                            {% else %}
                            <td class="negative">借出</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'manage.rental') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-rental.js') }}"></script>
{% endblock %}