{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}借出iPad{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_manage.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="upload icon"></i>借出iPad</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid vertical steps">
                            <div class="completed step">
                                <i class="at icon"></i>
                                <div class="content">
                                    <div class="title">邮箱有效</div>
                                </div>
                            </div>
                            <div class="active step">
                                <i class="book icon"></i>
                                <div class="content">
                                    <div class="title">选择课程</div>
                                </div>
                            </div>
                            <div class="disabled step">
                                <i class="tablet icon"></i>
                                <div class="content">
                                    <div class="title">选取iPad</div>
                                </div>
                            </div>
                            <div class="disabled step">
                                <i class="barcode icon"></i>
                                <div class="content">
                                    <div class="title">扫码确认</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui big list">
                            <div class="item">{{ user.name }}（{{ user.email }}）</div>
                            <div class="item">进度：{{user.last_punch.alias2 }}</div>
                        </div>
                        <form id="select-lesson" action="{{ url_for('manage.rental_rent_step_2_lesson_alt', user_id=user.id) }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="required field">
                                {{ form.lesson.label() }}
                                {{ form.lesson(class='ui dropdown') }}
                            </div>
                            {{ form.submit(class='ui primary button') }}
                            <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.rental') }}">取消</a>
                            <a class="loading-trigger" href="{{ url_for('manage.rental_rent_step_2_alt', user_id=user.id, next=request.args.get('next')) }}">按进度选iPad？</a>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$(document)
    .ready(function() {
        $('#select-lesson')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    lesson: {
                        identifier: 'lesson',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择课程进度'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}