{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}更新进度{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-rental-return-step-1.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="refresh icon"></i> 更新进度</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid vertical steps">
                            <div class="active step">
                                <i class="at icon"></i>
                                <div class="content">
                                    <div class="title">输入邮箱查询用户</div>
                                </div>
                            </div>
                            <div class="disabled step">
                                <i class="student icon"></i>
                                <div class="content">
                                    <div class="title">选择课程进度信息</div>
                                </div>
                            </div>
                            <div class="disabled step">
                                <i class="record icon"></i>
                                <div class="content">
                                    <div class="title">选择视频进度信息</div>
                                </div>
                            </div>
                            <div class="disabled step">
                                <i class="save icon"></i>
                                <div class="content">
                                    <div class="title">确认并保存</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <form id="find-user" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="field">
                                {{ form.email.label() }}
                                <div class="ui fluid search">
                                    {{ form.email(placeholder='输入姓名/邮箱查询用户', class='prompt') }}
                                    <div class="results"></div>
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                            <a class="ui button loading-trigger" href="{{ url_for('manage.rental') }}">取消</a>
                            <a class="loading-trigger" href="{{ url_for('manage.rental_return_step_1') }}">回收iPad？</a>
                            <div class="ui error message"></div>
                            {% with email_errors = form.email.errors %}
                            {% if email_errors %}
                            <div class="ui flask negative message">
                                <ul class="list">
                                    {% for error in email_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-manage-rental-return-step-1-alt.js') }}"></script>
{% endblock %}