{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}调换iPad{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.form .ui.flask.message {
    display: block;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="exchange icon"></i> 调换iPad</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid vertical steps">
                            <div class="completed step">
                                <i class="barcode icon"></i>
                                <div class="content">
                                    <div class="title">已归还iPad：{{ rental.ipad.alias }}</div>
                                </div>
                            </div>
                            <div class="completed step">
                                <i class="tablet icon"></i>
                                <div class="content">
                                    <div class="title">已选取iPad：{{ ipad.alias }}</div>
                                </div>
                            </div>
                            <div class="active step">
                                <i class="barcode icon"></i>
                                <div class="content">
                                    <div class="title">扫码确认</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <form id="confirm-ipad" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="ten wide field">
                                    {{ form.serial.label() }}
                                    {{ form.serial(placeholder='iPad序列号') }}
                                </div>
                                <div class="six wide field">
                                    {{ form.battery_life.label() }}
                                    <div class="ui right labeled input">
                                        {{ form.battery_life(placeholder='0 ~ 100') }}
                                        <div class="ui basic label">%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    {{ form.root() }}
                                    {{ form.root.label() }}
                                </div>
                            </div>
                            <a class="ui button loading-trigger" href="{{ url_for('manage.rental_exchange_step_5', rental_id=rental.id, next=request.args.get('next')) }}">上一步</a>
                            {{ form.submit(class='ui primary button') }}
                            <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.rental') }}">取消</a>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox')
    .checkbox()
;

$(document)
    .ready(function() {
        $('#confirm-ipad')
            .form({
                onSuccess: submitForm,
                fields: {
                    serial: {
                        identifier  : 'serial',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入iPad序列号'
                            }
                        ]
                    },
                    battery_life: {
                        identifier  : 'battery_life',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入iPad剩余电量'
                            },
                            {
                                type   : 'integer[0..100]',
                                prompt : '电量数值超出范围（0 ~ 100）'
                            }
                        ]
                    },
                    root: {
                        identifier  : 'root',
                        rules: [
                            {
                                type   : 'checked',
                                prompt : '请确认引导式访问状态正常'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}