{% extends "base.html" %}

{% block title %}借出iPad{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-rental-rent.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="upload icon"></i> 借出iPad</h1>
</div>
{% endblock %}

{% block page_content %}
<div id="users" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header">借出iPad</h3>
                    <div class="ui fluid steps">
                        <div class="active step">
                        <i class="qrcode icon"></i>
                        <div class="content">
                            <div class="title">输入预约码</div>
                            <!-- <div class="description">Choose your shipping options</div> -->
                        </div>
                    </div>
                    <div class="step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">Billing</div>
                            <div class="description">Enter billing information</div>
                        </div>
                    </div>
                    <div class="disabled step">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">Confirm Order</div>
                        </div>
                    </div>
                </div>
                <a class="ui button">上一步</a>
                <a class="ui button">跳过</a>
                <a class="ui button">下一步</a>
                <a class="ui button">取消</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-rental-rent.js') }}"></script>
{% endblock %}