{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}更新进度{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-rental-return-step-4.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="refresh icon"></i> 更新进度</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid vertical steps">
                            <div class="completed step">
                                <i class="barcode icon"></i>
                                <div class="content">
                                    <div class="title">已回收iPad</div>
                                </div>
                            </div>
                            <div class="completed step">
                                <i class="student icon"></i>
                                <div class="content">
                                    <div class="title">课程进度信息：{{ lesson.type.name }} - {{ lesson.name }}</div>
                                </div>
                            </div>
                            <div class="completed step">
                                <i class="record icon"></i>
                                <div class="content">
                                    <div class="title">视频进度信息：{{ lesson.name }} - {{ section.name }}</div>
                                </div>
                            </div>
                            <div class="active step">
                                <i class="save icon"></i>
                                <div class="content">
                                    <div class="title">确认并保存</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui big list">
                            <div class="item">{{ user.name }}（{{ user.email }}）</div>
                            <div class="item">原先进度：{{ user.last_punch.lesson.type.name }} - {{ user.last_punch.lesson.name }} - {{ user.last_punch.section.name }}</div>
                            <div class="item">更新进度：{{ lesson.type.name }} - {{ lesson.name }} - {{ section.name }}</div>
                        </div>
                        <form id="confirm-punch" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <a class="ui button loading-trigger" href="{{ url_for('manage.rental_return_step_3', user_id=user.id, lesson_id=lesson.id) }}">上一步</a>
                            {{ form.submit(class='ui primary button') }}
                            <a class="ui button loading-trigger" href="{{ url_for('manage.rental') }}">取消</a>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-manage-rental-return-step-4.js') }}"></script>
{% endblock %}