{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}借出iPad{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-rental-rent-step-3.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="upload icon"></i> 借出iPad</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid vertical steps">
                            <div class="completed step">
                                <i class="qrcode icon"></i>
                                <div class="content">
                                    <div class="title">预约码有效</div>
                                </div>
                            </div>
                            <div class="completed step">
                                <i class="tablet icon"></i>
                                <div class="content">
                                    <div class="title">已选取iPad：{{ ipad.alias }}</div>
                                </div>
                            </div>
                            <div class="active step">
                                <i class="barcode icon"></i>
                                <div class="content">
                                    <div class="title">扫码确认</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <form id="confirm-ipad" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="ten wide field">
                                    {{ form.serial.label() }}
                                    {{ form.serial(placeholder='iPad序列号') }}
                                </div>
                                <div class="six wide field">
                                    {{ form.battery_life.label() }}
                                    <div class="ui right labeled input">
                                        {{ form.battery_life(placeholder='0 ~ 100') }}
                                        <div class="ui basic label">%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    {{ form.root() }}
                                    {{ form.root.label() }}
                                </div>
                            </div>
                            <a class="ui button loading-trigger" href="{{ url_for('manage.rental_rent_step_2', user_id=user.id, schedule_id=schedule.id) }}">上一步</a>
                            {{ form.submit(class='ui primary button') }}
                            <a class="ui button loading-trigger" href="{{ url_for('manage.rental') }}">取消</a>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/customize-manage-rental-rent-step-3.js') }}"></script>
{% endblock %}