{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}iPad借阅管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-rental.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="exchange icon"></i> iPad借阅管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="center aligned row">
            <div class="column">
                <div class="ui large buttons">
                    <a class="ui primary labeled icon button loading-trigger" href="{{ url_for('manage.rental_rent_step_1') }}"><i class="upload icon"></i> 借出iPad</a>
                    <div class="or" data-text="或"></div>
                    <a class="ui positive right labeled icon button loading-trigger" href="{{ url_for('manage.rental_return_step_1') }}">回收iPad <i class="download icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rentals" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header"><i class="exchange icon"></i> iPad借阅记录</h3>
                <div class="ui tabular menu">
                    {% if show_today_rental %}
                    <a class="item active loading-trigger" href="{{ url_for('manage.rental_today') }}">当日记录</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today_1103') }}">当日记录 [1103]</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today_1707') }}">当日记录 [1707]</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_history') }}">历史记录</a>
                    {% endif %}
                    {% if show_today_rental_1103 %}
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today') }}">当日记录</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.rental_today_1103') }}">当日记录 [1103]</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today_1707') }}">当日记录 [1707]</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_history') }}">历史记录</a>
                    {% endif %}
                    {% if show_today_rental_1707 %}
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today') }}">当日记录</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today_1103') }}">当日记录 [1103]</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.rental_today_1707') }}">当日记录 [1707]</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_history') }}">历史记录</a>
                    {% endif %}
                    {% if show_history_rental %}
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today') }}">当日记录</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today_1103') }}">当日记录 [1103]</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.rental_today_1707') }}">当日记录 [1707]</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.rental_history') }}">历史记录</a>
                    {% endif %}
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>iPad</th>
                            <th>借出时间</th>
                            <th>借出经办人</th>
                            <th>是否提前预约</th>
                            <th>是否超时</th>
                            <th>归还时间</th>
                            <th>归还经办人</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rental in rentals %}
                        <tr>
                            <td>
                                <a class="popup-trigger" href="{{ url_for('main.profile_user', user_id=rental.user.id) }}" target="_blank">{{ rental.user.name }}</a>
                                <div class="ui flowing popup popup-content">{{ rental.user.name }}（{{ rental.user.email }}）</div>
                            </td>
                            <td>
                                {{ rental.ipad.alias }}
                                [<code>{{ rental.ipad.serial }}</code>]
                            </td>
                            <td>
                                <div class="popup-trigger">{{ moment(rental.rent_time).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(rental.rent_time).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ rental.rent_agent.name }}</td>
                            {% if rental.walk_in %}
                            <td class="negative">未预约</td>
                            {% else %}
                            <td class="positive">有预约</td>
                            {% endif %}
                            {% if rental.is_overtime %}
                            <td class="negative">已超时</td>
                            {% else %}
                            <td class="positive">未超时</td>
                            {% endif %}
                            {% if rental.returned %}
                            <td>N/A</td>
                            <td>
                                <div class="popup-trigger">{{ moment(rental.return_time).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(rental.return_time).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ rental.return_agent.name }}</td>
                            <td class="positive">归还</td>
                            <td><div class="ui mini button disabled"><i class="ban icon"></i> 无</a></td>
                            {% else %}
                            <td>无</td>
                            <td>无</td>
                            <td class="negative">借出</td>
                            <td><a class="ui mini button loading-trigger"><i class="green exchange icon"></i> 调换</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'manage.rental') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-rental.js') }}"></script>
{% endblock %}