{% extends "base.html" %}

{% block title %}借出iPad{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-rental-rent-step-1-alt.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="upload icon"></i> 借出iPad</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid vertical steps">
                            <div class="active step">
                                <i class="at icon"></i>
                                <div class="content">
                                    <div class="title">输入邮箱查询用户</div>
                                </div>
                            </div>
                            <div class="step">
                                <i class="tablet icon"></i>
                                <div class="content">
                                    <div class="title">选取iPad</div>
                                </div>
                            </div>
                            <div class="step">
                                <i class="barcode icon"></i>
                                <div class="content">
                                    <div class="title">扫码确认</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <form id="find-user" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="field">
                                {{ form.email.label() }}
                                {{ form.email(placeholder='邮箱') }}
                            </div>
                            {{ form.submit(class='ui primary button') }}
                            <a class="ui button" href="{{ url_for('manage.rental') }}">取消</a>
                            <a href="{{ url_for('manage.rental_rent_step_1') }}">已经预约？</a>
                            <div class="ui error message"></div>
                            {% with email_errors = form.email.errors %}
                            {% if email_errors %}
                            <div class="ui flask negative message">
                                <ul class="list">
                                    {% for error in email_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-rental-rent-step-1-alt.js') }}"></script>
{% endblock %}