{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}借出iPad{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_manage.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="upload icon"></i>借出iPad</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid vertical steps">
                            <div class="completed step">
                                <i class="at icon"></i>
                                <div class="content">
                                    <div class="title">邮箱有效</div>
                                </div>
                            </div>
                            <div class="completed step">
                                <i class="book icon"></i>
                                <div class="content">
                                    <div class="title">已选课程：{{ lesson.alias }}</div>
                                </div>
                            </div>
                            <div class="completed step">
                                <i class="tablet icon"></i>
                                <div class="content">
                                    <div class="title">已选取iPad：{{ ipad.alias }}</div>
                                </div>
                            </div>
                            <div class="active step">
                                <i class="barcode icon"></i>
                                <div class="content">
                                    <div class="title">扫码确认</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <form id="confirm-ipad" action="{{ url_for('manage.rental_rent_step_4_lesson_alt', user_id=user.id, lesson_id=lesson.id, ipad_id=ipad.id) }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="ten wide required field">
                                    {{ form.serial.label() }}
                                    {{ form.serial(placeholder='iPad序列号') }}
                                </div>
                                <div class="six wide required field">
                                    {{ form.battery_life.label() }}
                                    <div class="ui right labeled input">
                                        {{ form.battery_life(placeholder='0 ~ 100') }}
                                        <div class="ui basic label">%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="inline required field">
                                    <div class="ui toggle checkbox">
                                        {{ form.root() }}
                                        {{ form.root.label() }}
                                    </div>
                                </div>
                            </div>
                            <a class="ui button loading-trigger" href="{{ url_for('manage.rental_rent_step_3_lesson_alt', user_id=user.id, lesson_id=lesson.id, next=request.args.get('next')) }}">上一步</a>
                            {{ form.submit(class='ui primary button') }}
                            <a class="ui button loading-trigger" href="{{ request.args.get('next') or url_for('manage.rental') }}">取消</a>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$(document)
    .ready(function() {
        $('#confirm-ipad')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    serial: {
                        identifier: 'serial',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入iPad序列号'
                            }
                        ]
                    },
                    battery_life: {
                        identifier: 'battery_life',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入iPad剩余电量'
                            },
                            {
                                type: 'integer[0..100]',
                                prompt: '电量数值超出范围（0 ~ 100）'
                            }
                        ]
                    },
                    root: {
                        identifier: 'root',
                        rules: [
                            {
                                type: 'checked',
                                prompt: '请确认引导式访问状态正常'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}