{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}时段管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-schedule.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="tasks icon"></i> 时段管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header">新建预约时段</h3>
                <form method="POST" class="ui big form">
                    {{ form.hidden_tag() }}
                    <div class="three fields">
                        <div class="five wide field">
                            {{ form.date.label() }}
                            {{ form.date(class='ui dropdown') }}
                        </div>
                        <div class="nine wide field">
                            {{ form.period.label() }}
                            {{ form.period(class='ui search dropdown') }}
                        </div>
                        <div class="two wide field">
                            {{ form.quota.label() }}
                            {{ form.quota(placeholder='0') }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            {{ form.publish_now() }}
                            {{ form.publish_now.label() }}
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 id="schedules" class="header">时段信息</h3>
                <div class="ui tabular menu">
                    {% if not show_out_of_date %}
                    <a class="item active" href="{{ url_for('manage.up_to_date_schedule') }}#schedules">未过期时段</a>
                    <a class="item" href="{{ url_for('manage.out_of_date_schedule') }}#schedules">已过期时段</a>
                    {% else %}
                    <a class="item" href="{{ url_for('manage.up_to_date_schedule') }}#schedules">未过期时段</a>
                    <a class="item active" href="{{ url_for('manage.out_of_date_schedule') }}#schedules">已过期时段</a>
                    {% endif %}
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>课程</th>
                            <th>时段</th>
                            <th>预约状态</th>
                            <th>发布状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if schedules %}
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{ moment(schedule.date).format('YYYY-M-D ddd') }}</td>
                            <td>{{ schedule.period.type.name }}</td>
                            <td>{{ moment(schedule.period.start_time_utc).format('H:mm') }} - {{ moment(schedule.period.end_time_utc).format('H:mm') }}</td>
                            {% if schedule.valid_bookings.count() < schedule.quota %}
                            <td {% if schedule.valid_bookings.count() >= schedule.quota %}class="negative"{% endif %}>
                                {{ schedule.valid_bookings.count() }} / {{ schedule.quota }}
                                <div class="ui small basic icon buttons">
                                    <a class="ui button" href="{{ url_for('manage.increase_schedule_quota', id=schedule.id) }}"><i class="plus icon"></i></a>
                                    {% if schedule.quota <= 0 %}
                                    <div class="ui disabled button"><i class="minus icon"></i><div>
                                    {% else %}
                                    <a class="ui button" href="{{ url_for('manage.decrease_schedule_quota', id=schedule.id) }}"><i class="minus icon"></i></a>
                                    {% endif %}
                                </div>
                            </td>
                            {% else %}
                            <td class="negative">
                                {{ schedule.valid_bookings.count() }} / {{ schedule.quota }}
                                <div class="ui small basic icon buttons">
                                    <a class="ui button" href="{{ url_for('manage.increase_schedule_quota', id=schedule.id) }}"><i class="plus icon"></i></a>
                                    {% if schedule.quota <= 0 %}
                                    <div class="ui disabled button"><i class="minus icon"></i><div>
                                    {% else %}
                                    <a class="ui button" href="{{ url_for('manage.decrease_schedule_quota', id=schedule.id) }}"><i class="minus icon"></i></a>
                                    {% endif %}
                                </div>
                            </td>
                            {% endif %}
                            {% if schedule.out_of_date %}
                            <td class="negative">已过期</td>
                            <td><div class="ui basic disabled button"><i class="setting icon"></i> 操作</div></td>
                            {% else %}
                            {% if schedule.available %}
                            <td class="positve">已发布</td>
                            <td><a class="ui basic negative button" href="{{ url_for('manage.retract_schedule', id=schedule.id) }}"><i class="undo icon"></i> 撤销</a>
                            </td>
                            {% else %}
                            <td>未发布</td>
                            <td><a class="ui basic primary button" href="{{ url_for('manage.publish_schedule', id=schedule.id) }}"><i class="send icon"></i> 发布</a></td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="disabled">
                            <td>无</td>
                            <td>无</td>
                            <td>无</td>
                            <td>无</td>
                            <td>无</td>
                            <td>无</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'manage.schedule') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-schedule.js') }}"></script>
{% endblock %}
