{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}时段管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-schedule.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="wait icon"></i> 时段管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div id="schedules" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header"><i class="wait icon"></i> 时段信息</h3>
                <div class="ui tabular menu">
                    {% if show_today_schedule %}
                    <a class="item active loading-trigger" href="{{ url_for('manage.today_schedule') }}">当日时段</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.future_schedule') }}">未来时段</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.history_schedule') }}">历史时段</a>
                    {% endif %}
                    {% if show_future_schedule %}
                    <a class="item loading-trigger" href="{{ url_for('manage.today_schedule') }}">当日时段</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.future_schedule') }}">未来时段</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.history_schedule') }}">历史时段</a>
                    {% endif %}
                    {% if show_history_schedule %}
                    <a class="item loading-trigger" href="{{ url_for('manage.today_schedule') }}">当日时段</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.future_schedule') }}">未来时段</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.history_schedule') }}">历史时段</a>
                    {% endif %}
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>课程</th>
                            <th>时段</th>
                            <th>预约状态</th>
                            <th>发布状态</th>
                            <th>上次操作</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{ moment(schedule.date).format('YYYY-M-D ddd') }}</td>
                            <td>{{ schedule.period.type.name }}</td>
                            <td>
                                {% if schedule.unstarted %}
                                <div class="ui teal label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {% if schedule.started %}
                                <div class="ui red label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {% if schedule.ended %}
                                <div class="ui label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {{ moment(schedule.period.start_time_utc).format('H:mm') }} - {{ moment(schedule.period.end_time_utc).format('H:mm') }}
                            </td>
                            <td {% if schedule.full %}class="negative"{% endif %}>
                                {{ schedule.occupied_quota }} / {{ schedule.quota }}
                                {% if schedule.out_of_date %}
                                <div class="ui mini icon buttons">
                                    <div class="ui disabled button"><i class="plus icon"></i></div>
                                    <div class="ui disabled button"><i class="minus icon"></i></div>
                                </div>
                                {% else %}
                                <div class="ui mini icon buttons">
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.increase_schedule_quota', id=schedule.id, next=url_for('manage.schedule', page=pagination.page)) }}"><i class="plus icon"></i></a>
                                    {% if schedule.quota <= 0 or schedule.quota <= schedule.occupied_quota %}
                                    <div class="ui disabled button"><i class="minus icon"></i></div>
                                    {% else %}
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.decrease_schedule_quota', id=schedule.id, next=url_for('manage.schedule', page=pagination.page)) }}"><i class="minus icon"></i></a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </td>
                            {% if schedule.out_of_date %}
                            <td class="negative">已过期</td>
                            <td>
                                <div class="popup-trigger">{{ moment(schedule.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(schedule.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ schedule.modified_by.name }}</td>
                            <td><div class="ui disabled mini button"><i class="setting icon"></i> 操作</div></td>
                            {% else %}
                            {% if schedule.available %}
                            <td class="positive">已发布</td>
                            <td>
                                <div class="popup-trigger">{{ moment(schedule.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(schedule.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ schedule.modified_by.name }}</td>
                            <td><a class="ui negative mini button loading-trigger" href="{{ url_for('manage.retract_schedule', id=schedule.id, next=url_for('manage.schedule', page=pagination.page)) }}"><i class="undo icon"></i> 撤销</a>
                            </td>
                            {% else %}
                            <td>未发布</td>
                            <td>
                                <div class="popup-trigger">{{ moment(schedule.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(schedule.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ schedule.modified_by.name }}</td>
                            <td><a class="ui primary mini button loading-trigger" href="{{ url_for('manage.publish_schedule', id=schedule.id, next=url_for('manage.schedule', page=pagination.page)) }}"><i class="send icon"></i> 发布</a></td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'manage.schedule') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header"><i class="add circle icon"></i> 新建预约时段</h3>
                <form method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="five wide field">
                            {{ form.date.label() }}
                            {{ form.date(class='ui dropdown') }}
                        </div>
                        <div class="nine wide field">
                            {{ form.period.label() }}
                            {{ form.period(class='ui search dropdown') }}
                        </div>
                        <div class="two wide field">
                            {{ form.quota.label() }}
                            {{ form.quota(placeholder='0') }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            {{ form.publish_now() }}
                            {{ form.publish_now.label() }}
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <a class="ui button loading-trigger" href="{{ url_for('manage.period') }}">编辑时段模板</a>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-schedule.js') }}"></script>
{% endblock %}
