{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}预约时段管理{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
<style type="text/css">
.ui.vertical.stripe .ui.table .ui.buttons {
    margin-left: 10px;
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="clock icon"></i>预约时段管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="clock icon"></i>预约时段列表</h3>
                <div id="new-schedule-trigger" class="ui right floated positive circular icon button" data-content="新建预约时段" data-position="top center" data-variation="inverted"><i class="add icon"></i></div>
                <div id="new-schedule-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建预约时段</div>
                    <div class="content">
                        <form id="new-schedule" action="{{ url_for('manage.schedule') }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="four wide required field">
                                    {{ form.date.label() }}
                                    {{ form.date(class='ui dropdown') }}
                                </div>
                                <div class="ten wide required field">
                                    {{ form.period.label() }}
                                    {{ form.period(class='ui dropdown') }}
                                </div>
                                <div class="two wide required field">
                                    {{ form.quota.label() }}
                                    {{ form.quota(placeholder='0') }}
                                </div>
                            </div>
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    {{ form.publish_now() }}
                                    {{ form.publish_now.label() }}
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_today_schedule %}active {% endif %}loading-trigger" href="{{ url_for('manage.today_schedule') }}">当日时段</a>
                    <a class="item {% if show_future_schedule %}active {% endif %}loading-trigger" href="{{ url_for('manage.future_schedule') }}">未来时段</a>
                    <a class="item {% if show_history_schedule %}active {% endif %}loading-trigger" href="{{ url_for('manage.history_schedule') }}">历史时段</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.period') }}">管理时段模板</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>课程</th>
                            <th>时段</th>
                            <th>预约状态</th>
                            <th>发布状态</th>
                            <th>上次操作</th>
                            <th>操作人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{ moment(schedule.date).format('YYYY-M-D ddd') }}</td>
                            <td>{{ schedule.period.type.name }}</td>
                            <td>
                                {% if schedule.unstarted %}
                                <div class="ui teal label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {% if schedule.started %}
                                <div class="ui red label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {% if schedule.ended %}
                                <div class="ui label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {{ moment(schedule.period.start_time_utc).format('H:mm') }} - {{ moment(schedule.period.end_time_utc).format('H:mm') }}
                            </td>
                            <td{% if schedule.full %} class="negative"{% endif %}>
                                {{ schedule.occupied_quota }} / {{ schedule.quota }}
                                {% if schedule.out_of_date %}
                                <div class="ui mini buttons">
                                    <div class="ui disabled icon button"><i class="plus icon"></i></div>
                                    <div class="ui disabled icon button"><i class="minus icon"></i></div>
                                </div>
                                {% else %}
                                <div class="ui mini buttons">
                                    <a class="ui icon button loading-trigger" href="{{ url_for('manage.increase_schedule_quota', id=schedule.id, next=url_for('manage.schedule', page=pagination.page)) }}"><i class="plus icon"></i></a>
                                    {% if schedule.quota <= 0 or schedule.quota <= schedule.occupied_quota %}
                                    <div class="ui disabled icon button"><i class="minus icon"></i></div>
                                    {% else %}
                                    <a class="ui icon button loading-trigger" href="{{ url_for('manage.decrease_schedule_quota', id=schedule.id, next=url_for('manage.schedule', page=pagination.page)) }}"><i class="minus icon"></i></a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </td>
                            {% if schedule.out_of_date %}
                            <td class="negative">已过期</td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(schedule.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(schedule.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ macros.user_popup(schedule.modified_by, schedule.modified_by.id == current_user.id) }}</td>
                            <td><div class="ui disabled mini button"><i class="setting icon"></i>操作</div></td>
                            {% else %}
                            {% if schedule.available %}
                            <td class="active">已发布</td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(schedule.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(schedule.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ macros.user_popup(schedule.modified_by, schedule.modified_by.id == current_user.id) }}</td>
                            <td><a class="ui negative mini button loading-trigger" href="{{ url_for('manage.retract_schedule', id=schedule.id, next=url_for('manage.schedule', page=pagination.page)) }}"><i class="undo icon"></i>撤销</a>
                            </td>
                            {% else %}
                            <td>未发布</td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(schedule.modified_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(schedule.modified_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>{{ macros.user_popup(schedule.modified_by, schedule.modified_by.id == current_user.id) }}</td>
                            <td><a class="ui primary mini button loading-trigger" href="{{ url_for('manage.publish_schedule', id=schedule.id, next=url_for('manage.schedule', page=pagination.page)) }}"><i class="send icon"></i>发布</a></td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.schedule') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$('table').tablesort();

$('#new-schedule-trigger').popup();
$('#new-schedule-trigger')
    .on('click', function() {
        $('#new-schedule-modal').modal({ autofocus: false }).modal('show');
    })
;

$(document)
    .ready(function() {
        $('#new-schedule')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    date: {
                        identifier: 'date',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择日期'
                            }
                        ]
                    },
                    period: {
                        identifier: 'period',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择预约时段'
                            }
                        ]
                    },
                    quota: {
                        identifier: 'quota',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入预约名额'
                            },
                            {
                                type: 'integer[1..]',
                                prompt: '请输入一个大于0的整数'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
</script>
{% endblock %}