{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}系统实况{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
<style type="text/css">
.ui.vertical.stripe .ui.statistic .label {
    font-size: 1.2em;
    text-transform: none;
}

@media only screen and (max-width: 767px) {
    .stats.stripe.segment {
        padding: 0em;
    }
}

.ui.cards .card .ipad-basic-info.content .header .right.floated a {
    color: #FFF;
}
.ui.cards .red.card .ipad-basic-info.content {
    background-color: #DB2828;
}
.ui.cards .orange.card .ipad-basic-info.content {
    background-color: #F2711C;
}
.ui.cards .yellow.card .ipad-basic-info.content {
    background-color: #FBBD08;
}
.ui.cards .olive.card .ipad-basic-info.content {
    background-color: #B5CC18;
}
.ui.cards .green.card .ipad-basic-info.content {
    background-color: #21BA45;
}
.ui.cards .teal.card .ipad-basic-info.content {
    background-color: #00B5AD;
}
.ui.cards .blue.card .ipad-basic-info.content {
    background-color: #2185D0;
}
.ui.cards .violet.card .ipad-basic-info.content {
    background-color: #6435C9;
}
.ui.cards .purple.card .ipad-basic-info.content {
    background-color: #A333C8;
}
.ui.cards .pink.card .ipad-basic-info.content {
    background-color: #E03997;
}
.ui.cards .brown.card .ipad-basic-info.content {
    background-color: #A5673F;
}
.ui.cards .grey.card .ipad-basic-info.content {
    background-color: #767676;
}
.ui.cards .black.card .ipad-basic-info.content {
    background-color: #1B1C1D;
}
.ui.cards .red.card .ipad-basic-info.content .header,
.ui.cards .orange.card .ipad-basic-info.content .header,
.ui.cards .yellow.card .ipad-basic-info.content .header,
.ui.cards .olive.card .ipad-basic-info.content .header,
.ui.cards .green.card .ipad-basic-info.content .header,
.ui.cards .teal.card .ipad-basic-info.content .header,
.ui.cards .blue.card .ipad-basic-info.content .header,
.ui.cards .violet.card .ipad-basic-info.content .header,
.ui.cards .purple.card .ipad-basic-info.content .header,
.ui.cards .pink.card .ipad-basic-info.content .header,
.ui.cards .brown.card .ipad-basic-info.content .header,
.ui.cards .grey.card .ipad-basic-info.content .header,
.ui.cards .black.card .ipad-basic-info.content .header {
    color: #FFF;
}
.ui.cards .red.card .ipad-basic-info.content .meta,
.ui.cards .orange.card .ipad-basic-info.content .meta,
.ui.cards .yellow.card .ipad-basic-info.content .meta,
.ui.cards .olive.card .ipad-basic-info.content .meta,
.ui.cards .green.card .ipad-basic-info.content .meta,
.ui.cards .teal.card .ipad-basic-info.content .meta,
.ui.cards .blue.card .ipad-basic-info.content .meta,
.ui.cards .violet.card .ipad-basic-info.content .meta,
.ui.cards .purple.card .ipad-basic-info.content .meta,
.ui.cards .pink.card .ipad-basic-info.content .meta,
.ui.cards .brown.card .ipad-basic-info.content .meta,
.ui.cards .grey.card .ipad-basic-info.content .meta,
.ui.cards .black.card .ipad-basic-info.content .meta {
    color: rgba(255,255,255,.6);
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="dashboard icon"></i>系统实况</h1>
</div>
{% endblock %}

{% block page_content %}
<div id="stats" class="ui vertical stripe stats segment loading">
    <div id="page-loading-progress" class="ui top attached blue inverted progress">
        <div class="bar"></div>
    </div>
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <div class="ui blue statistic">
                    <div class="label">VB总论</div>
                    <div class="label">到场/预约人数</div>
                    <div class="value">
                        <span id="stat-vb-intro">0</span>/<span id="stat-vb-intro-total">0</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui blue statistic">
                    <div class="label">VB L1-3</div>
                    <div class="label">到场/预约人数</div>
                    <div class="value">
                        <span id="stat-vb-l1-3">0</span>/<span id="stat-vb-l1-3-total">0</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui blue statistic">
                    <div class="label">VB L4-9</div>
                    <div class="label">到场/预约人数</div>
                    <div class="value">
                        <span id="stat-vb-l4-9">0</span>/<span id="stat-vb-l4-9-total">0</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui teal statistic">
                    <div class="label">Y-GRE总论</div>
                    <div class="label">到场/预约人数</div>
                    <div class="value">
                        <span id="stat-gre-intro">0</span>/<span id="stat-gre-intro-total">0</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui teal statistic">
                    <div class="label">Y-GRE 1st-9th</div>
                    <div class="label">到场/预约人数</div>
                    <div class="value">
                        <span id="stat-y-gre">0</span>/<span id="stat-y-gre-total">0</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui teal statistic">
                    <div class="label">AW总论</div>
                    <div class="label">到场/预约人数</div>
                    <div class="value">
                        <span id="stat-aw-intro">0</span>/<span id="stat-aw-intro-total">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="center aligned row">
            <div class="column">
                <div class="ui statistic">
                    <div class="label">1103</div>
                    <div class="label">iPad使用情况</div>
                    <div class="value">
                        <span id="stat-ipad-rent-1103">0</span>/<span id="stat-ipad-total-1103">0</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="label">1103</div>
                    <div class="label">未预约到场人数</div>
                    <div id="stat-walk-in-1103" class="value">0</div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="label">1103</div>
                    <div class="label">遗留人数</div>
                    <div id="stat-overtime-1103" class="value">0</div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="label">1707</div>
                    <div class="label">iPad使用情况</div>
                    <div class="value">
                        <span id="stat-ipad-rent-1707">0</span>/<span id="stat-ipad-total-1707">0</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="label">1707</div>
                    <div class="label">未预约到场人数</div>
                    <div id="stat-walk-in-1707" class="value">0</div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="label">1707</div>
                    <div class="label">遗留人数</div>
                    <div id="stat-overtime-1707" class="value">0</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ipads" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header">
                    <i class="tablet icon"></i>
                    <div class="content">
                        iPad状态
                        <div class="sub header">{{ ipads_num }} 台iPad{% if show_summary_ipad_1103 %}位于1103室{% endif %}{% if show_summary_ipad_1707 %}位于1707室{% endif %}{% if show_summary_ipad_others %}未分配房间{% endif %}</div>
                    </div>
                </h3>
                <a class="ui right floated positive circular icon button popup-item loading-trigger" href="{{ url_for('manage.rental_rent_step_1', next=url_for('manage.summary')) }}" data-content="借出iPad" data-position="top center" data-variation="inverted"><i class="upload icon"></i></a>
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_summary_ipad_1103 %}active {% endif %}loading-trigger" href="{{ url_for('manage.summary_room_1103_ipads') }}#ipads">1103</a>
                    <a class="item {% if show_summary_ipad_1707 %}active {% endif %}loading-trigger" href="{{ url_for('manage.summary_room_1707_ipads') }}#ipads">1707</a>
                    <a class="item {% if show_summary_ipad_others %}active {% endif %}loading-trigger" href="{{ url_for('manage.summary_other_ipads') }}#ipads">其它</a>
                </div>
                <div id="ipads-container" class="ui five stackable cards"></div>
                {% if ipads_num %}<div id="ipads-loader" class="ui active centered inline text loader">正在加载 {{ ipads_num }} 台iPad…</div>{% else %}<div class="ui center aligned icon header disabled"><i class="tablet icon"></i>0 台iPad</div>{% endif %}
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="user icon"></i>查询用户档案</h3>
                <div class="ui search">
                    <div class="ui left icon input">
                        <input class="prompt" type="text" placeholder="姓名/邮箱">
                        <i class="user icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if announcements %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="announcement icon"></i>通知</h3>
                <div class="ui divided items">
                    {% for announcement in announcements %}
                    <div class="item">
                        <div class="content">
                            <div class="header">{{ announcement.title }}</div>
                            {% if current_user.can('管理通知') %}
                            <div class="right floated">
                                <a class="ui circular icon button popup-item loading-trigger" href="{{ url_for('manage.retract_announcement', id=announcement.id, next=url_for('manage.summary')) }}" data-content="撤回" data-position="top center" data-variation="inverted"><i class="undo icon"></i></a>
                                <a class="ui circular icon button popup-item loading-trigger" href="{{ url_for('manage.edit_announcement', id=announcement.id, next=url_for('manage.summary')) }}" data-content="编辑" data-position="top center" data-variation="inverted"><i class="edit icon"></i></a>
                                {% endif %}
                            </div>
                            <div class="meta"><i class="send outline icon"></i>{{ moment(announcement.modified_at).fromNow() }}</div>
                            <div class="description">{{ announcement.body_html | safe }}</div>
                            <div class="extra">发布人：{{ announcement.modified_by.name }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/countup.js/{{ Version.CountUp }}/countUp.min.js"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function () {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

// progress bar
$('#page-loading-progress').progress({
    total: 20 + {{ ipads_num }},
    onSuccess: function () {
        $('#page-loading-progress').fadeOut(1000, function () {
            $('#page-loading-progress').remove();
        });
    }
});

// search
$('.ui.search')
    .search({
        apiSettings: {
            url: "{{ url_for('manage.search_user') }}?keyword={query}"
        },
        showNoResults: false
    })
;

// update statistics
var countUpOptions = {
    useEasing: true,
    useGrouping: true,
    separator: ',',
    decimal: '.',
    prefix: '',
    suffix: ''
};
var iPadRent1103CountUp = new CountUp('stat-ipad-rent-1103', 0, 0, 0, 2.5, countUpOptions);
var iPadTotal1103CountUp = new CountUp('stat-ipad-total-1103', 0, 0, 0, 2.5, countUpOptions);
var iPadWalkIn1103CountUp = new CountUp('stat-walk-in-1103', 0, 0, 0, 2.5, countUpOptions);
var iPadOvertime1103CountUp = new CountUp('stat-overtime-1103', 0, 0, 0, 2.5, countUpOptions);
var iPadRent1707CountUp = new CountUp('stat-ipad-rent-1707', 0, 0, 0, 2.5, countUpOptions);
var iPadTotal1707CountUp = new CountUp('stat-ipad-total-1707', 0, 0, 0, 2.5, countUpOptions);
var iPadWalkIn1707CountUp = new CountUp('stat-walk-in-1707', 0, 0, 0, 2.5, countUpOptions);
var iPadOvertime1707CountUp = new CountUp('stat-overtime-1707', 0, 0, 0, 2.5, countUpOptions);
var VBIntroCountUp = new CountUp('stat-vb-intro', 0, 0, 0, 2.5, countUpOptions);
var VBIntroTotalCountUp = new CountUp('stat-vb-intro-total', 0, 0, 0, 2.5, countUpOptions);
var GREIntroCountUp = new CountUp('stat-gre-intro', 0, 0, 0, 2.5, countUpOptions);
var GREIntroTotalCountUp = new CountUp('stat-gre-intro-total', 0, 0, 0, 2.5, countUpOptions);
var AWIntroCountUp = new CountUp('stat-aw-intro', 0, 0, 0, 2.5, countUpOptions);
var AWIntroTotalCountUp = new CountUp('stat-aw-intro-total', 0, 0, 0, 2.5, countUpOptions);
var VBL1_3CountUp = new CountUp('stat-vb-l1-3', 0, 0, 0, 2.5, countUpOptions);
var VBL1_3TotalCountUp = new CountUp('stat-vb-l1-3-total', 0, 0, 0, 2.5, countUpOptions);
var VBL4_10CountUp = new CountUp('stat-vb-l4-9', 0, 0, 0, 2.5, countUpOptions);
var VBL4_10TotalCountUp = new CountUp('stat-vb-l4-9-total', 0, 0, 0, 2.5, countUpOptions);
var YGRECountUp = new CountUp('stat-y-gre', 0, 0, 0, 2.5, countUpOptions);
var YGRETotalCountUp = new CountUp('stat-y-gre-total', 0, 0, 0, 2.5, countUpOptions);
function updateStats(updateProgressBar) {
    var url = "{{ url_for('manage.summary_statistics') }}";
    $.getJSON(url, function(data) {
        if (updateProgressBar) {
            $('#stats').removeClass('loading');
        };
        iPadRent1103CountUp.update(data.room_1103.ipad.rent);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        iPadTotal1103CountUp.update(data.room_1103.ipad.total);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        iPadWalkIn1103CountUp.update(data.room_1103.rental.walk_in);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        iPadOvertime1103CountUp.update(data.room_1103.rental.overtime);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        iPadRent1707CountUp.update(data.room_1707.ipad.rent);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        iPadTotal1707CountUp.update(data.room_1707.ipad.total);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        iPadWalkIn1707CountUp.update(data.room_1707.rental.walk_in);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        iPadOvertime1707CountUp.update(data.room_1707.rental.overtime);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        VBIntroCountUp.update(data.booking.vb.intro.show_up);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        VBIntroTotalCountUp.update(data.booking.vb.intro.total);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        GREIntroCountUp.update(data.booking.y_gre.intro.show_up);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        GREIntroTotalCountUp.update(data.booking.y_gre.intro.total);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        AWIntroCountUp.update(data.booking.y_gre.aw_intro.show_up);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        AWIntroTotalCountUp.update(data.booking.y_gre.aw_intro.total);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        VBL1_3CountUp.update(data.booking.vb.l1_3.show_up);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        VBL1_3TotalCountUp.update(data.booking.vb.l1_3.total);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        VBL4_10CountUp.update(data.booking.vb.l4_9.show_up);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        VBL4_10TotalCountUp.update(data.booking.vb.l4_9.total);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        YGRECountUp.update(data.booking.y_gre.y_gre.show_up);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
        YGRETotalCountUp.update(data.booking.y_gre.y_gre.total);
        if (updateProgressBar) {
            $('#page-loading-progress').progress('increment');
        };
    });
};
updateStats(true);
setInterval(function () {
    updateStats(false);
}, 15000);

// update iPad info
function updateCards(updateProgressBar) {
    var url = "{{ url_for('manage.summary_room', room_id=room_id) }}";
    $.getJSON(url, function(data) {
        $('.ipad.card').remove();
        if (data.ipads.length > 0) {
            $('#ipads-loader').remove();
        };
        for (var i in data.ipads) {
            $('#ipads-container')
                .append(
                    $('<div>')
                        .attr('id', data.ipads[i].element_id)
                        .addClass('ipad card')
                        .append(
                            $('<div>')
                                .addClass('ipad-basic-info content')
                                .append(
                                    $('<div>')
                                        .addClass('header')
                                        .append(
                                            $('<span>')
                                                .text(data.ipads[i].alias)
                                        )
                                        .append(
                                            $('<span>')
                                                .attr('id', data.ipads[i].element_id + '-state')
                                                .addClass('right floated')
                                        )
                                )
                                .append(
                                    $('<div>')
                                        .addClass('meta')
                                        .append(
                                            $('<code>')
                                                .text(data.ipads[i].serial)
                                        )
                                        .append(
                                            $('<span>')
                                                .addClass('right floated')
                                                .text(data.ipads[i].capacity)
                                        )
                                )
                        )
                        .append(
                            $('<div>')
                                .attr('id', data.ipads[i].element_id + '-content')
                                .addClass('center aligned content')
                                .append(
                                    $('<div>')
                                        .addClass('ui statistic')
                                        .append(
                                            $('<div>')
                                                .addClass('value')
                                        )
                                        .append(
                                            $('<div>')
                                                .addClass('label')
                                                .text(data.ipads[i].state)
                                        )
                                )
                        )
                        .append(
                            $('<div>')
                                .addClass('content')
                                .append(
                                    $('<div>')
                                        .attr('id', data.ipads[i].element_id + '-battery')
                                        .addClass('ui indicating progress disabled')
                                        .append(
                                            $('<div>')
                                                .addClass('bar')
                                                .append(
                                                    $('<div>')
                                                        .addClass('progress')
                                                )
                                        )
                                        .append(
                                            $('<div>')
                                                .addClass('label')
                                                .text('无电量信息')
                                        )
                                )
                        )
                        .append(
                            $('<div>')
                                .attr('id', data.ipads[i].element_id + '-extra')
                                .addClass('extra content')
                                .append(
                                    $('<span>')
                                        .append('<i class="notched circle loading icon"></i>' + moment(data.ipads[i].modified_at, 'YYYY-MM-DDTh:mm:ssZ').fromNow())
                                )
                        )
                );
            if (data.ipads[i].state === '待机') {
                $('#' + data.ipads[i].element_id + '-state').html('<i class="clock icon"></i>' + data.ipads[i].state);
                $('#' + data.ipads[i].element_id + '-content .statistic').addClass('grey');
                $('#' + data.ipads[i].element_id + '-content .value').html('<i class="clock icon"></i>');
                $('#' + data.ipads[i].element_id + '-extra')
                    .append(
                        $('<div>')
                            .addClass('right floated ui simple dropdown')
                            .html('操作<i class="dropdown icon"></i>')
                            .append(
                                $('<div>')
                                    .addClass('menu')
                                    .append(
                                        $('<a>')
                                            .addClass('item')
                                            .attr('href', data.ipads[i].maintain_url)
                                            .html('<i class="red configure icon"></i>维护')
                                            .on('click', function () {
                                                $('#loading-dimmer').dimmer('show');
                                            })
                                    )
                                    .append(
                                        $('<a>')
                                            .addClass('item')
                                            .attr('href', data.ipads[i].charge_url)
                                            .html('<i class="green plug icon"></i>充电')
                                            .on('click', function () {
                                                $('#loading-dimmer').dimmer('show');
                                            })
                                    )
                            )
                    );
            } else if (data.ipads[i].state === '借出') {
                if (data.ipads[i].battery_life.percent === 0) {
                    $('#' + data.ipads[i].element_id + '-battery').removeClass('indicating disabled').addClass('red').progress({
                        percent: data.ipads[i].battery_life.percent,
                        text: { active: '电量已耗尽' }
                    });
                } else if (data.ipads[i].battery_life.percent <= 20) {
                    $('#' + data.ipads[i].element_id + '-battery').removeClass('indicating disabled').addClass('yellow').progress({
                        percent: data.ipads[i].battery_life.percent,
                        text: { active: '电量低：{percent}%' }
                    });
                } else {
                    $('#' + data.ipads[i].element_id + '-battery').removeClass('disabled').progress({
                        percent: data.ipads[i].battery_life.percent,
                        text: {
                            active: '剩余电量：{percent}%',
                            success: '满电量：{percent}%'
                        }
                    });
                };
                $('#' + data.ipads[i].element_id + '-extra')
                    .append(
                        $('<div>')
                            .addClass('right floated ui simple dropdown')
                            .html('操作<i class="dropdown icon"></i>')
                            .append(
                                $('<div>')
                                    .addClass('menu')
                                    .append(
                                        $('<a>')
                                            .addClass('item')
                                            .attr('href', data.ipads[i].return_url)
                                            .html('<i class="green download icon"></i>回收')
                                            .on('click', function () {
                                                $('#loading-dimmer').dimmer('show');
                                            })
                                    )
                                    .append(
                                        $('<a>')
                                            .addClass('item')
                                            .attr('href', data.ipads[i].exchange_url)
                                            .html('<i class="orange retweet icon"></i>调换')
                                            .on('click', function () {
                                                $('#loading-dimmer').dimmer('show');
                                            })
                                    )
                            )
                    );
                if (data.ipads[i].now_rented_by.last_punch.section.course_type == 'VB') {
                    $('#' + data.ipads[i].element_id).addClass('blue');
                    $('#' + data.ipads[i].element_id + '-extra .ui.dropdown .upload.icon').addClass('blue');
                    $('#' + data.ipads[i].element_id + '-state').append(
                        $('<a>')
                            .attr('href', data.ipads[i].now_rented_by.url)
                            .attr('target', '_blank')
                            .attr('data-content', '查看' + data.ipads[i].now_rented_by.name + '的档案')
                            .attr('data-position', 'top center')
                            .attr('data-variation', 'inverted')
                            .html('<i class="user icon"></i>' + data.ipads[i].now_rented_by.name)
                            .popup('destroy')
                            .popup()
                    );
                    $('#' + data.ipads[i].element_id + '-content .statistic').addClass('blue');
                    $('#' + data.ipads[i].element_id + '-content .value').text(data.ipads[i].now_rented_by.last_punch.section.course_type);
                    $('#' + data.ipads[i].element_id + '-content .label').text(data.ipads[i].now_rented_by.last_punch.section.alias);
                } else if (data.ipads[i].now_rented_by.last_punch.section.course_type == 'Y-GRE') {
                    $('#' + data.ipads[i].element_id).addClass('teal');
                    $('#' + data.ipads[i].element_id + '-extra .ui.dropdown .upload.icon').addClass('teal');
                    $('#' + data.ipads[i].element_id + '-state').append(
                        $('<a>')
                            .attr('href', data.ipads[i].now_rented_by.url)
                            .attr('target', '_blank')
                            .html('<i class="user icon"></i>' + data.ipads[i].now_rented_by.name)
                            .attr('data-content', '查看' + data.ipads[i].now_rented_by.name + '的档案')
                            .attr('data-position', 'top center')
                            .attr('data-variation', 'inverted')
                            .html('<i class="user icon"></i>' + data.ipads[i].now_rented_by.name)
                            .popup('destroy')
                            .popup()
                    );
                    $('#' + data.ipads[i].element_id + '-content .statistic').addClass('teal');
                    $('#' + data.ipads[i].element_id + '-content .value').text(data.ipads[i].now_rented_by.last_punch.section.course_type);
                    $('#' + data.ipads[i].element_id + '-content .label').text(data.ipads[i].now_rented_by.last_punch.section.lesson);
                } else {
                    $('#' + data.ipads[i].element_id).addClass('yellow');
                    $('#' + data.ipads[i].element_id + '-extra .ui.dropdown .upload.icon').addClass('yellow');
                    $('#' + data.ipads[i].element_id + '-state').html('<i class="upload icon"></i>' + data.ipads[i].state);
                    $('#' + data.ipads[i].element_id + '-content .statistic').addClass('yellow');
                    $('#' + data.ipads[i].element_id + '-content .value').html('<i class="upload icon"></i>');
                };
            } else if (data.ipads[i].state === '候补') {
                $('#' + data.ipads[i].element_id).addClass('grey');
                $('#' + data.ipads[i].element_id + '-state').html('<i class="cube icon"></i>' + data.ipads[i].state);
                $('#' + data.ipads[i].element_id + '-content .statistic').addClass('grey');
                $('#' + data.ipads[i].element_id + '-content .value').html('<i class="cube icon"></i>');
            } else if (data.ipads[i].state === '维护') {
                $('#' + data.ipads[i].element_id).addClass('red');
                $('#' + data.ipads[i].element_id + '-state').html('<i class="configure icon"></i>' + data.ipads[i].state);
                $('#' + data.ipads[i].element_id + '-content .statistic').addClass('red');
                $('#' + data.ipads[i].element_id + '-content .value').html('<i class="configure icon"></i>');
                $('#' + data.ipads[i].element_id + '-extra')
                    .append(
                        $('<div>')
                            .addClass('right floated ui simple dropdown')
                            .html('操作<i class="dropdown icon"></i>')
                            .append(
                                $('<div>')
                                    .addClass('menu')
                                    .append(
                                        $('<a>')
                                            .addClass('item')
                                            .attr('href', data.ipads[i].standby_url)
                                            .html('<i class="grey clock icon"></i>待机')
                                            .on('click', function () {
                                                $('#loading-dimmer').dimmer('show');
                                            })
                                    )
                                    .append(
                                        $('<a>')
                                            .addClass('item')
                                            .attr('href', data.ipads[i].charge_url)
                                            .html('<i class="green plug icon"></i>充电')
                                            .on('click', function () {
                                                $('#loading-dimmer').dimmer('show');
                                            })
                                    )
                            )
                    );
            } else if (data.ipads[i].state === '充电') {
                $('#' + data.ipads[i].element_id).addClass('green');
                $('#' + data.ipads[i].element_id + '-state').html('<i class="plug icon"></i>' + data.ipads[i].state);
                $('#' + data.ipads[i].element_id + '-content .statistic').addClass('green');
                $('#' + data.ipads[i].element_id + '-content .value').html('<i class="plug icon"></i>');
                $('#' + data.ipads[i].element_id + '-extra')
                    .append(
                        $('<div>')
                            .addClass('right floated ui simple dropdown')
                            .html('操作<i class="dropdown icon"></i>')
                            .append(
                                $('<div>')
                                    .addClass('menu')
                                    .append(
                                        $('<a>')
                                            .addClass('item')
                                            .attr('href', data.ipads[i].standby_url)
                                            .html('<i class="grey clock icon"></i>待机')
                                            .on('click', function () {
                                                $('#loading-dimmer').dimmer('show');
                                            })
                                    )
                                    .append(
                                        $('<a>')
                                            .addClass('item')
                                            .attr('href', data.ipads[i].maintain_url)
                                            .html('<i class="red configure icon"></i>维护')
                                            .on('click', function () {
                                                $('#loading-dimmer').dimmer('show');
                                            })
                                    )
                            )
                    );
            } else if (data.ipads[i].state === '退役') {
                $('#' + data.ipads[i].element_id).addClass('olive');
                $('#' + data.ipads[i].element_id + '-state').html('<i class="recycle icon"></i>' + data.ipads[i].state);
                $('#' + data.ipads[i].element_id + '-content .statistic').addClass('olive');
                $('#' + data.ipads[i].element_id + '-content .value').html('<i class="recycle icon"></i>');
            };
            if (updateProgressBar) {
                $('#page-loading-progress').progress('increment');
            };
        };
    });
};
updateCards(true);
setInterval(function () {
    updateCards(false);
}, 15000);
</script>
{% endblock %}