{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}考试管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/{{ Version.SemanticUICalendar }}/calendar.min.css" />
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="pencil icon"></i>考试管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="pencil icon"></i>考试列表</h3>
                <div class="ui right floated positive circular pointing dropdown icon button">
                    <i class="add icon"></i>
                    <div class="menu">
                        <div id="new-vb-score-trigger" class="item"><i class="blue add circle icon"></i>新建VB考试记录</div>
                        <div id="new-y-gre-score-trigger" class="item"><i class="teal add circle icon"></i>新建Y-GRE考试记录</div>
                        <div id="new-gre-score-trigger" class="item"><i class="red add circle icon"></i>新建GRE考试记录</div>
                        <div id="new-toefl-score-trigger" class="item"><i class="orange add circle icon"></i>新建TOEFL考试记录</div>
                    </div>
                </div>
                <div id="new-vb-score-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建VB考试记录</div>
                    <div class="content">
                        <form id="new-vb-score" action="{{ url_for('manage.test') }}" method="POST" class="ui form">
                            {{ vb_form.hidden_tag() }}
                            <div class="required field">
                                {{ vb_form.email.label() }}
                                <div class="ui fluid search">
                                    {{ vb_form.email(placeholder='输入姓名/邮箱查询', class='prompt') }}
                                    <div class="results"></div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ vb_form.test.label() }}
                                    {{ vb_form.test(class='ui dropdown') }}
                                </div>
                                <div class="eight wide required field">
                                    {{ vb_form.score.label() }}
                                    {{ vb_form.score(placeholder='成绩') }}
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="inline field">
                                    <div class="ui toggle checkbox">
                                        {{ vb_form.retrieved() }}
                                        {{ vb_form.retrieved.label() }}
                                    </div>
                                </div>
                            </div>
                            {{ vb_form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div id="new-y-gre-score-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建Y-GRE考试记录</div>
                    <div class="content">
                        <form id="new-y-gre-score" action="{{ url_for('manage.test') }}" method="POST" class="ui form">
                            {{ y_gre_form.hidden_tag() }}
                            <div class="required field">
                                {{ y_gre_form.email.label() }}
                                <div class="ui fluid search">
                                    {{ y_gre_form.email(placeholder='输入姓名/邮箱查询', class='prompt') }}
                                    <div class="results"></div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="four wide required field">
                                    {{ y_gre_form.test.label() }}
                                    {{ y_gre_form.test(class='ui dropdown') }}
                                </div>
                                <div class="four wide required field">
                                    {{ y_gre_form.v_score.label() }}
                                    {{ y_gre_form.v_score(placeholder='V成绩') }}
                                </div>
                                <div class="four wide field">
                                    {{ y_gre_form.q_score.label() }}
                                    {{ y_gre_form.q_score(placeholder='Q成绩') }}
                                </div>
                                <div class="four wide field">
                                    {{ y_gre_form.aw_score.label() }}
                                    {{ y_gre_form.aw_score(class='ui dropdown') }}
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="inline field">
                                    <div class="ui toggle checkbox">
                                        {{ y_gre_form.retrieved() }}
                                        {{ y_gre_form.retrieved.label() }}
                                    </div>
                                </div>
                            </div>
                            {{ y_gre_form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div id="new-gre-score-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建GRE考试记录</div>
                    <div class="content">
                        <form id="new-gre-score" action="{{ url_for('manage.test') }}" method="POST" class="ui form">
                            {{ gre_form.hidden_tag() }}
                            <div class="required field">
                                {{ gre_form.email.label() }}
                                <div class="ui fluid search">
                                    {{ gre_form.email(placeholder='输入姓名/邮箱查询', class='prompt') }}
                                    <div class="results"></div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="four wide required field">
                                    {{ gre_form.v_score.label() }}
                                    {{ gre_form.v_score(placeholder='V成绩') }}
                                </div>
                                <div class="four wide required field">
                                    {{ gre_form.q_score.label() }}
                                    {{ gre_form.q_score(placeholder='Q成绩') }}
                                </div>
                                <div class="eight wide field">
                                    {{ gre_form.aw_score.label() }}
                                    {{ gre_form.aw_score(class='ui dropdown') }}
                                </div>
                            </div>
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ gre_form.test_date.label() }}
                                    <div class="ui date calendar">
                                        <div class="ui left icon input">
                                            <i class="calendar icon"></i>
                                            {{ gre_form.test_date(placeholder='格式：YYYY-MM-DD') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="eight wide required field">
                                    {{ gre_form.score_label.label() }}
                                    {{ gre_form.score_label(class='ui dropdown') }}
                                </div>
                            </div>
                            {{ gre_form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div id="new-toefl-score-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add circle icon"></i>新建TOEFL考试记录</div>
                    <div class="content">
                        <form id="new-toefl-score" action="{{ url_for('manage.test') }}" method="POST" class="ui form">
                            {{ toefl_form.hidden_tag() }}
                            <div class="required field">
                                {{ toefl_form.email.label() }}
                                <div class="ui fluid search">
                                    {{ toefl_form.email(placeholder='输入姓名/邮箱查询', class='prompt') }}
                                    <div class="results"></div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="four wide required field">
                                    {{ toefl_form.total.label() }}
                                    {{ toefl_form.total(placeholder='TOEFL总分') }}
                                </div>
                                <div class="three wide required field">
                                    {{ toefl_form.reading.label() }}
                                    {{ toefl_form.reading(placeholder='TOEFL阅读') }}
                                </div>
                                <div class="three wide required field">
                                    {{ toefl_form.listening.label() }}
                                    {{ toefl_form.listening(placeholder='TOEFL听力') }}
                                </div>
                                <div class="three wide required field">
                                    {{ toefl_form.speaking.label() }}
                                    {{ toefl_form.speaking(placeholder='TOEFL口语') }}
                                </div>
                                <div class="three wide required field">
                                    {{ toefl_form.writing.label() }}
                                    {{ toefl_form.writing(placeholder='TOEFL写作') }}
                                </div>
                            </div>
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ toefl_form.test_date.label() }}
                                    <div class="ui date calendar">
                                        <div class="ui left icon input">
                                            <i class="calendar icon"></i>
                                            {{ toefl_form.test_date(placeholder='格式：YYYY-MM-DD') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="eight wide required field">
                                    {{ toefl_form.score_label.label() }}
                                    {{ toefl_form.score_label(class='ui dropdown') }}
                                </div>
                            </div>
                            {{ toefl_form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_vb_tests %}active {% endif %}loading-trigger" href="{{ url_for('manage.vb_tests') }}">VB考试</a>
                    <a class="item {% if show_y_gre_tests %}active {% endif %}loading-trigger" href="{{ url_for('manage.y_gre_tests') }}">Y-GRE考试</a>
                    <a class="item {% if show_gre_tests %}active {% endif %}loading-trigger" href="{{ url_for('manage.gre_tests') }}">GRE考试</a>
                    <a class="item {% if show_toefl_tests %}active {% endif %}loading-trigger" href="{{ url_for('manage.toefl_tests') }}">TOEFL考试</a>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>考试{% if show_gre_tests or show_toefl_tests %}日期{% else %}名称{% endif %}</th>
                            <th>类型</th>
                            <th>从属课程</th>
                            <th>完成记录</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in tests %}
                        <tr>
                            <td>{% if show_gre_tests or show_toefl_tests %}{{ test.date }}{% else %}{{ test.name }}{% endif %}</td>
                            <td>{% if test_type == 'gre' %}GRE{% elif test_type == 'toefl' %}TOEFL{% else %}{{ test.lesson.type.name }}{% endif %}</td>
                            <td>{% if test_type in ['gre', 'toefl'] %}N/A{% else %}{{ test.lesson.name }}{% endif %}</td>
                            <td>{% if test.finished_by_alias.count() %}<a class="score loading-trigger" href="{{ url_for('manage.test_score', test_type=test_type, id=test.id) }}" data-content="查看{{ test.finished_by_alias.count() }}条考试记录" data-position="top center" data-variation="inverted">{{ test.finished_by_alias.count() }} 条</a>{% else %}0 条{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.test') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/{{ Version.SemanticUICalendar }}/calendar.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('.ui.checkbox').checkbox();

$('.ui.sortable.table').tablesort();

$('td a.score.loading-trigger').popup();

$('#new-vb-score-trigger').popup();
$('#new-vb-score-trigger')
    .on('click', function() {
        $('#new-vb-score-modal').modal({ autofocus: false }).modal('show');
    })
;

$('#new-y-gre-score-trigger').popup();
$('#new-y-gre-score-trigger')
    .on('click', function() {
        $('#new-y-gre-score-modal').modal({ autofocus: false }).modal('show');
    })
;

$('#new-gre-score-trigger').popup();
$('#new-gre-score-trigger')
    .on('click', function() {
        $('#new-gre-score-modal').modal({ autofocus: false }).modal('show');
        {{ macros.date_picker_js_snippet() }}
    })
;

$('#new-toefl-score-trigger').popup();
$('#new-toefl-score-trigger')
    .on('click', function() {
        $('#new-toefl-score-modal').modal({ autofocus: false }).modal('show');
        {{ macros.date_picker_js_snippet() }}
    })
;

$(document)
    .ready(function() {
        $('#new-vb-score')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    email: {
                        identifier: 'vb-email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入用户邮箱'
                            },
                            {
                                type: 'email',
                                prompt: '请输入有效的用户邮箱'
                            }
                        ]
                    },
                    test: {
                        identifier: 'vb-test',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择VB考试'
                            }
                        ]
                    },
                    score: {
                        identifier: 'vb-score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写考试成绩'
                            },
                            {
                                type: 'number',
                                prompt: '请填写有效的考试成绩'
                            }
                        ]
                    }
                }
            })
        ;
        $('#new-y-gre-score')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    email: {
                        identifier: 'y_gre-email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入用户邮箱'
                            },
                            {
                                type: 'email',
                                prompt: '请输入有效的用户邮箱'
                            }
                        ]
                    },
                    test: {
                        identifier: 'y_gre-test',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择Y-GRE考试'
                            }
                        ]
                    },
                    v_score: {
                        identifier: 'y_gre-v_score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写Verbal Reasoning成绩'
                            },
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Verbal Reasoning成绩'
                            }
                        ]
                    },
                    q_score: {
                        identifier: 'y_gre-q_score',
                        optional: true,
                        rules: [
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Quantitative Reasoning成绩'
                            }
                        ]
                    }
                }
            })
        ;
        $('#new-gre-score')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    email: {
                        identifier: 'gre-email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入用户邮箱'
                            },
                            {
                                type: 'email',
                                prompt: '请输入有效的用户邮箱'
                            }
                        ]
                    },
                    v_score: {
                        identifier: 'gre-v_score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写Verbal Reasoning成绩'
                            },
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Verbal Reasoning成绩'
                            }
                        ]
                    },
                    q_score: {
                        identifier: 'gre-q_score',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选填写Quantitative Reasoning成绩'
                            },
                            {
                                type: 'integer[130..170]',
                                prompt: '请填写有效的Quantitative Reasoning成绩'
                            }
                        ]
                    },
                    test_date: {
                        identifier: 'gre-test_date',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择GRE考试日期'
                            },
                            {
                                type: 'regExp[/^(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)$/]',
                                prompt: '请填写一个有效的GRE考试日期'
                            }
                        ]
                    },
                    score_label: {
                        identifier: 'gre-score_label',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择成绩标签'
                            }
                        ]
                    }
                }
            })
        ;
        $.fn.form.settings.rules.toefl = function(value) {
            if (($('#toefl-reading').val() === '') || ($('#toefl-listening').val() === '') || ($('#toefl-speaking').val() === '') || ($('#toefl-writing').val() === '')) {
                return true;
            } else {
                return (Number(value) === Number($('#toefl-reading').val()) + Number($('#toefl-listening').val()) + Number($('#toefl-speaking').val()) + Number($('#toefl-writing').val()));
            };
        };
        $('#new-toefl-score')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    email: {
                        identifier: 'toefl-email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入用户邮箱'
                            },
                            {
                                type: 'email',
                                prompt: '请输入有效的用户邮箱'
                            }
                        ]
                    },
                    total: {
                        identifier: 'toefl-total',
                        rules: [
                            {
                                type: 'integer[0..120]',
                                prompt: '请填写一个有效的TOEFL成绩'
                            },
                            {
                                type: 'toefl',
                                prompt: 'TOEFL成绩有误'
                            }
                        ]
                    },
                    reading: {
                        identifier: 'toefl-reading',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL阅读成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL阅读成绩'
                            }
                        ]
                    },
                    listening: {
                        identifier: 'toefl-listening',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL听力成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL听力成绩'
                            }
                        ]
                    },
                    speaking: {
                        identifier: 'toefl-speaking',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL口语成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL口语成绩'
                            }
                        ]
                    },
                    writing: {
                        identifier: 'toefl-writing',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写TOEFL写作成绩'
                            },
                            {
                                type: 'integer[0..30]',
                                prompt: '请填写一个有效的TOEFL写作成绩'
                            }
                        ]
                    },
                    test_date: {
                        identifier: 'toefl-test_date',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择TOEFL考试日期'
                            },
                            {
                                type: 'regExp[/^(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)$/]',
                                prompt: '请填写一个有效的TOEFL考试日期'
                            }
                        ]
                    },
                    score_label: {
                        identifier: 'toefl-score_label',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择成绩标签'
                            }
                        ]
                    }
                }
            })
        ;
    })
;

$('.ui.search')
    .search({
        apiSettings: {
            url: "{% if current_user.is_developer %}{{ url_for('manage.suggest_email_dev') }}{% else %}{{ url_for('manage.suggest_email') }}{% endif %}?keyword={query}"
        },
        showNoResults: false
    })
;
</script>
{% endblock %}