{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}用户管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.table .ui.mini.icon.button {
    margin-left: 10px;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="users icon"></i> 用户管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div id="users" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header"><i class="user icon"></i> 用户列表</h3>
                <div class="ui tabular menu">
                    {% if show_activated %}
                    <a class="item active loading-trigger" href="{{ url_for('manage.activated_users') }}">普通用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.unactivated_users') }}">未激活用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.suspended_users') }}">挂起用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.volunteers') }}">志愿者</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.moderators') }}">协管员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.administrators') }}">管理员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.developers') }}">开发人员</a>
                    {% endif %}
                    {% if show_unactivated %}
                    <a class="item loading-trigger" href="{{ url_for('manage.activated_users') }}">普通用户</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.unactivated_users') }}">未激活用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.suspended_users') }}">挂起用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.volunteers') }}">志愿者</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.moderators') }}">协管员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.administrators') }}">管理员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.developers') }}">开发人员</a>
                    {% endif %}
                    {% if show_suspended %}
                    <a class="item loading-trigger" href="{{ url_for('manage.activated_users') }}">普通用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.unactivated_users') }}">未激活用户</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.suspended_users') }}">挂起用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.volunteers') }}">志愿者</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.moderators') }}">协管员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.administrators') }}">管理员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.developers') }}">开发人员</a>
                    {% endif %}
                    {% if show_volunteers %}
                    <a class="item loading-trigger" href="{{ url_for('manage.activated_users') }}">普通用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.unactivated_users') }}">未激活用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.suspended_users') }}">挂起用户</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.volunteers') }}">志愿者</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.moderators') }}">协管员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.administrators') }}">管理员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.developers') }}">开发人员</a>
                    {% endif %}
                    {% if show_moderators %}
                    <a class="item loading-trigger" href="{{ url_for('manage.activated_users') }}">普通用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.unactivated_users') }}">未激活用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.suspended_users') }}">挂起用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.volunteers') }}">志愿者</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.moderators') }}">协管员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.administrators') }}">管理员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.developers') }}">开发人员</a>
                    {% endif %}
                    {% if show_administrators and (current_user.is_administrator or current_user.is_developer) %}
                    <a class="item loading-trigger" href="{{ url_for('manage.activated_users') }}">普通用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.unactivated_users') }}">未激活用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.suspended_users') }}">挂起用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.volunteers') }}">志愿者</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.moderators') }}">协管员</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.administrators') }}">管理员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.developers') }}">开发人员</a>
                    {% endif %}
                    {% if show_developers and current_user.is_developer %}
                    <a class="item loading-trigger" href="{{ url_for('manage.activated_users') }}">普通用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.unactivated_users') }}">未激活用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.suspended_users') }}">挂起用户</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.volunteers') }}">志愿者</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.moderators') }}">协管员</a>
                    <a class="item loading-trigger" href="{{ url_for('manage.administrators') }}">管理员</a>
                    <a class="item active loading-trigger" href="{{ url_for('manage.developers') }}">开发人员</a>
                    {% endif %}
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>邮箱</th>
                            <th>用户组</th>
                            <th>VB班</th>
                            <th>Y-GRE班</th>
                            <th>进度</th>
                            <th>激活时间</th>
                            <th>上次登录</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ url_for('main.profile_user', user_id=user.id) }}" target="_blank">{{ user.name }}</a>
                            </td>
                            <td>
                                {{ user.email }}
                                {% if user.confirmed %}
                                <i class="check circle icon"></i>
                                {% else %}
                                <i class="remove circle icon"></i>
                                {% endif %}
                            </td>
                            <td>{{ user.role.name }}</td>
                            <td>
                                {% if user.vb_course %}
                                <a class="loading-trigger" href="{{ url_for('manage.course_users', id=user.vb_course.id, next=url_for('manage.user', page=pagination.page)) }}">{{ user.vb_course.name }}</a>
                                {% else %}
                                无
                                {% endif %}
                            </td>
                            <td>
                                {% if user.y_gre_course %}
                                <a class="loading-trigger" href="{{ url_for('manage.course_users', id=user.y_gre_course.id, next=url_for('manage.user', page=pagination.page)) }}">{{ user.y_gre_course.name }}</a>
                                {% else %}
                                无
                                {% endif %}
                            </td>
                            {% if user.activated %}
                            <td>
                                {{ user.last_punch.alias2 }}
                                {% if current_user.can('管理学习进度') %}
                                <a class="ui mini icon button loading-trigger" href="{{ url_for('manage.edit_punch_step_1', user_id=user.id, next=url_for('manage.user', page=pagination.page)) }}"><i class="refresh icon"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <div class="popup-trigger">{{ moment(user.activated_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(user.activated_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>
                                <div class="popup-trigger">{{ moment(user.last_seen_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(user.last_seen_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            {% else %}
                            <td>N/A</td>
                            <td class="negative">未激活</td>
                            <td>N/A</td>
                            {% endif %}
                            <td>
                                <div class="ui mini icon buttons">
                                    <a class="ui button loading-trigger" href="{{ url_for('manage.edit_user', id=user.id, next=url_for('manage.user', page=pagination.page)) }}"><i class="edit icon"></i></a>
                                    <a class="ui negative button loading-trigger" href="{{ url_for('manage.delete_user', id=user.id, next=url_for('manage.user', page=pagination.page)) }}"><i class="remove user icon"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'manage.user') }}
                {% endif %}
                {% if current_user.can('管理权限') %}
                <div class="ui buttons">
                    <a class="ui primary button loading-trigger" href="{{ url_for('manage.create_user', next=url_for('manage.user', page=pagination.page)) }}"><i class="add user icon"></i> 新建普通用户</a>
                    <div class="or" data-text="或"></div>
                    <a class="ui positive button loading-trigger" href="{{ url_for('manage.create_admin', next=url_for('manage.user', page=pagination.page)) }}"><i class="add user icon"></i> 新建管理用户</a>
                </div>
                {% else %}
                <a class="ui primary button loading-trigger" href="{{ url_for('manage.create_user', next=url_for('manage.user', page=pagination.page)) }}"><i class="add user icon"></i> 新建普通用户</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('table')
    .tablesort()
;
</script>
{% endblock %}