{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}用户管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<style type="text/css">
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.table .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.tabular.menu,
.ui.vertical.stripe .ui.statistic .label,
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.ui.vertical.stripe .ui.table .ui.mini.icon.button {
    margin-left: 10px;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="user icon"></i>用户管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header">
                    <i class="user icon"></i>
                    <div class="content">
                        用户列表
                        <div class="sub header">{% if show_activated_users %}共 {{ activated_users_num }} 位已激活用户{% endif %}{% if show_unactivated_users %}共 {{ unactivated_users_num }} 位未激活用户{% endif %}{% if show_suspended_users %}共 {{ suspended_users_num }} 位挂起用户{% endif %}{% if show_draft_users %}共 {{ draft_users_num }} 位创建中用户{% endif %}{% if show_deleted_users %}共 {{ deleted_users_num }} 位已注销用户{% endif %}{% if show_volunteers %}共 {{ volunteers_num }} 位志愿者{% endif %}{% if show_moderators %}共 {{ moderators_num }} 位协管员{% endif %}{% if show_administrators %}共 {{ administrators_num }} 位管理员{% endif %}{% if show_developers %}共 {{ developers_num }} 位开发人员{% endif %}{% if show_search_users %}查询“{{ request.args.get('keyword') }}”得到 {{ search_results_num }} 个结果{% endif %}</div>
                    </div>
                </h3>
                {% if current_user.can('管理用户') %}
                {% if current_user.can('管理权限') %}
                <div class="ui right floated positive circular pointing dropdown icon button">
                    <i class="add user icon"></i>
                    <div class="menu">
                        <a class="item loading-trigger" href="{{ url_for('manage.create_user', next=url_for('manage.user', page=pagination.page)) }}"><i class="blue student icon"></i>新建学生用户</a>
                        <div id="create-admin-trigger" class="item"><i class="green configure icon"></i>新建管理用户</div>
                    </div>
                </div>
                <div id="create-admin-modal" class="ui modal">
                    <i class="close icon"></i>
                    <div class="header"><i class="add user icon"></i>新建管理用户</div>
                    <div class="content">
                        <form id="create-admin" action="{{ url_for('manage.user') }}" method="POST" class="ui form">
                            {{ form.hidden_tag() }}
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ form.name.label() }}
                                    {{ form.name(placeholder='姓名') }}
                                </div>
                                <div class="eight wide required field">
                                    {{ form.id_number.label() }}
                                    {{ form.id_number(placeholder='身份证号（18位）') }}
                                </div>
                            </div>
                            <div class="fields">
                                <div class="four wide field">
                                    {{ form.gender.label() }}
                                    {{ form.gender(placeholder='性别（自动生成）', readonly='') }}
                                </div>
                                <div class="four wide field">
                                    {{ form.birthdate.label() }}
                                    {{ form.birthdate(placeholder='出生日期（自动生成）', readonly='') }}
                                </div>
                                <div class="eight wide field">
                                    {{ form.residence.label() }}
                                    {{ form.residence(placeholder='归属地（自动生成）', readonly='') }}
                                </div>
                            </div>
                            <div class="fields">
                                <div class="eight wide required field">
                                    {{ form.email.label() }}
                                    {{ form.email(placeholder='用于登录系统、接收通知') }}
                                </div>
                                <div class="eight wide required field">
                                    {{ form.role.label() }}
                                    {{ form.role(class='ui dropdown') }}
                                </div>
                            </div>
                            {{ form.submit(class='ui primary button') }}
                        </form>
                    </div>
                </div>
                {% else %}
                <a id="create-user-trigger" class="ui right floated positive circular icon button loading-trigger" href="{{ url_for('manage.create_user', next=url_for('manage.user', page=pagination.page)) }}" data-content="新建学生用户" data-position="top center" data-variation="inverted"><i class="add user icon"></i></a>
                {% endif %}
                {% endif %}
                <div class="ui secondary stackable menu">
                    <a class="item {% if show_activated_users %}active {% endif %}loading-trigger" href="{{ url_for('manage.activated_users') }}">已激活</a>
                    <a class="item {% if show_unactivated_users %}active {% endif %}loading-trigger" href="{{ url_for('manage.unactivated_users') }}">未激活</a>
                    <a class="item {% if show_suspended_users %}active {% endif %}loading-trigger" href="{{ url_for('manage.suspended_users') }}">挂起</a>
                    <a class="item {% if show_draft_users %}active {% endif %}loading-trigger" href="{{ url_for('manage.draft_users') }}">创建中</a>
                    {% if current_user.is_administrator or current_user.is_developer %}
                    <a class="item {% if show_deleted_users %}active {% endif %}loading-trigger" href="{{ url_for('manage.deleted_users') }}">已注销</a>
                    {% endif %}
                    {% if current_user.is_volunteer or current_user.is_moderator or current_user.is_administrator or current_user.is_developer %}
                    <a class="item {% if show_volunteers %}active {% endif %}loading-trigger" href="{{ url_for('manage.volunteers') }}">志愿者</a>
                    {% endif %}
                    {% if current_user.is_moderator or current_user.is_administrator or current_user.is_developer %}
                    <a class="item {% if show_moderators %}active {% endif %}loading-trigger" href="{{ url_for('manage.moderators') }}">协管员</a>
                    {% endif %}
                    {% if current_user.is_administrator or current_user.is_developer %}
                    <a class="item {% if show_administrators %}active {% endif %}loading-trigger" href="{{ url_for('manage.administrators') }}">管理员</a>
                    {% endif %}
                    {% if current_user.is_developer %}
                    <a class="item {% if show_developers %}active {% endif %}loading-trigger" href="{{ url_for('manage.developers') }}">开发人员</a>
                    {% endif %}
                    <div class="item">
                        <form id="search-user" action="{{ url_for('manage.user') }}" method="POST" class="ui form">
                            {{ search_form.hidden_tag() }}
                            <div class="field">
                                <div class="ui search">
                                    <div class="ui transparent left icon input">
                                        {{ search_form.keyword(placeholder='输入姓名/邮箱查询用户', class='prompt') }}
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>邮箱</th>
                            <th>用户组</th>
                            <th>VB班</th>
                            <th>Y-GRE班</th>
                            <th>进度</th>
                            <th>激活时间</th>
                            <th>上次登录</th>
                            {% if current_user.can('管理用户') %}<th>操作</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{% if user.created %}{{ macros.user_url_gender(user, user.id == current_user.id) }}{% else %}{{ macros.user_gender(user, user.id == current_user.id) }}{% endif %}</td>
                            <td>{{ macros.user_email(user) }}</td>
                            <td>{{ user.role.name }}</td>
                            <td>{% if user.vb_course %}<a class="loading-trigger" href="{% if show_search_users %}{{ url_for('manage.course_user', id=user.vb_course.id, next=url_for('manage.user', keyword=request.args.get('keyword'))) }}{% else %}{{ url_for('manage.course_user', id=user.vb_course.id, next=url_for('manage.user', page=pagination.page)) }}{% endif %}">{{ user.vb_course.name }}</a>{% else %}无{% endif %}</td>
                            <td>{% if user.y_gre_course %}<a class="loading-trigger" href="{% if show_search_users %}{{ url_for('manage.course_user', id=user.y_gre_course.id, next=url_for('manage.user', keyword=request.args.get('keyword'))) }}{% else %}{{ url_for('manage.course_user', id=user.y_gre_course.id, next=url_for('manage.user', page=pagination.page)) }}{% endif %}">{{ user.y_gre_course.name }}</a>{% else %}无{% endif %}</td>
                            {% if user.activated %}
                            <td>{{ user.last_punch.section.alias2 }}{% if current_user.can('管理学习进度') %}<a class="ui mini icon button loading-trigger" href="{% if show_search_users %}{{ url_for('manage.edit_punch_step_1', user_id=user.id, next=url_for('manage.user', keyword=request.args.get('keyword'))) }}{% else %}{{ url_for('manage.edit_punch_step_1', user_id=user.id, next=url_for('manage.user', page=pagination.page)) }}{% endif %}"><i class="refresh icon"></i></a>{% endif %}</td>
                            {% else %}
                            <td>N/A</td>
                            {% endif %}
                            {% if user.activated %}
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(user.activated_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(user.activated_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>
                                <div class="popup-trigger" data-variation="inverted">{{ moment(user.last_seen_at).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(user.last_seen_at).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            {% else %}
                            <td class="negative">未激活</td>
                            <td>N/A</td>
                            {% endif %}
                            {% if current_user.can('管理用户') %}
                            <td>
                                {% if user.deleted %}
                                <a class="ui mini button loading-trigger" href="{{ url_for('manage.restore_user', id=user.id, next=url_for('manage.user', page=pagination.page)) }}"><i class="undo icon"></i>恢复</a>
                                {% elif (not current_user.is_moderator and not user.is_superior_than(user=current_user)) or (current_user.is_moderator and user.id == current_user.id) or (current_user.is_moderator and user.id != current_user.id and not user.is_superior_than(user=current_user)) %}
                                <div class="ui mini buttons">
                                    <a class="ui icon button loading-trigger" href="{% if user.created %}{{ url_for('manage.edit_user', id=user.id, next=url_for('manage.user', page=pagination.page)) }}{% else %}{{ url_for('manage.create_user_confirm', id=user.id, next=url_for('manage.user', page=pagination.page)) }}{% endif %}"><i class="edit icon"></i></a>
                                    <div id="delete-trigger-{{ user.id }}" class="ui negative icon button"><i class="remove user icon"></i></div>
                                </div>
                                <div id="delete-modal-{{ user.id }}" class="ui modal">
                                    <div class="header"><i class="warning sign icon"></i>确定要{% if user.created %}注销用户{% else %}删除未完成注册的用户信息{% endif %}：{{ user.name }} [{{ user.role.name }}]（{{ user.email }}）？</div>
                                    <div class="actions">
                                        <a class="ui negative left labeled icon button loading-trigger" href="{% if user.created %}{{ url_for('manage.delete_user', id=user.id, next=url_for('manage.user', page=pagination.page)) }}{% else %}{{ url_for('manage.create_user_delete', id=user.id, next=url_for('manage.user', page=pagination.page)) }}{% endif %}"><i class="remove user icon"></i>{% if user.created %}注销{% else %}删除{% endif %}</a>
                                        <div id="delete-hide-trigger-{{ user.id }}" class="ui black button">保留</div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="ui mini buttons">
                                    <div class="ui icon button disabled"><i class="edit icon"></i></div>
                                    <div class="ui negative icon button disabled"><i class="remove user icon"></i></div>
                                </div>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'manage.user') }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/IDValidator/IDValidator.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/IDValidator/GB2260.min.js') }}"></script>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('table').tablesort();

{% if current_user.can('管理用户') %}
$('#create-user-trigger').popup();
{% for user in users %}
{% if (not current_user.is_moderator and not user.is_superior_than(user=current_user)) or (current_user.is_moderator and user.id == current_user.id) %}
$('#delete-trigger-{{ user.id }}')
    .on('click', function() {
        $('#delete-modal-{{ user.id }}').modal({ autofocus: false }).modal('show');
    })
;
$('#delete-hide-trigger-{{ user.id }}')
    .on('click', function() {
        $('#delete-modal-{{ user.id }}').modal('hide');
    })
;
{% endif %}
{% endfor %}
{% if current_user.can('管理权限') %}
$('#create-admin-trigger')
    .on('click', function() {
        $('#create-admin-modal').modal({ autofocus: false }).modal('show');
    })
;
var Validator = new IDValidator(GB2260);
$(document)
    .ready(function() {
        $.fn.form.settings.rules.idNumber = function(value) {
            if (Validator.isValid(value, 18)) {
                var idInfo = Validator.getInfo(value, 18);
                $('#create-admin').form('set values', {
                    gender: function() {
                        if (idInfo.sex === 1) {
                            return '男';
                        } else {
                            return '女';
                        };
                    },
                    birthdate: idInfo.birth,
                    residence: idInfo.addr
                });
                return true;
            } else {
                return false;
            };
        };
        $('#create-admin')
            .form({
                onSuccess: submitForm,
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写用户姓名'
                            }
                        ]
                    },
                    id_number: {
                        identifier: 'id_number',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写身份证号'
                            },
                            {
                                type: 'idNumber',
                                prompt: '请输入一个有效的身份证号'
                            }
                        ]
                    },
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请填写电子邮箱地址'
                            },
                            {
                                type: 'email',
                                prompt: '请输入一个有效的电子邮箱地址'
                            }
                        ]
                    },
                    role: {
                        identifier: 'role',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请选择用户组'
                            }
                        ]
                    }
                }
            })
        ;
    })
;
{% endif %}
{% endif %}

$(document)
    .ready(function() {
        $('#search-user').form({ onSuccess: submitForm });
    })
;
$('.ui.search')
    .search({
        apiSettings: {
            url: '//' + window.location.hostname + ':' + window.location.port + '/manage/suggest/user?keyword={query}'
        },
        showNoResults: false
    })
;
</script>
{% endblock %}