{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}用户管理{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-manage-user.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="user icon"></i> 用户管理</h1>
</div>
{% endblock %}

{% block page_content %}
<div id="users" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header"><i class="user icon"></i> 用户列表</h3>
                <div class="ui tabular menu">
                    {% if show_users %}
                    <a class="item active loading-trigger" href="{{ url_for('manage.users') }}">用户</a>
                    {% endif %}
                </div>
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>邮箱</th>
                            <th>用户组</th>
                            <th>VB班</th>
                            <th>Y-GRE班</th>
                            <th>进度</th>
                            <th>激活时间</th>
                            <th>上次登录</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ url_for('main.profile_user', user_id=user.id) }}" target="_blank">{{ user.name }}</a>
                            </td>
                            <td>
                                {{ user.email }}
                                {% if user.confirmed %}
                                <i class="check circle icon"></i>
                                {% else %}
                                <i class="remove circle icon"></i>
                                {% endif %}
                            </td>
                            <td>{{ user.role.name }}</td>
                            <td>
                                {% if user.vb_course %}
                                {{ user.vb_course.name }}
                                {% else %}
                                无
                                {% endif %}
                            </td>
                            <td>
                                {% if user.y_gre_course %}
                                {{ user.y_gre_course.name }}
                                {% else %}
                                无
                                {% endif %}
                            </td>
                            <td>
                                {{ user.last_punch.alias2 }}
                                {% if current_user.can(Permission.MANAGE_USER) %}
                                <a class="ui mini icon button loading-trigger" href="{{ url_for('manage.edit_punch_step_1', user_id=user.id, next=url_for('manage.user', page=pagination.page)) }}"><i class="refresh icon"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <div class="popup-trigger">{{ moment(user.member_since).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(user.member_since).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>
                                <div class="popup-trigger">{{ moment(user.last_seen).fromNow() }}</div>
                                <div class="ui popup popup-content">{{ moment(user.last_seen).format('YYYY-M-D H:mm:ss') }}</div>
                            </td>
                            <td>
                                <div class="ui mini icon buttons">
                                    <a class="ui mini button loading-trigger" href="{{ url_for('manage.edit_user', id=user.id, next=url_for('manage.user', page=pagination.page)) }}"><i class="edit icon"></i></a>
                                    <a class="ui mini negative button loading-trigger" href="{{ url_for('manage.delete_user', id=user.id, next=url_for('manage.user', page=pagination.page)) }}"><i class="remove user icon"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'manage.user') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="header"><i class="add user icon"></i> 添加用户激活信息</h3>
                <form id="new-activation" method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="fields">
                        <div class="three wide field">
                            {{ form.name.label() }}
                            {{ form.name(placeholder='姓名') }}
                        </div>
                        <div class="four wide field">
                            {{ form.activation_code.label() }}
                            {{ form.activation_code(placeholder='激活码') }}
                        </div>
                        <div class="three wide field">
                            {{ form.role.label() }}
                            {{ form.role(class='ui dropdown') }}
                        </div>
                        <div class="three wide field">
                            {{ form.vb_course.label() }}
                            {{ form.vb_course(class='ui dropdown') }}
                        </div>
                        <div class="three wide field">
                            {{ form.y_gre_course.label() }}
                            {{ form.y_gre_course(class='ui dropdown') }}
                        </div>
                    </div>
                    {{ form.submit(class='ui primary button') }}
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-manage-user.js') }}"></script>
{% endblock %}