/* customize-login.css */

.masthead.segment .ui.grid {
    height: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.masthead.segment .column {
    max-width: 450px;
}
.masthead.segment .ui.inverted.form .ui.inverted.segment div.fields a.link {
    color: rgba(255,255,255,.5);
}
.masthead.segment .ui.inverted.form .ui.inverted.segment div.fields a.link:active,
.masthead.segment .ui.inverted.form .ui.inverted.segment div.fields a.link:hover {
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .masthead.segment .ui.grid {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .masthead.segment .ui.inverted.form .ui.inverted.segment div.fields {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}