/* customize-manage-summary.css */

.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .ui.button {
    margin: auto;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3,
.ui.vertical.stripe .ui.list + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe .ui.statistic .label {
    font-size: 1.2em;
}
.ui.vertical.stripe p,
.ui.vertical.stripe .ui.table {
    /*font-size: 1.2em;*/
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.stats.stripe.segment,
.quote.stripe.segment {
    padding: 0em;
}
.stats.stripe.segment .grid .column,
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.quote.stripe.segment p span {
    font-size: 0.85em;
}

.masthead.segment #message-container {
    margin-top: 70px;
}


@media only screen and (max-width: 767px) {
    .masthead.segment {
        min-height: 160px;
    }
    .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }
    .masthead.segment #message-container {
        margin-top: 20px;
    }
}


.ui.cards .card .ipad-basic-info.content .header .right.floated a {
    color: #FFF;
}
.ui.cards .red.card .ipad-basic-info.content {
    background-color: #DB2828;
}
.ui.cards .orange.card .ipad-basic-info.content {
    background-color: #F2711C;
}
.ui.cards .yellow.card .ipad-basic-info.content {
    background-color: #FBBD08;
}
.ui.cards .olive.card .ipad-basic-info.content {
    background-color: #B5CC18;
}
.ui.cards .green.card .ipad-basic-info.content {
    background-color: #21BA45;
}
.ui.cards .teal.card .ipad-basic-info.content {
    background-color: #00B5AD;
}
.ui.cards .blue.card .ipad-basic-info.content {
    background-color: #2185D0;
}
.ui.cards .violet.card .ipad-basic-info.content {
    background-color: #6435C9;
}
.ui.cards .purple.card .ipad-basic-info.content {
    background-color: #A333C8;
}
.ui.cards .pink.card .ipad-basic-info.content {
    background-color: #E03997;
}
.ui.cards .brown.card .ipad-basic-info.content {
    background-color: #A5673F;
}
.ui.cards .grey.card .ipad-basic-info.content {
    background-color: #767676;
}
.ui.cards .black.card .ipad-basic-info.content {
    background-color: #1B1C1D;
}
.ui.cards .red.card .ipad-basic-info.content .header,
.ui.cards .orange.card .ipad-basic-info.content .header,
.ui.cards .yellow.card .ipad-basic-info.content .header,
.ui.cards .olive.card .ipad-basic-info.content .header,
.ui.cards .green.card .ipad-basic-info.content .header,
.ui.cards .teal.card .ipad-basic-info.content .header,
.ui.cards .blue.card .ipad-basic-info.content .header,
.ui.cards .violet.card .ipad-basic-info.content .header,
.ui.cards .purple.card .ipad-basic-info.content .header,
.ui.cards .pink.card .ipad-basic-info.content .header,
.ui.cards .brown.card .ipad-basic-info.content .header,
.ui.cards .grey.card .ipad-basic-info.content .header,
.ui.cards .black.card .ipad-basic-info.content .header {
    color: #FFF;
}
.ui.cards .red.card .ipad-basic-info.content .meta,
.ui.cards .orange.card .ipad-basic-info.content .meta,
.ui.cards .yellow.card .ipad-basic-info.content .meta,
.ui.cards .olive.card .ipad-basic-info.content .meta,
.ui.cards .green.card .ipad-basic-info.content .meta,
.ui.cards .teal.card .ipad-basic-info.content .meta,
.ui.cards .blue.card .ipad-basic-info.content .meta,
.ui.cards .violet.card .ipad-basic-info.content .meta,
.ui.cards .purple.card .ipad-basic-info.content .meta,
.ui.cards .pink.card .ipad-basic-info.content .meta,
.ui.cards .brown.card .ipad-basic-info.content .meta,
.ui.cards .grey.card .ipad-basic-info.content .meta,
.ui.cards .black.card .ipad-basic-info.content .meta {
    color: rgba(255,255,255,.6);
}