{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}预约VB课程{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-book-vb.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="ui big icon info message">
            <i class="info circle icon"></i>
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="ui inverted header"><i class="add to calendar icon"></i> 预约VB课程</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>时段</th>
                            <th>名额</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{ moment(schedule.date).format('YYYY-M-D ddd') }}</td>
                            <td>
                                {% if schedule.unstarted %}
                                <div class="ui teal label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {% if schedule.started %}
                                <div class="ui red label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {% if schedule.ended %}
                                <div class="ui label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {{ moment(schedule.period.start_time_utc).format('H:mm') }} - {{ moment(schedule.period.end_time_utc).format('H:mm') }}
                            </td>
                            {% if schedule.full %}
                            <td class="negative">{{ schedule.occupied_quota }} / {{ schedule.quota }}</td>
                            {% else %}
                            <td>{{ schedule.occupied_quota }} / {{ schedule.quota }}</td>
                            {% endif %}
                            {% if schedule.unstarted %}
                            {% if schedule.is_booked_by(current_user) %}
                            {% if current_user.booking_success(schedule) %}
                            <td class="positive">{{ current_user.booking_state(schedule).name }}</td>
                            {% else %}
                            <td class="warning">{{ current_user.booking_state(schedule).name }}</td>
                            {% endif %}
                            <td><a class="ui negative button" href="{{ url_for('book.unbook_vb', schedule_id=schedule.id, page=pagination.page) }}"><i class="remove from calendar icon"></i> 取消</a></td>
                            {% else %}
                            {% if schedule.full %}
                            <td>未预约</td>
                            <td><a class="ui teal button" href="{{ url_for('book.wait_vb', schedule_id=schedule.id, page=pagination.page) }}"><i class="wait icon"></i> 排队</a></td>
                            {% else %}
                            <td>未预约</td>
                            <td><a class="ui primary button" href="{{ url_for('book.book_vb', schedule_id=schedule.id, page=pagination.page) }}"><i class="add to calendar icon"></i> 预约</a></td>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% if schedule.started %}
                            {% if schedule.is_booked_by(current_user) %}
                            <td>{{ current_user.booking_state(schedule).name }}</td>
                            <td><a class="ui negative button" href="{{ url_for('book.miss_vb', schedule_id=schedule.id, page=pagination.page) }}"><i class="remove from calendar icon"></i> 取消</a></td>
                            {% else %}
                            <td>未预约</td>
                            <td><div class="ui disabled button"><i class="ban icon"></i> 无</div></td>
                            {% endif %}
                            {% endif %}
                            {% if schedule.ended %}
                            {% if schedule.is_booked_by(current_user) %}
                            <td>{{ current_user.booking_state(schedule).name }}</td>
                            <td><div class="ui disabled button"><i class="ban icon"></i> 无</div></td>
                            {% else %}
                            <td>未预约</td>
                            <td><div class="ui disabled button"><i class="ban icon"></i> 无</div></td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'book.vb') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-book-vb.js') }}"></script>
{% endblock %}
