{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}预约Y-GRE课程{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-book-y-gre.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="add to calendar icon"></i> 预约Y-GRE课程</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>时段</th>
                            <th>名额</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{ moment(schedule.date).format('YYYY-M-D ddd') }}</td>
                            <td>
                                {% if schedule.unstarted %}
                                <div class="ui teal label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {% if schedule.started %}
                                <div class="ui red label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {% if schedule.ended %}
                                <div class="ui label">{{ schedule.time_state }}</div>
                                {% endif %}
                                {{ moment(schedule.period.start_time_utc).format('H:mm') }} - {{ moment(schedule.period.end_time_utc).format('H:mm') }}
                            </td>
                            {% if schedule.full %}
                            <td class="negative">{{ schedule.occupied_quota }} / {{ schedule.quota }}</td>
                            {% else %}
                            <td>{{ schedule.occupied_quota }} / {{ schedule.quota }}</td>
                            {% endif %}
                            {% if schedule.unstarted %}
                            {% if schedule.is_booked_by(current_user) %}
                            {% if current_user.booking_success(schedule) %}
                            <td class="positive">
                                {{ current_user.booking_state(schedule).name }}
                                <a id="booking-qr-code-click-{{ current_user.booking(schedule).user_id }}-{{ current_user.booking(schedule).schedule_id }}"><i class="large qrcode icon"></i></a>
                                <div id="booking-qr-code-{{ current_user.booking(schedule).user_id }}-{{ current_user.booking(schedule).schedule_id }}" class="ui flowing popup top left transition hidden">
                                    <img class="ui small image" src="{{ qrcode(current_user.booking(schedule).booking_code) }}">
                                </div>
                            </td>
                            {% else %}
                            <td class="warning">{{ current_user.booking_state(schedule).name }}</td>
                            {% endif %}
                            <td><a class="ui negative mini button loading-trigger" href="{{ url_for('book.unbook_y_gre', schedule_id=schedule.id, page=pagination.page) }}"><i class="remove from calendar icon"></i> 取消</a></td>
                            {% else %}
                            {% if schedule.full %}
                            <td>未预约</td>
                            <td><a class="ui teal mini button loading-trigger" href="{{ url_for('book.wait_y_gre', schedule_id=schedule.id, page=pagination.page) }}"><i class="wait icon"></i> 排队</a></td>
                            {% else %}
                            <td>未预约</td>
                            <td><a class="ui primary mini button loading-trigger" href="{{ url_for('book.book_y_gre', schedule_id=schedule.id, page=pagination.page) }}"><i class="add to calendar icon"></i> 预约</a></td>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% if schedule.started %}
                            {% if schedule.is_booked_by(current_user) %}
                            <td>{{ current_user.booking_state(schedule).name }}</td>
                            <td><a class="ui negative mini button loading-trigger" href="{{ url_for('book.miss_y_gre', schedule_id=schedule.id, page=pagination.page) }}"><i class="remove from calendar icon"></i> 取消</a></td>
                            {% else %}
                            <td>未预约</td>
                            <td><div class="ui disabled mini button"><i class="ban icon"></i> 无</div></td>
                            {% endif %}
                            {% endif %}
                            {% if schedule.ended %}
                            {% if schedule.is_booked_by(current_user) %}
                            <td>{{ current_user.booking_state(schedule).name }}</td>
                            <td><div class="ui disabled mini button"><i class="ban icon"></i> 无</div></td>
                            {% else %}
                            <td>未预约</td>
                            <td><div class="ui disabled mini button"><i class="ban icon"></i> 无</div></td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                {{ macros.pagination_widget(pagination, 'book.y_gre') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/customize-book-y-gre.js') }}"></script>
<script>
    {% for schedule in schedules %}
    {% if current_user.booking_success(schedule) %}
    $('#booking-qr-code-click-{{ current_user.booking(schedule).user_id }}-{{ current_user.booking(schedule).schedule_id }}')
        .popup({
            popup : $('#booking-qr-code-{{ current_user.booking(schedule).user_id }}-{{ current_user.booking(schedule).schedule_id }}'),
            on    : 'click'
        })
    ;
    {% endif %}
    {% endfor %}
</script>
{% endblock %}
