{% extends "base.html" %}

{% block title %}403{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-errors.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    <h1 class="ui inverted header">403</h1>
    <h2>啊，好像访问不鸟呢！(>_<)</h2>
    <a class="ui huge inverted yellow basic button" href="{{ url_for('main.index') }}">回到首页 <i class="right arrow icon"></i></a>
</div>
{% endblock %}