{% extends "base.html" %}

{% block title %}500{% endblock %}

{% block customized_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/customize-error.css') }}">
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    <h1 class="ui inverted header">500</h1>
    <h2>喔唷！服务器跪喏！(>_<)</h2>
    <a class="ui huge inverted yellow basic button" href="{{ url_for('main.index') }}"><i class="left arrow icon"></i>回到首页</a>
</div>
{% endblock %}