{% macro pagination_widget(pagination, endpoint, fragment='') %}
<div class="ui mini secondary paginate menu">
    {% if pagination.has_prev %}<a class="item loading-trigger" href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}"><i class="fa fa-chevron-left"></i></a>{% else %}<div class="disabled item"><i class="fa fa-chevron-left"></i></div>{% endif %}
    {% for p in pagination.iter_pages(left_edge=2, left_current=2, right_current=5, right_edge=2) %}{% if p %}<a class="{% if p == pagination.page %}active {% endif %}item loading-trigger" href="{{ url_for(endpoint, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>{% else %}<div class="disabled item"><i class="fa fa-ellipsis-h"></i></div>{% endif %}{% endfor %}
    {% if pagination.has_next %}<a class="item loading-trigger" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}"><i class="fa fa-chevron-right"></i></a>{% else %}<div class="disabled item"><i class="fa fa-chevron-right"></i></div>{% endif %}
</div>
{% endmacro %}


{% macro message_widget() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="message-container">
    {% for category, message in messages %}
    <div class="ui {% if category != 'announcement' %}big{% endif %} icon {{ category }} message">
        {% if category == 'announcement' %}
        {% elif category == 'success' %}
        <i class="check circle icon"></i>
        {% elif category == 'error' %}
        <i class="remove circle icon"></i>
        {% else %}
        <i class="{{ category }} circle icon"></i>
        {% endif %}
        <i class="close icon"></i>
        {{ message | safe }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endmacro %}


{% macro auth_message_widget() %}
{% with messages = get_flashed_messages(category_filter=['info']) %}
{% if messages %}
<div class="ui flask info message">
    <ul class="list">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=['warning']) %}
{% if messages %}
<div class="ui flask warning message">
    <ul class="list">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=['success']) %}
{% if messages %}
<div class="ui flask positive message">
    <ul class="list">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=['error']) %}
{% if messages %}
<div class="ui flask negative message">
    <ul class="list">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% endmacro %}


{% macro form_validation_error_widget(form) %}
{% if form.errors %}
<div class="ui flask negative message">
    <ul class="list">
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}


{% macro user_gender(user, is_current_user=False) %}
{% if is_current_user %}<i class="yellow star icon"></i>{% endif %}{{ user.name }}{% if user.gender %}<i class="{% if user.gender.name == '男' %}blue man{% elif user.gender.name == '女' %}pink woman{% endif %} icon"></i>{% endif %}
{% endmacro %}


{% macro user_url(user, is_current_user=False) %}
{% if is_current_user %}<i class="yellow star icon"></i>{% endif %}<a href="{{ user.url }}" target="_blank">{{ user.name }}</a>
{% endmacro %}


{% macro user_url_gender(user, is_current_user=False) %}
{% if is_current_user %}<i class="yellow star icon"></i>{% endif %}<a href="{{ user.url }}" target="_blank">{{ user.name }}</a>{% if user.gender %}<i class="{% if user.gender.name == '男' %}blue man{% elif user.gender.name == '女' %}pink woman{% endif %} icon"></i>{% endif %}
{% endmacro %}


{% macro user_popup(user, is_current_user=False) %}
{% if is_current_user %}<i class="yellow star icon"></i>{% endif %}<a class="popup-trigger" href="{{ user.url }}" target="_blank" data-variation="inverted">{{ user.name }}</a>
<div class="ui flowing popup popup-content">{{ user.name_alias }}</div>
{% endmacro %}


{% macro user_popup_gender(user, is_current_user=False) %}
{% if is_current_user %}<i class="yellow star icon"></i>{% endif %}<a class="popup-trigger" href="{{ user.url }}" target="_blank" data-variation="inverted">{{ user.name }}</a>{% if user.gender %}<i class="{% if user.gender.name == '男' %}blue man{% elif user.gender.name == '女' %}pink woman{% endif %} icon"></i>{% endif %}
<div class="ui flowing popup popup-content">{{ user.name_alias }}</div>
{% endmacro %}


{% macro user_email(user) %}
<i class="{% if user.confirmed %}green check{% else %}red remove{% endif %} icon"></i>{{ user.email }}
{% endmacro %}


{% macro date_picker_js_snippet() %}
$('.ui.date.calendar').calendar({
    type: 'date',
    ampm: false,
    text: {
        days: ['日', '一', '二', '三', '四', '五', '六'],
        months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        monthsShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一', '十二'],
        today: '今天',
        now: '现在',
        am: '上午',
        pm: '下午'
    },
    formatter: {
        header: function (date, mode, settings) {
            return date.getFullYear() + '年 ' + settings.text.monthsShort[date.getMonth()]
        },
        date: function (date, settings) {
            if (!date) {
                return ''
            } else {
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                if (month < 10) {
                    month = '0' + month;
                };
                var day = date.getDate();
                if (day < 10) {
                    day = '0' + day;
                };
                return year + '-' + month + '-' + day
            };
        }
    },
});
{% endmacro %}


{% macro year_picker_js_snippet() %}
$('.ui.year.calendar').calendar({
    type: 'year'
});
{% endmacro %}