{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}收件箱{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="inbox icon"></i>收件箱</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    <div class="ui internally celled stackable grid container">
        <div class="row">
            <div class="four wide column">
                <div class="ui secondary vertical fluid menu">
                    <a class="item {% if show_unread_messages %}active {% endif %}loading-trigger" href="{{ url_for('main.unread_messages') }}">未读<div class="ui {% if show_unread_messages %}blue {% endif %}label">{{ unread_num }}</div></a>
                    <a class="item {% if show_all_messages %}active {% endif %}loading-trigger" href="{{ url_for('main.all_messages') }}">全部<div class="ui {% if show_all_messages %}blue {% endif %}label">{{ all_num }}</div></a>
                </div>
            </div>
            <div class="twelve wide column">
                {% if messages %}
                <div class="ui divided items">
                    {% for message in messages %}
                    <div class="item">
                        <div class="content">
                            <div class="header">研修反馈：{{ message.study_plan.lesson.alias }}</div>
                            <div class="meta"><i class="clock icon"></i>{{ moment(message.modified_at).fromNow() }}</div>
                            <div class="description">{{ message.body_html | safe }}</div>
                            <div class="extra">发信人：{{ message.modified_by.name }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'main.inbox') }}{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_scripts %}
{{ super() }}
<script type="text/javascript">
$('.message .close')
    .on('click', function () {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;
</script>
{% endblock %}