{% extends "base.html" %}

{% block title %}主页{% endblock %}

{% block page_content_header %}
<div class="ui text container">
    <h1 class="ui inverted header"><img src="{{ url_for('static', filename='images/logo-white.png') }}"></h1>
    <h2>云英语教育服务支撑系统</h2>
    <a class="ui huge inverted yellow basic button" href="./#projects">Get Started <i class="right arrow icon"></i></a>
</div>
{% endblock %}

{% block page_content %}
<div id="projects" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned column">
                <h3 class="ui header">Y-System</h3>
                <p>Y-System Demo</p>
                <a class="ui disabled huge black basic button" href="https://github.com/Y-Lab/Y-System" target="_blank"><i class="github icon"></i> View the GitHub Project</a>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned column">
                <h3 class="ui header">Y-System</h3>
                <p>Y-System Demo</p>
                <a class="ui disabled huge black basic button" href="https://github.com/Y-Lab/Y-System" target="_blank"><i class="github icon"></i> View the GitHub Project</a>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned column">
                <h3 class="ui header">Y-System</h3>
                <p>Y-System Demo</p>
                <a class="ui disabled huge black basic button" href="https://github.com/Y-Lab/Y-System" target="_blank"><i class="github icon"></i> View the GitHub Project</a>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned column">
                <h3 class="ui header">Y-System</h3>
                <p>Y-System Demo</p>
                <a class="ui disabled huge black basic button" href="https://github.com/Y-Lab/Y-System" target="_blank"><i class="github icon"></i> View the GitHub Project</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}