{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{% if current_user.id == user.id %}研修档案{% else %}{{ user.name }}的档案{% endif %}{% endblock %}

{% block customized_styles %}
{{ super() }}
{% include '_style_common.html' %}
<style type="text/css">
#side-bar-vb-progress div.label,
#side-bar-y-gre-progress div.label {
    text-align: left;
}
</style>
{% endblock %}

{% block page_masthead %}
<div class="ui text container">
    {{ macros.message_widget() }}
    <h1 class="ui inverted header"><i class="id card icon"></i>{% if current_user.id == user.id %}研修档案{% else %}{{ user.name }}的档案{% endif %}</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="ui vertical stripe segment">
    {% if show_profile_progress %}
    <div id="page-loading-progress" class="ui top attached blue inverted progress">
        <div class="bar"></div>
    </div>
    {% endif %}
    <div class="ui internally celled stackable grid container">
        <div class="row">
            <div class="four wide column">
                <div class="ui basic vertical segment">
                    <a id="avatar" href="//cn.gravatar.com/emails/" target="_blank" data-position="top center" data-variation="inverted" data-content="通过Gravatar设置头像">
                        <img class="ui centered medium rounded image" src="{{ user.avatar(300) }}" onerror="noAvatar(this)">
                    </a>
                </div>
                <div class="ui vertical segment">
                    <h3 class="ui header">
                        <div class="content">
                            {{ macros.user_gender(user) }}
                            <div class="sub header">{{ user.role.name }}</div>
                        </div>
                    </h3>
                    <div>VB班：{% if user.vb_course %}{{ user.vb_course.name }}{% else %}无{% endif %}</div>
                    {% if user.can('预约Y-GRE课程') %}<div>Y-GRE班：{% if user.y_gre_course %}{{ user.y_gre_course.name }}{% else %}无{% endif %}</div>{% endif %}
                </div>
                <div class="ui vertical segment">
                    <div>{{ macros.user_email(user) }}</div>
                </div>
                <div id="side-bar-progress" class="ui vertical segment loading">
                    <div class="ui header">学习进度</div>
                    <div id="side-bar-vb-progress" class="ui tiny progress disabled">
                        <div class="bar"></div>
                        <div class="label">VB完成 0%</div>
                    </div>
                    {% if user.can('预约Y-GRE课程') %}
                    <div id="side-bar-y-gre-progress" class="ui tiny progress disabled">
                        <div class="bar"></div>
                        <div class="label">Y-GRE完成 0%</div>
                    </div>
                    {% endif %}
                </div>
                <div class="ui vertical segment">
                    <div class="ui header">分数预测</div>
                </div>
                <div class="ui vertical segment">
                    <div class="ui header">预约统计</div>
                    <div>即将开始 {{ user.valid_bookings.count() }}</div>
                    <div>排队中 {{ user.wait_bookings.count() }}</div>
                    <div>赴约 {{ user.keep_bookings.count() }} 次</div>
                    <div>爽约 {{ user.miss_bookings.count() }} 次</div>
                    <div>取消 {{ user.cancel_bookings.count() }} 次</div>
                    <div>迟到 {{ user.late_bookings.count() }} 次</div>
                    <div>未预约到场 {{ user.walk_in_rentals.count() }} 次</div>
                </div>
                {% if current_user.can('管理') %}
                <div class="ui vertical segment">
                    <div class="ui header">用户标签</div>
                    {% if user.has_tags.count() %}
                    {% with tags = user.has_tags %}
                    <div class="ui labels">
                        {% for tag in tags %}<div class="ui {{ tag.tag.color.css_class }} label"><i class="tag icon"></i>{{ tag.tag.name }}</div>{% endfor %}
                    </div>
                    {% endwith %}
                    {% else %}无{% endif %}
                </div>
                {% endif %}
                <div class="ui vertical segment">
                    <div class="popup-trigger" data-variation="inverted">激活时间：{{ moment(user.activated_at).fromNow() }}</div>
                    <div class="ui popup popup-content">{{ moment(user.activated_at).format('YYYY-M-D H:mm:ss') }}</div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui large three item secondary pointing menu">
                    <a class="item {% if show_profile_overview %}active {% endif %}loading-trigger" href="{{ url_for('main.profile_overview', id=user.id) }}"><i class="address card outline icon"></i>概览</a>
                    <a class="item {% if show_profile_progress %}active {% endif %}loading-trigger" href="{{ url_for('main.profile_progress', id=user.id) }}"><i class="book icon"></i>进度</a>
                    <a class="item {% if show_profile_bookings %}active {% endif %}loading-trigger" href="{{ url_for('main.profile_bookings', id=user.id) }}"><i class="checked calendar icon"></i>预约</a>
                </div>
                {% if show_profile_overview %}
                {% endif %}
                {% if show_profile_progress %}
                <div id="vb" class="ui vertical segment loading">
                    <div id="last-vb-punch" class="ui header disabled">VB进度：<span>N/A</span></div>
                    <div id="vb-progress-bar" class="ui progress disabled">
                        <div class="bar">
                            <div class="progress">0%</div>
                        </div>
                    </div>
                    <table class="ui very basic selectable celled table">
                        <thead>
                            <tr>
                                <th>课程</th>
                                <th>内容</th>
                                <th>作业</th>
                                <th>考试</th>
                            </tr>
                        </thead>
                        <tbody id="vb-lessons"></tbody>
                    </table>
                </div>
                {% if user.can('预约Y-GRE课程') %}
                <div id="y-gre" class="ui vertical segment loading">
                    <div id="last-y-gre-punch" class="ui header disabled">Y-GRE进度：<span>N/A</span></div>
                    <div id="y-gre-progress-bar" class="ui progress disabled">
                        <div class="bar">
                            <div class="progress">0%</div>
                        </div>
                    </div>
                    <table class="ui very basic selectable celled table">
                        <thead>
                            <tr>
                                <th>课程</th>
                                <th>内容</th>
                                <th>考试</th>
                            </tr>
                        </thead>
                        <tbody id="y-gre-lessons"></tbody>
                    </table>
                </div>
                {% endif %}
                {% endif %}
                {% if show_profile_bookings %}
                <table class="ui very basic sortable selectable celled table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>时段</th>
                            <th>状态</th>
                            <th>预约状态</th>
                            <th>预约码</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ moment(booking.schedule.date).format('YYYY-M-D ddd') }}</td>
                            <td>{{ booking.schedule.period.type.name }}</td>
                            <td>{% if booking.schedule.unstarted %}<div class="ui teal label">{{ booking.schedule.time_state }}</div>{% endif %}{% if booking.schedule.started %}<div class="ui red label">{{ booking.schedule.time_state }}</div>{% endif %}{% if booking.schedule.ended %}<div class="ui label">{{ booking.schedule.time_state }}</div>{% endif %}{{ moment(booking.schedule.period.start_time_utc).format('H:mm') }} - {{ moment(booking.schedule.period.end_time_utc).format('H:mm') }}</td>
                            <td>{% if booking.valid %}<i class="checked calendar icon"></i>{% endif %}{% if booking.waited %}<i class="wait icon"></i>{% endif %}{% if booking.canceled %}<i class="remove from calendar icon"></i>{% endif %}{% if booking.kept %}<i class="smile icon"></i>{% endif %}{% if booking.late %}<i class="meh icon"></i>{% endif %}{% if booking.missed %}<i class="frown icon"></i>{% endif %}{% if booking.invalid %}<i class="delete icon"></i>{% endif %}{{ booking.state.name }}{% if booking.waited %}<div class="ui teal circular label">{{ booking.queue_position }}</div>{% endif %}</td>
                            <td>{% if booking.valid %}<i id="booking-qr-code-click-{{ booking.user_id }}-{{ booking.schedule_id }}" class="large blue qrcode link icon"></i><div id="booking-qr-code-{{ booking.user_id }}-{{ booking.schedule_id }}" class="ui flowing popup top left transition hidden"><img class="ui small image" src="{{ qrcode(booking.token) }}"></div>{% else %}N/A{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ macros.pagination_widget(pagination, 'main.profile', id=user.id) }}{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if announcements %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="announcement icon"></i>通知</h3>
                <div class="ui divided items">
                    {% for announcement in announcements %}
                    <div class="item">
                        <div class="content">
                            <div class="header">{{ announcement.title }}</div>
                            {% if current_user.can('管理通知') %}
                            <div class="right floated">
                                <a class="ui circular icon button loading-trigger" href="{{ url_for('manage.retract_announcement', id=announcement.id, next=url_for('main.profile', id=user.id, page=pagination.page)) }}" data-content="撤回" data-position="top center" data-variation="inverted"><i class="undo icon"></i></a>
                                <a class="ui circular icon button loading-trigger" href="{{ url_for('manage.edit_announcement', id=announcement.id, next=url_for('main.profile', id=user.id, page=pagination.page)) }}" data-content="编辑" data-position="top center" data-variation="inverted"><i class="edit icon"></i></a>
                                {% endif %}
                            </div>
                            <div class="meta"><i class="send outline icon"></i>{{ moment(announcement.modified_at).fromNow() }}</div>
                            <div class="description">{{ announcement.body_html | safe }}</div>
                            <div class="extra">发布人：{{ announcement.modified_by.name }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if current_user.can('管理') %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header"><i class="user icon"></i>查询用户档案</h3>
                <div class="ui search">
                    <div class="ui left icon input">
                        <input class="prompt" type="text" placeholder="姓名/邮箱">
                        <i class="user icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block customized_scripts %}
{{ super() }}
{% if show_profile_bookings %}<script type="text/javascript" src="{{ url_for('static', filename='assets/js/tablesort.js') }}"></script>{% endif %}
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;

$('#avatar').popup();

$('#avatar img').transition('pulse');

function noAvatar(avatarImage) {
    $(avatarImage).attr('src', "{{ url_for('static', filename='images/wireframes/square-image.png') }}");
};

var progressDataUrl = "{{ url_for('main.profile_progress_data', id=user.id) }}";
$.getJSON(progressDataUrl, function(data) {
    $('#side-bar-progress').removeClass('loading');
    if (data.progress.vb.value > 0) {
        $('#side-bar-vb-progress').removeClass('disabled').addClass('blue').progress({
            total: data.progress.vb.total,
            value: data.progress.vb.value,
            text: {
                active: 'VB完成 {percent}%'
            }
        });
    };
    {% if user.can('预约Y-GRE课程') %}
    if (data.progress.y_gre.value > 0) {
        $('#side-bar-y-gre-progress').removeClass('disabled').addClass('teal').progress({
            total: data.progress.y_gre.total,
            value: data.progress.y_gre.value,
            text: {
                active: 'Y-GRE完成 {percent}%'
            }
        });
    };
    {% endif %}
});

{% if show_profile_overview %}
{% endif %}

{% if show_profile_progress %}
// progress bar
$('#page-loading-progress').progress({
    total: {% if user.can('预约Y-GRE课程') %}2{% else %}1{% endif %},
    onSuccess: function() {
        $('#page-loading-progress').fadeOut(1000, function() {
            $('#page-loading-progress').remove();
        });
    }
});

// VB progress
var VBProgressUrl = "{{ url_for('main.profile_progress_vb', id=user.id) }}";
$.getJSON(VBProgressUrl, function(data) {
    $('#vb').removeClass('loading');
    if (data.progress.value > 0) {
        $('#last-vb-punch').removeClass('disabled');
        $('#last-vb-punch span').text(function (){
            if (data.last_punch) {
                return data.last_punch.section.alias;
            } else {
                return 'N/A';
            };
        });
        $('#vb-progress-bar').removeClass('disabled').addClass('blue').progress({
            total: data.progress.total
        });
    };
    for (var lesson_idx in data.lessons) {
        $('#vb-lessons').append(
            $('<tr>')
                .attr('id', data.lessons[lesson_idx].element_id)
                .append(
                    $('<td>')
                        .addClass('single line')
                        .text(data.lessons[lesson_idx].name)
                )
                .append(
                    $('<td>').attr('id', data.lessons[lesson_idx].element_id + '-sections')
                )
                .append(
                    $('<td>').attr('id', data.lessons[lesson_idx].element_id + '-assignments')
                )
                .append(
                    $('<td>').attr('id', data.lessons[lesson_idx].element_id + '-tests')
                )
        );
        if (data.lessons[lesson_idx].sections.length > 1) {
            $('#' + data.lessons[lesson_idx].element_id).addClass('top aligned');
        };
        if (data.lessons[lesson_idx].sections.length < 3) {
            $('#' + data.lessons[lesson_idx].element_id + '-sections').addClass('single line');
        };
        if (data.lessons[lesson_idx].sections.length > 0) {
            $('#' + data.lessons[lesson_idx].element_id + '-sections').append(
                $('<div>').addClass('ui labels')
            );
            for (var section_idx in data.lessons[lesson_idx].sections) {
                $('#' + data.lessons[lesson_idx].element_id + '-sections .ui.labels').append(
                    $('<div>')
                        .attr('id', data.lessons[lesson_idx].sections[section_idx].element_id)
                        .addClass('ui label')
                        .text(data.lessons[lesson_idx].sections[section_idx].name)
                );
                {% if current_user.can('管理学习进度') %}
                if (data.lessons[lesson_idx].sections[section_idx].order === 0) {
                    $('#' + data.lessons[lesson_idx].element_id + '-sections .ui.labels').append(
                        $('<a>')
                            .attr('id', data.lessons[lesson_idx].sections[section_idx].element_id + '-action')
                            .attr('href', '/manage/punch/{{ user.id }}/' + data.lessons[lesson_idx].sections[section_idx].element_id.split('-').pop() + "?next={{ url_for('main.profile', id=user.id) }}")
                            .attr('data-content','标记为已完成')
                            .attr('data-position', 'top center')
                            .attr('data-variation', 'inverted')
                            .html('<i class="green add link icon"></i>')
                            .popup()
                    );
                };
                {% endif %}
            };
        } else {
            $('#' + data.lessons[lesson_idx].element_id + '-sections').text('无');
        };
        if (data.lessons[lesson_idx].assignments.length < 3) {
            $('#' + data.lessons[lesson_idx].element_id + '-assignments').addClass('single line');
        };
        if (data.lessons[lesson_idx].assignments.length > 0) {
            $('#' + data.lessons[lesson_idx].element_id + '-assignments').append(
                $('<div>').addClass('ui labels')
            );
            for (var assignment_idx in data.lessons[lesson_idx].assignments) {
                $('#' + data.lessons[lesson_idx].element_id + '-assignments .ui.labels').append(
                    $('<div>')
                        .attr('id', data.lessons[lesson_idx].assignments[assignment_idx].element_id)
                        .addClass('ui label')
                        .text(data.lessons[lesson_idx].assignments[assignment_idx].name)
                );
            };
        } else {
            $('#' + data.lessons[lesson_idx].element_id + '-assignments').text('无');
        };
        if (data.lessons[lesson_idx].tests.length < 3) {
            $('#' + data.lessons[lesson_idx].element_id + '-tests').addClass('single line');
        };
        if (data.lessons[lesson_idx].tests.length > 0) {
            $('#' + data.lessons[lesson_idx].element_id + '-tests').append(
                $('<div>').addClass('ui labels')
            );
            for (var test_idx in data.lessons[lesson_idx].tests) {
                $('#' + data.lessons[lesson_idx].element_id + '-tests .ui.labels').append(
                    $('<div>')
                        .attr('id', data.lessons[lesson_idx].tests[test_idx].element_id)
                        .addClass('ui label')
                        .text(data.lessons[lesson_idx].tests[test_idx].name)
                );
            };
        } else {
            $('#' + data.lessons[lesson_idx].element_id + '-tests').text('无');
        };
    };
    for (var punch_idx in data.punches) {
        if (data.punches[punch_idx].section.element_id === data.last_punch.section.element_id) {
            $('#' + data.punches[punch_idx].section.element_id)
                .addClass('orange')
                .html('<i class="bookmark icon"></i>' + data.last_punch.section.name);
        } else {
            $('#' + data.punches[punch_idx].section.element_id)
                .addClass('green')
                .html('<i class="check icon"></i>' + data.punches[punch_idx].section.name)
            };
        $('#' + data.punches[punch_idx].section.element_id)
            .attr('data-html', moment(data.punches[punch_idx].punched_at).fromNow() + '<br />' + moment(data.punches[punch_idx].punched_at).format('YYYY-M-D H:mm:ss'))
            .attr('data-position', 'top left')
            .attr('data-variation', 'inverted')
            .popup();
        {% if current_user.can('管理学习进度') %}
        if (data.punches[punch_idx].section.order === 0) {
            $('#' + data.punches[punch_idx].section.element_id + '-action')
                .attr('href', '/manage/unpunch/{{ user.id }}/' + data.punches[punch_idx].section.element_id.split('-').pop() + "?next={{ url_for('main.profile', id=user.id) }}")
                .attr('data-content','标记为未完成')
                .attr('data-position', 'top center')
                .attr('data-variation', 'inverted')
                .html('<i class="red remove link icon"></i>')
                .popup('destroy')
                .popup();
        };
        {% endif %}
        $('#vb-progress-bar').progress('increment');
    };
    for (var assignment_score_idx in data.assignment_scores) {
        $('#' + data.assignment_scores[assignment_score_idx].assignment.element_id)
            .addClass('green')
            .html('<i class="check icon"></i>' + data.assignment_scores[assignment_score_idx].assignment.name + '<div class="detail">' + data.assignment_scores[assignment_score_idx].grade + '</div>')
            .attr('data-html', moment(data.assignment_scores[assignment_score_idx].modified_at).fromNow() + '<br />' + moment(data.assignment_scores[assignment_score_idx].modified_at).format('YYYY-M-D H:mm:ss'))
            .attr('data-position', 'top left')
            .attr('data-variation', 'inverted')
            .popup();
        $('#vb-progress-bar').progress('increment');
    };
    for (var test_score_idx in data.test_scores) {
        $('#' + data.test_scores[test_score_idx].test.element_id)
            .addClass('green')
            .html('<i class="check icon"></i>' + data.test_scores[test_score_idx].test.name + '<div class="detail">' + data.test_scores[test_score_idx].score_alias + '</div>')
            .attr('data-html', moment(data.test_scores[test_score_idx].modified_at).fromNow() + '<br />' + moment(data.test_scores[test_score_idx].modified_at).format('YYYY-M-D H:mm:ss'))
            .attr('data-position', 'top left')
            .attr('data-variation', 'inverted')
            .popup();
        $('#vb-progress-bar').progress('increment');
    };
    $('#page-loading-progress').progress('increment');
});

{% if user.can('预约Y-GRE课程') %}
// Y-GRE progress
var YGREProgressUrl = "{{ url_for('main.profile_progress_y_gre', id=user.id) }}";
$.getJSON(YGREProgressUrl, function(data) {
    $('#y-gre').removeClass('loading');
    if (data.progress.value > 0) {
        $('#last-y-gre-punch').removeClass('disabled');
        $('#last-y-gre-punch span').text(function (){
            if (data.last_punch) {
                return data.last_punch.section.alias;
            } else {
                return 'N/A';
            };
        });
        $('#y-gre-progress-bar').removeClass('disabled').addClass('teal').progress({
            total: data.progress.total
        });
    };
    $('.ui.y-gre.progress').progress({ percent: data.progress });
    for (var lesson_idx in data.lessons) {
        $('#y-gre-lessons').append(
            $('<tr>')
                .attr('id', data.lessons[lesson_idx].element_id)
                .append(
                    $('<td>')
                        .addClass('single line')
                        .text(data.lessons[lesson_idx].name)
                )
                .append(
                    $('<td>').attr('id', data.lessons[lesson_idx].element_id + '-sections')
                )
                .append(
                    $('<td>').attr('id', data.lessons[lesson_idx].element_id + '-tests')
                )
        );
        if (data.lessons[lesson_idx].sections.length > 1) {
            $('#' + data.lessons[lesson_idx].element_id).addClass('top aligned');
        };
        if (data.lessons[lesson_idx].sections.length < 3) {
            $('#' + data.lessons[lesson_idx].element_id + '-sections').addClass('single line');
        };
        if (data.lessons[lesson_idx].sections.length > 0) {
            $('#' + data.lessons[lesson_idx].element_id + '-sections').append(
                $('<div>').addClass('ui labels')
            );
            for (var section_idx in data.lessons[lesson_idx].sections) {
                $('#' + data.lessons[lesson_idx].element_id + '-sections .ui.labels').append(
                    $('<div>')
                        .addClass('ui label')
                        .attr('id', data.lessons[lesson_idx].sections[section_idx].element_id)
                        .text(data.lessons[lesson_idx].sections[section_idx].name)
                );
            };
        } else {
            $('#' + data.lessons[lesson_idx].element_id + '-sections').text('无');
        };
        if (data.lessons[lesson_idx].tests.length < 3) {
            $('#' + data.lessons[lesson_idx].element_id + '-tests').addClass('single line');
        };
        if (data.lessons[lesson_idx].tests.length > 0) {
            $('#' + data.lessons[lesson_idx].element_id + '-tests').append(
                $('<div>').addClass('ui labels')
            );
            for (var test_idx in data.lessons[lesson_idx].tests) {
                $('#' + data.lessons[lesson_idx].element_id + '-tests .ui.labels').append(
                    $('<div>')
                        .addClass('ui label')
                        .attr('id', data.lessons[lesson_idx].tests[test_idx].element_id)
                        .text(data.lessons[lesson_idx].tests[test_idx].name)
                );
            };
        } else {
            $('#' + data.lessons[lesson_idx].element_id + '-tests').text('无');
        };
    };
    for (var punch_idx in data.punches) {
        if (data.punches[punch_idx].section.element_id === data.last_punch.section.element_id) {
            $('#' + data.punches[punch_idx].section.element_id)
                .addClass('orange')
                .html('<i class="bookmark icon"></i>' + data.last_punch.section.name);
        } else {
            $('#' + data.punches[punch_idx].section.element_id)
                .addClass('green')
                .html('<i class="check icon"></i>' + data.punches[punch_idx].section.name)
            };
        $('#' + data.punches[punch_idx].section.element_id)
            .attr('data-html', moment(data.punches[punch_idx].punched_at).fromNow() + '<br />' + moment(data.punches[punch_idx].punched_at).format('YYYY-M-D H:mm:ss'))
            .attr('data-position', 'top left')
            .attr('data-variation', 'inverted')
            .popup();
        $('#y-gre-progress-bar').progress('increment');
    };
    for (var test_score_idx in data.test_scores) {
        $('#' + data.test_scores[test_score_idx].test.element_id)
            .addClass('green')
            .html('<i class="check icon"></i>' + data.test_scores[test_score_idx].test.name + '<div class="detail">' + data.test_scores[test_score_idx].v_score_alias + '</div>')
            .attr('data-html', data.test_scores[test_score_idx].score_alias + '<br />' + moment(data.test_scores[test_score_idx].modified_at).fromNow() + '<br />' + moment(data.modified_at).format('YYYY-M-D H:mm:ss'))
            .attr('data-position', 'top left')
            .attr('data-variation', 'inverted')
            .popup();
        $('#y-gre-progress-bar').progress('increment');
    };
    $('#page-loading-progress').progress('increment');
});
{% endif %}
{% endif %}

{% if show_profile_bookings %}
$('.ui.sortable.table').tablesort();

{% for booking in bookings %}
$('#booking-qr-code-click-{{ booking.user_id }}-{{ booking.schedule_id }}')
    .popup({
        popup: $('#booking-qr-code-{{ booking.user_id }}-{{ booking.schedule_id }}'),
        on: 'click'
    })
;
{% endfor %}
{% endif %}

{% if announcements and current_user.can('管理通知') %}
$('.right.floated .ui.circular.icon.button').popup();
{% endif %}

{% if current_user.can('管理') %}
$('.ui.search')
    .search({
        apiSettings: {
            url: "{{ url_for('manage.search_user') }}?keyword={query}"
        },
        showNoResults: false
    })
;
{% endif %}
</script>
{% endblock %}